body { 
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 6px;
	margin: 5px;
}

a {	
	color: darkblue;
}

.yvf_fields {
  background-color: lightblue;
  /* color: blue; */
  /* font-weight: bold; */
 }
 
.prop_composition_valid {
  color: green;
 }

.prop_composition_invalid {
  color: red;
}

.status-empty {
   background-color: #FFA6C9;
   color: black;
 }

.status-draft {
   background-color: #F0E68C;
   color: black;
 }
 
.status-active {
   background-color: #addfad;
   color: black;
 }
 
.status-retired {
   background-color: #A9A9A9;
   color: black;
 }
 
.copied-version {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

.businessRulesTree_popup {
	background-color: white;
	border: 1px solid #87b3ff;
	font-size: 10px;
	padding: 5px;
}

.businessRulesTree_popupmessage {
	font-size: 10px;
}

.propositon_bold {
	font-weight: bold;
}

a:visited {	
	color: darkblue; 
}

.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
	margin-top: auto;
	border: groove;
}
.gwt-Tree .gwt-TreeItem {
  padding: 1px;
  margin: 0px;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
  font-size: 12px;  
}

.gwt-Tree .gwt-TreeItem-selected {
  background: #93c2f1;
}

.gwt-StackPanel {
	background-color: white;
	border: 1px solid #AAAAAA;
	width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}
.rulesFormPanel {
	background-color: lightyellow;
}
.gwt-Label-Rules {
	text-align: left;
	vertical-align: middle;
}
.textbox {
	text-align: left;
	vertical-align: top;
	white-space: normal;
}
.gwt-Tree-rules {
	border: groove;
}
.rulesBorder {
	border: groove;
}
.gwt-Label-Bold {
	font-weight: bold;
}
.gwt-Label-Form-Heading {
	margin-bottom: 5px;
	font-weight: bold;
}

.gwt-DialogBox { the outside of the dialog }
.gwt-DialogBox.Caption { the caption }
.gwt-DialogBox.dialogContent { the wrapepr around the content }
.gwt-DialogBox.dialogTopLeft { the top left cell }
.gwt-DialogBox.dialogTopLeftInner { the inner element of the cell }
.gwt-DialogBox.dialogTopCenter { the top center cell, where the caption is located }
.gwt-DialogBox.dialogTopCenterInner { the inner element of the cell }
.gwt-DialogBox.dialogTopRight { the top right cell }
.gwt-DialogBox.dialogTopRightInner { the inner element of the cell }
.gwt-DialogBox.dialogMiddleLeft { the middle left cell }
.gwt-DialogBox.dialogMiddleLeftInner { the inner element of the cell }
.gwt-DialogBox.dialogMiddleCenter { the middle center cell, where the content is located }
.gwt-DialogBox.dialogMiddleCenterInner { the inner element of the cell }
.gwt-DialogBox.dialogMiddleRight { the middle right cell }
.gwt-DialogBox.dialogMiddleRightInner { the inner element of the cell }
.gwt-DialogBox.dialogBottomLeft { the bottom left cell }
.gwt-DialogBox.dialogBottomLeftInner { the inner element of the cell }
.gwt-DialogBox.dialogBottomCenter { the bottom center cell }
.gwt-DialogBox.dialogBottomCenterInner { the inner element of the cell }
.gwt-DialogBox.dialogBottomRight { the bottom right cell }
.gwt-DialogBox.dialogBottomRightInner { the inner element of the cell }
