$ns: '.kscr-Nav';

#{$ns} {
  display: flex;
  font-size: rem-calc(15);
  margin-left: 0.5em;
   a:hover, a:focus{
    color: white;
    outline: none;
   }
}



#{$ns}-item {
  flex: auto;
  padding: 0.3em;
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

}

#{$ns}-item--active {
  //background-color:  darken($body-bg, 5%);
  color: white;
}