$ns: '.kscr-Schedule';

#{$ns} {
  background-color: $secondary-color;
}

#{$ns}-header {
background-color: $header-secondary-color;
padding: 0.5em;
}

#{$ns}-content {
	padding-left: 1em;
}