<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>index</title>
	</head>
<body>

<h4>Working Demo</h4>
<p>The FULL mockup can be found here: <a href="visual-design.html">Visual Design Mockup</a> <span style="font-style:italic;">(Updated: Friday, January 15, 2010 - 11:35am)</span></p>


<h4>Page Template</h4>
<ul>
	<li><a href="template.html">template.html</a> - Base layout structure. Includes header, body, and footer.</li>

</ul>

<h4>CSS</h4>
<ul>
	<li><a href="styles/reset.css">reset.css</a> - Eric Meyer's Reset CSS. Resets all CSS for browser consistency.</li>
	<li><a href="styles/fonts.css">fonts.css</a> - Base styling for fonts. Determines default font sizes and colors.</li>
	<li><a href="styles/main.css">main.css</a> - Contains most of the general CSS used for layout and miscellaneous.</li>
	<li><a href="styles/tabnavigation.css">tabnavigation.css</a> - CSS specific to the tab navigation and sub navigation.</li>
	<li><a href="styles/forms.css">forms.css</a> - Snippet: CSS specific to forms and form elements.</li>
	<li><a href="styles/buttons.css">buttons.css</a> - CSS specific to Button elements.</li>
	<li><a href="styles/buttons.css">tables.css</a> - CSS specific to Table elements.</li>
</ul>

</body>
</html>
