##
## Copyright 2007 The Kuali Foundation
##
## Licensed under the Educational Community License, Version 1.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
## http://www.opensource.org/licenses/ecl1.php
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##

## A generic rule template

rule "${ruleName}"
    when
        factContainer : FactContainer( anchor == "${anchor}", state == FactContainer.State.DONE, prop : propositionContainer)
#foreach($symbol in $functionSymbols)
#if($symbol != "+" && $symbol != "*" && $symbol != "(" && $symbol != ")" )
        $symbol : Proposition( id == "${symbol}-${uuid}" )
#end
#end                
#if($functionSymbols.size()>0)
        exists
        (
#foreach($symbol in $functionSymbols)
        #if($symbol == "+" ) ||
        #elseif($symbol == "*") &&
        #elseif($symbol == "(") (
        #elseif($symbol == ")") )
        #else Proposition( id == "${symbol}-${uuid}" && result == true )
        #end
#end
        )
    then
        prop.setRuleResult(true);
        //retract(factContainer);
#foreach($symbol in $functionSymbols)
#if($symbol != "+" && $symbol != "*" && $symbol != "(" && $symbol != ")" )
        retract($symbol);
#end
#end                
#else
    then
        prop.setRuleResult(false);
#end                
end
