.ks-header-boldWithLine {
    border-bottom: 2px solid #666666;
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    font-size:1.2em;
    font-weight:bold;
}

.ks-borderBottom {
    border-bottom: 1px solid #666666;
    padding-top:10px;
    text-align: left;
}

.ks-borderBottom1 {
    border-bottom: 1px solid #666666;
    padding-top:10px;
    padding-bottom:10px;
    text-align: left;
}

.ks-borderBottom2 {
    border-bottom: 2px solid #666666;
    padding-top:10px;
    padding-bottom:10px;
    text-align: left;
}

.ks-borderBottom3 {
    border-bottom: 1px solid #666666;
    margin-bottom: 5px;
}

.ks-tablecollection-table thead th {
    padding-bottom: 5px;;
    text-align: left;
}
.ks-tablecollection-table tbody td {
    font-weight: normal;
}

.ks-tablecollection-header-center thead th {
    text-align: center;
}