@import "variables";
@import "mixins";

@import "ks-fonts";
/*.ks-curriculum-home > .uif-header {
    border-bottom: solid 2px #000;
    margin-bottom: 5px; margin-top:15px;
}*/

.uif-actionLink-block {
    display:block;
}

.cm-collection-width {
	width: 45em;
}

.ks-cm-page-header {
    border-bottom : thick solid #000000
}


.ks-section{
  margin-bottom: 45px;
}


.ks-section.ks-section-marginTop {
  margin-top: 10px;
}


/*
 * Styling for the course lookup page.
 */

.ks-cm-find-course-proposal .uif-message, .ks-cm-find-course .uif-message {
    line-height: 45px;
}

.ks-cm-find-course .table.uif-gridLayout {
    border: 0 none;
    margin-bottom: 10px;
    margin-top: 0;
    outline: 0 none;
    padding: 0;
    width: 450px;
}

.ks-cm-find-course .table-bordered th,
.ks-cm-find-course .table-bordered td {
    border-bottom: 0 none;
    border-left: 0 none;
    border-top: 0 none;
}

.ks-cm-find-course .uif-gridLayout th[scope="row"] {
    text-align: right;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ks-cm-find-course .uif-gridLayout th,
.ks-cm-find-course .uif-tableCollectionLayout th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ks-cm-find-course .uif-gridLayout td,
.ks-cm-find-course .uif-inputField input:first-child {
    margin-bottom: 0;
    width: 100%;
}

.ks-cm-find-course .ks-uif-footer div {
	float: none;
	margin-left: 356px;
    white-space: nowrap;
}
 /* end */


/* find course proposal start */

.ks-cm-find-course-proposal .uif-boxLayoutVerticalItem{
    line-height: 15px;
}

.ks-cm-find-course-proposal .uif-tableCollectionLayout{
    padding-top: 10px;
}

.ks-cm-find-course-proposal .uif-boxLayoutHorizontalItem{
    margin-right: 15px;
}

/* find course proposal end */


.tree-bar-button {
    background-image: url('./images/buttonNormal.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em ;
    padding-left: 0em;
}

.tree-bar-button-selected {
    background-image: url('./images/buttonDisabled.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em ;
    padding-left: 0em;
}

/* Empty marker classes for the character counter */
.cm-charcount-max-24 {
}

.cm-charcount-max-255 {
}

.cm-charcount-max-500 {
}

.cm-charcount-max-1000 {
}

.cm-lo-indent-0 {
	margin-left: 0px;
}

.cm-lo-indent-50 {
	margin-left: 50px;
}

.cm-lo-indent-100 {
	margin-left: 100px;
}

.cm-lo-indent-150 {
	margin-left: 150px;
}

.cm-lo-indent-200 {
	margin-left: 200px;
}

.cm-lo-indent-250 {
	margin-left: 250px;
}

.cm-lo-indent-300 {
	margin-left: 300px;
}

.cm-lo-indent-350 {
	margin-left: 350px;
}

.cm-lo-indent-400 {
	margin-left: 400px;
}

.cm-lo-indent-450 {
	margin-left: 450px;
}

.cm-lo-indent-500 {
	margin-left: 500px;
}

.cm-lo-indent-550 {
    margin-left: 550px
}

.cm-lo-indent-600 {
    margin-left: 600px;
}

.cm-lo-indent-650 {
    margin-left: 650px;
}

.cm-lo-indent-700 {
    margin-left: 700px;
}

.cm-lo-indent-750 {
    margin-left: 750px;
}

.cm-lo-indent-800 {
    margin-left: 800px;
}

.cm-lo-indent-850 {
    margin-left: 850px;
}

.cm-lo-indent-900 {
    margin-left: 900px;
}

.cm-lo-indent-950 {
    margin-left: 950px;
}

.cm-lo-indent-1000 {
    margin-left: 1000px;
}

.cm-home-view-instruction {
	color: gray;
}

.cm-home-view-header {
	border-bottom: 1px dotted gray;
}

.uif-create-course-initial-page-header-contentWrapper .uif-headerText-span {
    margin-left: 20px;
}

/*
 *   Create Course tab styling
 */
.ui-tabs-vertical-left .ui-tabs-nav {
    width: 15em;
    margin-left: 2px;
    font-family: 'ralewayregular', sans-serif;
}

.ui-tabs-vertical .ui-tabs-panel {
  width: 67em;
}

#course_tabs_tabs .ui-tabs-panel {
    border: 0;  /* Remove the border/line from the top of the sections */
}

/* The words at the top of the tab panel */
#course_tabs_header {
    position: fixed;
    margin-top: 15px;
}
#course_tabs_header h4 {
	padding: 0px;
}

/* Arrange the words at the bottom of the tab panel */
#course_tabs_footer_header {
    margin-top: 20px;
}

#KS-CourseView-ReviewProposalLink a {
	margin-left: 22px;
}

/*
 * Make the yellow bar that the CS gets and the validation messages only extend across the top of the tap and
 * not the tab panel itself.
 */
#KS-CourseView-AdminMessageGroup, #KS-CourseView-CoursePage > .uif-validationMessages {
    margin-left: 240px;
}
#KS-CourseView-CoursePage > .uif-validationMessages {
    margin-bottom: 8px;
}
#KS-CourseView-AdminMessageGroup {
    margin-top: 12px;
    margin-bottom: 0px;
}

#KS-CourseView-Admin-Message-TreeExpandCollapse {
    margin-bottom: 8px;
}

#course_tabs .ks-uif-footer div {
	float: none;
}

/**
 * Fix positions of nav elements
 */
#KS-CourseView-ReviewProposalLink {
    position: fixed;
}

#course_tabs_tabList {
    position: fixed;
    margin-top: 12px;
}

/* The background hides the TabGroup Header when it's position: fixed; */
#course_tabs_tabs {
    background: none;
}

#course_tabs_tabs .ui-tabs-nav li {
    /* Make the left corners round and the right ones square*/
	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topright: 0px;

	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

#course_tabs_tabs .ui-tabs-nav li.ui-state-active a,
#course_tabs_tabs .ui-tabs-nav li.ui-state-default a {
    width: 91%;  /* Make the action links in the tab panel extend all the way across */
	color: #000000;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 6px;
	padding-left: 15px;

    /* Make the left corners round and the right ones square*/
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topright: 0px;

	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

/* Make the bottom border of the last tab item more substantial */
#course_tabs_tabs .ui-tabs-nav li:last-child a {
    border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #bbbbbb;
}

/* The tab content sections have this class */
.course_details_tab_section {
    padding: 0 0 10px 10px;
}

#course_tabs_tabs a {
    cursor: pointer;
}

/*  Used to keep all of the tabs/sections visible in Curriculum Specialist mode */
.never_hide {
    display: block !important;
}

/* Validations icons on the tab items need to float right. */
#course_tabs_tabs .uif-validationImage {
	float: right;
	padding-right: 5px;
}

/*  The required message text on course details */
.cm-requiredMessage-text {
    color: #888888;
    font-style: italic;
    font-size: 88%;
}

#course_review_details-panel  {
    border: none;
    padding: 10px;
}

.course_review_details-table table, .course_review_details-table table th, .course_review_details-table table td {
    background-color: #ffffff !important;
    border: none;
}

#cm_dottedHeaderActions {
    margin-bottom: 10px;
}

#course_review_outcome_details table tr {
    float : left;
    clear : both;
}

/*
 *  Review Proposal styling
 */

/* Remove the input styling */
.review_readonly textarea:focus,
.review_readonly input[type="text"]:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}

.review_readonly textarea,
.review_readonly input[type="text"] {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
	color: black;
}

.review_readonly textarea {
    resize: none;
}

.course_review_details-table th,
.course_review_details-table td,
.course_review_details-table input {
    padding: 2px 5px 0px 5px;
}

/* Move the labels down a smidge */
.course_review_details-table .uif-gridLayout th[scope="row"] {
    padding-top: 5px;
}
/* End */
