@import "variables";
@import "mixins";
@import "ks-fonts";

/*.ks-curriculum-home > .uif-header {
    border-bottom: solid 2px #000;
    margin-bottom: 5px; margin-top:15px;
}*/

/* Labels in the header link group should be on the left. */
#KS-CourseView-LinkGroup label {
    display: inline;
}

.uif-actionLink-block {
    display: block;
}

.cm-collection-width {
    width: 45em;
}

h3.uif-headerText a {
    font-size: 1.3em;
}

.ks-cm-page-header {
    border-bottom: thick solid #000000
}

.ks-section {
    margin-bottom: 45px;
}

.ks-section.ks-section-marginTop {
    margin-top: 10px;
}

.ks-review-capitalise {
    text-transform: capitalize;
}

/*
 * Styling for the course and course proposal lookup pages.
 */

/* The label should be on the left. */
#CM-FindProposal-Lookup-Title_label {
    display: inline;
}

.ks-cm-find-course-proposal .uif-message {
    line-height: 45px;
}

.ks-cm-find-course .uif-label {
    display: inline;
}

.ks-cm-course-instructor .uif-tableCollectionLayout input[type="text"] {
    width: 300px;
}

.ks-cm-reviewproposal-validation-spacing {
    padding-top: 5px;
}

.ks-cm-course_detail-section {
    padding-top: 15px; /* Padding around the sections used on view course, review proposal, etc */
}

.ks-cm-course_detail-section h3 {
  padding-bottom: 3px; /* Reduce the bottom padding of headers within sections used on view course, review proposal, etc  */
}

/* end */

/* find course proposal start */

.ks-cm-find-course-proposal .uif-boxLayoutVerticalItem {
    line-height: 15px;
    display: inline;
}

.ks-cm-find-course-proposal .uif-tableCollectionLayout {
    padding-top: 10px;
}

.ks-cm-find-course-proposal .uif-boxLayoutHorizontalItem {
    margin-right: 15px;
}

/* find course proposal end */

.tree-bar-button {
    background-image: url('./images/buttonNormal.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em;
    padding-left: 0em;
}

.tree-bar-button-selected {
    background-image: url('./images/buttonDisabled.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em;
    padding-left: 0em;
}

/* Generate classes like cm-lo-indent-0,cm-lo-indent-50 etc for LO:*/
.generate-margin-left(1000);

.generate-margin-left(@n, @i: 0) when (@i =< @n) {
  .cm-lo-indent-@{i} {
    margin-left: (@i + 0px);
  }
  .generate-margin-left(@n, (@i + 50));
}

.cm-home-view-instruction {
    color: gray;
}

.cm-home-view-header {
    border-bottom: 1px dotted gray;
}

.uif-create-course-initial-page-header-contentWrapper .uif-headerText-span {
    margin-left: 20px;
}

/*
 * Make the yellow bar that the CS gets and the validation messages only extend across the top of the tap and
 * not the tab panel itself.
 */
#CM-Proposal-Course-View-AdminMessageGroup,
#KS-CourseView-CoursePage_messages {
    margin-left: 224px;
}

#CM-Proposal-Course-Create-Page .alert-danger {
    margin-left: 224px; /* Make create course proposal error message not be behind the tab panel */
    margin-bottom: 0px; /* Remove spacing from the bottom. */
}

/*
 * Validation messages and the yellow bars
 */
/* Position validation message h3 */
.uif-pageValidationHeader {
    margin: 0 !important;
    padding: 8px 0 0 8px;
}

/* Position the contents of the yellow bars */
.uif-validationMessages.uif-groupValidationMessages.uif-pageValidationMessages-warning.ks-subSection {
    background-position: 8px 12px;
    width: 100%;
    padding: 5px;
}

.uif-validationMessages.uif-groupValidationMessages.uif-pageValidationMessages-warning.ks-subSection a {
    box-shadow: none;
}

.uif-validationMessages.uif-groupValidationMessages.uif-pageValidationMessages-warning.ks-subSection p {
    margin: 7px 5px 8px 30px;
}

#CM-Proposal-Course-View-AdminMessageGroup {
    margin-top: 12px;
    margin-bottom: 0px;
}

#CM-Proposal-Course-View-AdminMessage-TreeExpandCollapse {
    margin-bottom: 8px;
}

.uif-stackedCollectionSection .uif-headerText {
    background: none;
}

section.uif-disclosure .uif-headerText {
    background: none;
}

section.uif-disclosure {
    border: none;
}

section.uif-disclosure .uif-headerText .uif-headerText-span [class*='icon-caret-'] {
    border-right: none;
    padding: 0px;
}

/*  The required message text on course details */
.cm_requiredMessage_text > .uif-requiredMessage {
    color: #ABABAB;
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

/*  Allow the required message to in the rightGroup to align adjacent to the label text */
.cm_requiredMessage_text >

div {
    float: left;
    margin-right: 5px;
}

/* Makes the required indicator in CM-IconLabelMessage aka labels which contain an (i) icon not wrap. */
label > div.uif-message {
    display: inline;
}

/**
 * Learning Objectives widget styling
 */

a[id *= "LearningObjectives-Icon-"],
a[id *= "LearningObjectives-Icon-"]:focus,
a[id *= "LearningObjectives-Icon-"]:hover {
    text-decoration: none;
    outline: none;
    color: @iconColor;
}

/* Float the delete icon to the right */
[id *= "CM-Proposal-Course-LearningObjectives-Container-Delete"] {
    float: right;
    margin-right: -15px;
}

/* Icon containers shouldn't wrap */
[id*=CM-Proposal-Course-LearningObjectives-ToolBarSection] div {
    clear: none;
}

.lo_category_add_items {
    background-color: #eeeeee !important;
}

.lo_category_items {
    border: 1px solid #CEC1C1 !important;
}

.learning_objective_section {
    background-color: #eeeeee !important;
    padding-left: 15px;
    padding-right: 15px;
}

.learning_objective_section_header {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted gray;
}

[id *= "CM-Proposal-Course-LearningObjectives-AddCategory"] {
    margin-top: 20px;
    margin-left: 15px;
}

/* Float the category delete icon to the right */
[id *= "CM-Proposal-Course-LearningObjectives-DeleteCategory"] {
    float: right;
}

[id *= "CM-Proposal-Course-LearningObjectives-Categor-Items"] {
    padding-top: 10px;
    padding-left: 10px
}

[id *= "CM-Proposal-Course-LearningObjectives-CategoryType"] {
    margin-left: 10px;
}

/*  End Learning Objectives widget styling */

/* Review section styling */

/* Float the required indicator message to the left side of the label */
#CM-Proposal-Review-Course-Page .uif-label .uif-requiredMessage {
    float: left;
}

.course_details-grid {
    border: none;
    padding: 10px;
}

.course_details-grid table.uif-gridLayout th[scope="row"] label {
    padding-top: 0px;
}

.course_details-grid table,
.course_details-grid table th,
.course_details-grid table td {
    background-color: #ffffff !important;
    border: none !important;
}

.course_details-grid table th,
.course_details-grid td {
    padding: 2px 5px 0px 0px !important;
}

#CM-ViewCourse-View-Course-CourseInfoSection .course_details-grid table th,
#CM-ViewCourse-View-Course-CourseInfoSection .course_details-grid td {
    display: inline-block;  /* This is needed because the first row of the course info section is 'display: none' which messes up the width. */
}

.course_details-grid table.uif-gridLayout th[scope="row"] {
    width: 250px; /* Controls the width of the labels column in the section grid layouts */
}

#course_details-grid .uif-gridLayout td {
    padding-top: 5px;
}

/* This is applied to the headers with each major section */
.cm_dottedHeaderActions {
    margin-bottom: 10px;
}

/* end */

#CM-ViewCourseView-Outcome-Details table tr {
    float: left;
    clear: both;
}

#CM-ViewCourseView-Format-Details table tr {
    float: left;
    clear: both;
}

/* Remove the input styling */
.cm_readonly_input textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}

.cm_readonly_input textarea {
    font-size: 1em;
    line-height: 1.5em; /* Adjust where the text in the text area falls in relation to the label */
    overflow: hidden; /* Don't show scrollbars */
    color: black;
    background-color: #ffffff !important;
    border: none;
    -webkit-box-sizing: content-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;

    resize: none;
    cursor: default !important;

    padding: 0px 6px;
}

.course_detail_subsection {
    padding: 4px; /* Padding for the sub-sections on view course and review proposal */
}

.course_detail_subsection section {
    padding-bottom: 10px; /* Padding on sub subsections */
}

.course_detail_subsection tbody tr th[scope="row"] {
     width: 180px !important; /* Sub-section labels are more narrow. */
}

.course_detail_subsection tbody tr th[scope="row"] label {
     float: left;  /* Sub-section labels float left */
}

/* The headers used within course details sections: Outcomes, Formats, etc. */
.course_detail_subsection_header {
    border-bottom-color: @gray-light;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0px;
}

[id^="course_format_table_"] > tbody> tr > td:first-child {
    background: #D7D7D7;
}

.course_format_line {
    background: #D7D7D7;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
}

.comment_format_text {
    word-break: break-word;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 18px;
    color: #000000;
}

[id^="course_format_activities_table_line"] td:nth-child(4) {
    padding-left: inherit;
}

[id^="course_format_activities_table_line"] td:nth-child(6) {
    padding-left: inherit;
}

.course_format_activity_collection {
    margin-top: 10px;
    margin-left: 5px;
}

.ks-review-captialize {
    text-transform: capitalize;
    height: 18px;
}

.course-format-right-group {
    padding-right: 0px;
    margin-right: 0px;
}

[id^="course_outcome_table_"] > tbody> tr > td:first-child {
    background: #D7D7D7;
}

[id^="course_outcome_table_"] > tbody> tr > th {
    width: 100%;
}

.uif-stackedCollectionLayout {
    background-image: none;
    padding: 0px;
}

.uif-stackedCollectionLayout .uif-stackedCollectionLayout {
    background-image: none;
}

.alwaysHide {
    display: none !important;
}

.course_outcome .uif-gridLayout th[scope="row"] {
    text-align: left;
}

.outcome-addline {
    margin-top: 1em;
    margin-bottom: 1em;
}

.cm-CurriculumOversight-subtext .uif-instructionalMessage {
    display: inline-block;
}

/* Review Proposal LO styling */
#CM-ViewCourseView-LearningObjectives-Details table tr {
  display: inline-block;
}

.CM-ViewCourseView-LearningObjectives-Details th[scope="row"] {
    width: 15px !important; /* Override the width set by course_details-grid th */
    margin-right: 10px !important;
}


/* Review End */

/*
* TODO: KSCM-2058 This section contains workarounds for breakage that come in with the Rice 2.4 upgrade. The KRAD team
* is probably going to replace the jQuery tab implementation with the one from Bootstrap. When that happens the left nav
* panel will need to be completely reworked.
*/
/*
 *   Create Course tab styling
 */

#course_tabs_tabs {
/* The background hides the TabGroup Header when it's position: fixed; */
    background: none;

/* Remove the bottom border of the nav ul */
    .nav-tabs {
        border-bottom: 0px solid #dddddd;
    }

    .nav-tabs >

li > a {
    border-radius: 5px 0px 0px 5px;
}

/* Get rid of the focus outline on the active tab item. */
.nav-tabs >

li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    outline: 0px;
}

/* Darkens the top item's top border */
.nav-tabs li:first-child {
    border-top: 1px solid #888888;
}

.nav-tabs >

li {
    border: 1px solid #888888;
    padding-right: 0;
}

.nav-tabs li {
/* Make the left corners round and the right ones square*/
    .border-radius-individual(5px, 0, 0, 5px);
}

.nav-tabs li a {
    width: 100%; /* Make the action links in the tab panel extend all the way across */
    color: #000000;
    padding-top: 6px;
    padding-right: 0;
    padding-bottom: 6px;
    padding-left: 15px;

/* Make the left corners round and the right ones square*/
    .border-radius-individual(5px, 0, 0, 5px);
}

a {
    cursor: pointer;
    box-shadow: none;
}

/*#course_tabs_tabs .ui-tabs-panel {*/
> div {
    border: 0; /* Remove the border/line from the top of the sections */

    padding: 1em !important;
    float: right;
    width: 70em;
}

/* Validations icons on the tab items need to float right. */
.uif-validationImage {
    float: right;
    padding-right: 5px;
}

/* Make the grid layout tables enclose their contents (e.g. other tables, the formats widgets). */
table.uif-gridLayout {
    display: inherit;
}

    }

.ui-tabs-vertical-left .nav-tabs {
    width: 15em;
    margin-left: 2px;

    padding: .2em .1em .2em .2em;
    float: left;
}

/* .ui-tabs-vertical-left .ui-tabs-panel { */
.ui-tabs-vertical-left >

div {
    clear: none !important;
}

/* .ui-tabs-vertical-left .ui-tabs-nav li { */
.ui-tabs-vertical-left .nav-tabs li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-bottom: 1px solid black !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

/* .ui-tabs-vertical .ui-tabs-panel { */
.ui-tabs-vertical >

div {
    width: 67em;
}

/* .ui-tabs-vertical-left .ui-tabs-nav li { */
.ui-tabs-vertical-left .nav-tabs li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom: 1px solid #888888 !important;
    border-right-width: 0px !important;
    border-top-width: 0px;
    border-left-width: 1px;
    margin: 0px;

    .border-radius-individual(5px, 0, 0, 5px);
}

.ui-tabs-vertical-left .nav-tabs li.active a {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 0px;
    border-top: 0px;
}

/* The words at the top of the tab panel */
#CM-Proposal-Course-View-TabHeader {
    position: fixed;
    margin-top: 15px;
}

/* Arrange the words at the bottom of the tab panel */
#CM-Proposal-Course-View-Tab-ReviewHeader {
    margin-top: 15px;
}

#CM-Proposal-Course-View-ReviewProposalLink a {
    margin-left: 22px;
}

/* Fix positions of nav elements */
#CM-Proposal-Course-View-ReviewProposalLink {
    position: fixed;
}

.CourseRequisites-DisclosureLinks a {
  color: #0088cc;
}

#course_tabs_tabList {
    position: fixed;
}

/* The tab content sections have this class */
.course_details_tab_section {
    padding: 0 0 10px 10px;
}

/*  Used to keep all of the tabs/sections visible in Curriculum Specialist mode */
.never_hide {
    display: block !important;
}

/*
 * This is the end of the KRAD tabs workaround.
 */

/* styling for supportTitle with header KSCM-2069 */
#CM-Proposal-Course-Create-Header {
    padding-left: 4px;
}

.cm-StickyHeader-links {
    padding-left: 6px;
}

.course_tabs_header_text {
    padding-left: 6px;
}

#review_proposal_ReviewErrorMessageActionLink {
    margin-right: 15pt;
    margin-top: 0px;
    box-shadow: none;
}

.lo_lightbox_name {
    margin-top: 17px;
}

#comments-StackedSection {
    .uif-collectionItem.uif-boxCollectionItem,
    .uif-collectionItem.uif-boxCollectionItem {
        border: 1px solid;
        border-color: #D3D3D3;
    }
    .uif-headerText {
        font-size: 18px;
        padding: 6px;
    }
}

#AuthorsAndCollaborators-Review-section table.uif-gridLayout th[scope="row"] label {
    padding-top: 8px;
}

#CM-Proposal-Review-AuthorsCollaborators-Section table.uif-gridLayout th[scope="row"] {
    width: 100px;
}

[id^="CM-Proposal-Course-Comment-Add-Field_"] > textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 18px;
    color: #000000;
}

[id^="CM-Proposal-Course-Comment-Add-Field_"] > pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 18px;
    color: #000000;
}

#CM-Proposal-Course-Comment-CloseCommentDeleteUndoInfo {
    background: #D9EDF7;
    color: #2A617D;
    border: 1px solid #BCE8F1;
    margin-bottom: 10px;
    margin-top: 10px;
}

p.lineHeight130 {
    line-height: 130%;
}

button#CM-Proposal-Course-LoCategory-AddCategory {
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.open>.dropdown-menu{
  left: -30px;
}

fieldset .uif-actionLink{
  font-weight: normal;
}

.supporting-doc-download-link a {
  color: #0088cc;
}

.supporting-doc-download-link a:hover, a:focus {
  color: #005580;
}

.submitcourse_dialog .uif-dialogHeader {
  background:none;
  margin-bottom: 0px;
}

.returntopreviousnode_dialog .uif-dialogHeader {
  background:none;
  margin-bottom: 0px;
}

.viewcourseview-header-status {
  padding-top: 20px !important; /* Override the padding-top set by .ks-unified-header-rightGroup-container */
  margin-right: -15px;
}

.cm-unified-header-rightGroup-action {
    margin-top: 10px;
}

#CM-ReturnToPrevious-Dialog-Explanation textarea.uif-textAreaControl,
#CM-BlanketApprove-Dialog-Explanation textarea.uif-textAreaControl,
#CM-Approve-Dialog-Explanation textarea.uif-textAreaControl{
  height: 150px;
  width: 530px;
}

#CM-Proposal-Return-Confirm-Text, #CM-Proposal-Approve-Confirm-Text, #CM-Proposal-BlanketApprove-Confirm-Text{
  padding-bottom: 10px;
}