@import "variables";
@import "mixins";

/* Holds components *************************************************************************************/
#HoldsCriteriaSection .uif-boxLayoutHorizontalItem {
  display: inline-flex;
  margin-top: 10px;
}

.delete_authorization {
  width:50px;
}

.organization_name_create_hold {
  width:300px;
}

.organization_id_create_hold {
  width: 200px;
}






