.ks-ManageRegistration {
    & #Uif-BreadcrumbWrapper {
      height: 30px;
      overflow: hidden;
    }

    &-show {
      margin-top: 1.7rem;
    }

    &--startDate, &-lastDate {
      font-weight: normal;
      white-space: nowrap;
    }

    &-studentGroup {
      font-weight: bold;
      white-space: nowrap;
    }

    &-AppointmentWindow {
        & > div {
          float: left;
        }

        & .table-bordered {
            border: 0 none;

            & > thead > tr > th,
            & > tbody > tr > th,
            & > tfoot > tr > th,
            & > thead > tr > td,
            & > tbody > tr > td,
            & > tfoot > tr > td {
                border: none;
                vertical-align: bottom;
            }
        }

        & table.uif-gridLayout th {
            background: none;

            &[scope="row"] label {
              float: none;
            }
        }
    }
}


#addRegistrationWindowCollection .uif-tableCollectionLayout {
   &  > thead > tr > th,
   &  > tbody > tr > th,
   &  > tfoot > tr > th,
   &  > thead > tr > td,
   &  > tbody > tr > td,
   &  > tfoot > tr > td {
      padding: 1rem 0.5rem 0.5rem 0;
   }
}

.ks-icon-color {
  color: @link-color !important;

    &:hover,
    &:focus {
      color: @link-hover-color !important;
    }
}

/* Manage Registration Windows
   Windows table section
*/
.ks-appointmentWindow-table {
    & tr {
      border-top:  1px solid #d3d3d3;
      border-bottom:  1px solid #d3d3d3;

        & label,
        & div {
          white-space: nowrap;
        }

        & .uif-collection-column-action div{
          .ks-mixin--flex;
        }
    }
}