
.ks-ManageRegistration-show {
  margin-top: 1.7rem;
}

.ks-ManageRegistration-startDate {
  font-weight: normal;
  white-space: nowrap;
}

.ks-ManageRegistration-lastDate {
  font-weight: normal;
  white-space: nowrap;
}

.ks-ManageRegistration-studentGroup {
  font-weight: bold;
  white-space: nowrap;
}

#addRegistrationWindowCollection {
 & .uif-tableCollectionLayout > thead > tr > th,
 & .uif-tableCollectionLayout > tbody > tr > th,
 & .uif-tableCollectionLayout > tfoot > tr > th,
 & .uif-tableCollectionLayout > thead > tr > td,
 & .uif-tableCollectionLayout > tbody > tr > td,
 & .uif-tableCollectionLayout > tfoot > tr > td {
    padding: 10px 5px 5px;
  }
}

#addRegistrationWindowCollection_disclosureContent > table {
  max-width: 132em;
}