//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------



// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #FF0000;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;



// Header sizing
// -------------------------
@headerHeight:          4rem;


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

//@dropdownLinkBackgroundActive:  @linkColor;
//@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


//Positioning of Status icon (e.g. Success check, Fail, Progressing spinner)
@iconPosition: 1rem center;

// Form option lists
// -------------------------
@optionBackground:        #D5E8FF;
@optionBorder:            @optionBackground;
@optionOutline:           @optionBackground;
@optionText:              @optionBackgroundSelected;
@optionBackgroundSelected:#3366FF;
@optionBorderSelected:    @optionBackground;
@optionOutlineSelected:   @optionBackgroundSelected;
@optionTextSelected:      @white;


// Responsive breakpoints
//these are based on 16px and not the base html of 62.5% or 10px.
//If converting from px divide by 16.
@smallFormatMin: 12.5rem;    // 200px
@smallFormatMax: 41.1875rem; // 659px
@midFormatMax: 53.6875rem;   // 859px
@largeFormatMin: 41.25rem;   // 660px
@largeFormatMax: 112.5rem;   // 1800px
@wideFormatMin: 53.75rem;    // 860px
// END Responsive breakpoints

@largeFormatSidebarWidth: 32rem;