.KS-Label {
	FONT-STYLE: Verdana;
	FONT-SIZE: 10;
	COLOR: #000000;
	text-align: left;
	FONT-WEIGHT: bold;
}

.KS-TextBox {
	color: #000000;
	font-family: arial; 
	font-size: 11px;
	border:1px solid #7c1d3a;
	margin:0px;
	text-decoration: none; 
	background-color :#ffffff ;
	border-color: #7c1d3a;
	padding-left: 4px;
	
}

.KS-TextArea {
	width: 40%px;
	height: 5%px;
	border: 1px solid #7c1d3a;
	padding: 5px;
	font-family: arial;	
}

.KS-ListBox {
    font-family: arial; 
	font-size:8pt; 
	color: #000000;
	border-color: #7c1d3a; 
	background-color: #ffffff;
	border:1px solid #7c1d3a;
	font-weight : none;
}

.KS-Button {
	font-family: arial;
	color : #7c1d3a;
	font-size : 12px;
	font-weight : bold;
}


