.KS-Error-Dialog {
    border-style: outset;
    padding: 10px;
    background-color: yellow;
    height: 480px;
    width: 350px;
}

.KS-Error-Dialog-Title {
    text-align: center;
    background-color: gray;
    font-weight: bold;
}

.KS-Error-Dialog-Label {
	white-space: normal;
	padding-top: 5px;
}

.KS-Error-Dialog-Description {

}

.KS-Error-Dialog-TextArea {
    height: 160px;
    width: 320px;
}

.KS-Error-Dialog-Button {

}

