.gwt-TabBar {
	background: #d5cbcb;
	padding: 0px;
}

.gwt-TabBar .gwt-TabBarFirst {
	padding: 0px;
}

.gwt-TabBar .gwt-TabBarRest {
	padding: 0px;
	color: #FFFFFF;
	
}

.gwt-TabBar .gwt-TabBarItem {
	height: 22px;
	width: 140px;
	padding: 0px;
	font-size: 9pt;
	font-color: #;
	font-weight: normal;
	background: #d5cbcb url(images/ks-tab-unselected.gif) no-repeat left top;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

.gwt-TabBar .gwt-TabBarItem-wrapper {
	padding: 0px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	height: 22px;
	width: 140px;
	padding: 0px;
	font-size: 9pt;
	font-color: #a25353;
	font-weight: bold;
	background: #d5cbcb url(images/ks-tab-selected.gif) no-repeat left top;
	text-align: center;
	vertical-align: center;
	cursor: default;
}

.gwt-TabBar .gwt-TabBarItem-wrapper-selected {
	padding: 0px;
}

.gwt-TabPanel {
	padding: 0px;	
}



.gwt-TabBar-Nested {
	background: #d5cbcb;
	vertical-align: top;
	border: 0;
	height: 22px;
}

.gwt-TabBar-Nested .gwt-TabBarFirst {
	padding: 0px;
	border: 0;
	height: 22px;
}

.gwt-TabBar-Nested .gwt-TabBarRest {
	padding: 0px;
	border: 0;
	background: #7c1d3a;
	height: 22px;
	
}

.gwt-TabBar-Nested .gwt-TabBarItem {
	height: 22px;
	width: 180px;
	padding: 0px;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: normal;
	background: #7c1d3a;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
	border: 0;

}

.gwt-TabBar-Nested .gwt-TabBarItem-wrapper {
	border: 0;
}

.gwt-TabBar-Nested .gwt-TabBarItem-selected {
	height: 22px;
	width: 180px;
	padding: 0px;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	background: ##7c1d3a;
	text-align: center;
	vertical-align: center;
	cursor: default;
	border: 0;

}

.gwt-TabBarRest .gwt-TabBar-Nested-Label {
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	height: 22px;
}

.gwt-TabBarItem-selected .gwt-TabBar-Nested-Label {
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	height: 22px;
}

.gwt-TabBar-Nested .gwt-TabBarItem-wrapper-selected {
	border: 0;
	color: #FFFFFF;
	height: 22px;
}



