$ns: '.kscr-ActivityOffering';

#{$ns} {
  padding: 0.5em 0.5em 0.5em 0;
  //margin: 0 0.5em;
  //margin-right: 0.5em;

  &:hover {
    background-color: $accent-color;
}
}

#{$ns}--selected {
  //background-color: tint(yellow, 70%);
  background-color: $accent-color;

  &, &:hover {
    background-color: $accent-color;
  }
}

#{$ns}--unselectable {
  color: #ccc;
}

#{$ns}-item {
  font-size: 14px;
  margin: 0 0.5rem;
 // padding-right: 5rem;
}