$ns: '.kscr-Header';

#{$ns} {

  background-color: $header-color;
  //background-image: url("http://env2.ks.kuali.org/rice-portal/images/os-guy.gif");
  border-bottom: 2px solid $border-color-normal;
  padding: 0.2em;
  
  color: $header-font-color;
}

#{$ns}-title {
  //font-weight: bold;
  font-size: rem-calc(16);
  //padding: 0.5em 0 0 1.5em; 
 padding: 0.5em 0 0 6em;
}

#{$ns}-nav {
}