$ns: '.kscr-TermContext';

#{$ns} {
  padding: 0.5rem 0;
}

#{$ns}-label {
}

#{$ns}-currentLabel {
  flex: 1;
}

#{$ns}-currentChange {
color: #0088CC;
}

#{$ns}-change {
  font-size: rem-calc(14);
}