/* override theme-krad.css style; padding-right matches base.css */
td.col2, td.col4, th.col1, th.col3 { padding-bottom:0; padding-left:0; padding-right:1em; }

/* overrides theme-krad.css */
.uif-primaryActionButton, .uif-secondaryActionButton { font-size:1em; padding:0.1em 2em; }

.ks-cell-align-center { text-align:center; }

.ks-header .uif-headerText { border-bottom:solid 2px #000; margin-bottom:5px; }

/*-- Create New Calendar ----------------------------------------------------------------*/
.ks-calendar-copy-from { background-color:#eee; border:solid 1px #aaa; padding:5px 10px 5px 10px; width:500px; }
.ks-calendar-copy-to { border:solid 1px #aaa; padding:5px 10px 5px 10px; width:500px; }
.ks-calendar-copy-to-table th { vertical-align:middle; white-space:nowrap; }
/*-- End of Create New Calendar ---------------------------------------------------------*/