.hidablePanelTitleButtonHide-up {
	height: 15;
	width: 15;
	cursor: pointer;
	background: transparent url(images/HideLight.PNG);
}

.hidablePanelTitleButtonHide-up-hovering {
	height: 15;
	width: 15;
	cursor: pointer;
	background: transparent url(images/HideDark.PNG);
}

.hidablePanelTitleButtonHide-down {
	height: 15;
	width: 15;
	cursor: pointer;
	background: transparent url(images/HideDark.PNG);
}

.hidablePanelTitleButtonHide-down-hovering {
	height: 15;
	width: 15;
	cursor: pointer;
	background: transparent url(images/HideDark.PNG);
}

.hidablePanelTitleButtonUnhide-up {
	height: 15;
	width: 15;
	cursor: pointer;
	background: transparent url(images/UnhideLight.PNG);
}

.hidablePanelTitleButtonUnhide-up-hovering {
	height: 15;
	width: 15;
	cursor: pointer;
	background: transparent url(images/UnhideDark.PNG);
}

.hidablePanelTitleButtonUnhide-down {
	height: 15;
	width: 15;
	cursor: pointer;
	background: transparent url(images/UnhideDark.PNG);
}

.hidablePanelTitleButtonUnhide-down-hovering {
	height: 15;
	width: 15;
	cursor: pointer;
	background: transparent url(images/UnhideDark.PNG);
}

.hidablePanel-Title { /* padding:5px 5px 5px 5px; */
	line-height: 15px;
	background: #7c1d3a;
	font-style: arial;
	font-size: 10px;
	font-weight: bold;
}

.hidablePanel-TitleText {
	color: white;
	font-style: arial;
	font-size: 10px;
	font-weight: bold;
}

.hidablePanel {
	margin: 3px 3px 3px 3px;
	border-left: 1px solid #ae1c27;
	border-right: 1px solid #ae1c27;
	border-bottom: 1px solid #ae1c27;
	border-top: 1px solid #ae1c27;
}