.KSinkMainPanel{
    height: 100%;
    width: 100%;
}

.KSinkMenuPanel{
	border-style: solid;
	border-width: 2px;
	border-color: gray;	
    height: 100%;
    width: 200px;
}

.KSinkContentPanel {
	border-style: solid;
	border-width: 2px;
	border-color: gray;
    height: 100%;
	padding: 20px 20px 20px 20px;
}

.KSinkTitle {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

.KSinkWelcomPanel {
	font-size: 18px;
	font-weight: bold;
}

.KSinkDescription {
	font-size: 12px;
}

.KSinkBlockHeader {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 15px;
}

.KSinkResourceTitle {
	font-size: 12px;
	font-weight: bold;
	margin-top: 15px;
}

.KSinkResourceDescription {
	font-size: 14px;
}

.KSinkExample {
	padding: 10px 10px 10px 10px;
}

.KSinkImage {
	border-style: inset;
	border-width: 2px;
	border-color: gray;

	
}

.KSinkPopupPanel {
    height: 100px;
	width: 100px;
	border-style: inset;
	border-width: 2px;
	border-color: gray;
}

    