.KSinkWrapperPanel{
    width: 800px;
}

.KSinkHeader {
	width: 99%;
	margin: 1px;

}

.KSinkMainPanel{
    height: 100%;
    width: 100%;
    padding: 3px;
}

.KSinkMenuPanel{
	border-style: solid;
	border-width: 2px;
	border-color: gray;	
    height: 300px;
    padding: 3px;

}

.KSinkContentPanel {
	border-style: solid;
	border-width: 2px;
	border-color: gray;
    height: 100%;
	padding: 3px;
}

.KSinkExamplePanel {
	padding: 5px 5px 5px 5px;
	    position: relative;
	
}

.KSinkTabPanel {

	width: 100%;

}
.KSinkTitle {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

.KSinkWelcomePanel {
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	padding-top: 10%;
	padding-bottom: 20%;
}

.KSinkDescription {
	font-size: 12px;

}

.KSinkBlockHeader {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 15px;
}

.KSinkResourceTitle {
	font-size: 12px;
	font-weight: bold;
	margin-top: 15px;
}

.KSinkResourceDescription {
	font-size: 14px;
}

.KSinkExample {
	padding: 10px;
}
.KSinkPopupPanel {
    height: 250px;
	width: 250px;
	border-style: inset;
	border-width: 2px;
	border-color: gray;
}

.KSink-LiveCSS-Frame {
	width: 800px;
	height: 600px;
	border: none;
}

.KSinkButtonPanelContainer {

	width: 80%;
	position: relative;
	padding: 20px;
}