/*------------------- Colors ---------------------------*/
//custom mobile colors
@bodyColor:               #F4F4F4;
@bodyColorDark:           #D7D7D7;
@sectionColor:            #F4F4F4;
@headerFontColor:         @whiteText;
@supportHeading:          @lightGray;
@cardBackgroundColor:     @whiteBackground;
@cardBorderColor:         #E4E4E4;
@whiteBackground:         #FFFFFF;

@badgeColor:              @lightGray;

// Text
@whiteText:               #F8F8F8;
@darkGray:                #333333;
@lightGray:               #666666;
@cardTextColor:           @lightGray;
@primaryTextColor:        @darkGray;
@secondaryTextColor:      @lightGray;
@badgeTextColor:          #F2F2F2;

@textColor: #000;
@selectedText: @textColor;

@menuHoverColor:          #EBEBEB;

// Fading colors
@backgroundColor--highlight: rgba(255, 255, 204, 0.5);    //#FFFFCC;
@shadowColor--highlight: rgba(255, 255, 0, 0.5); //#FFFF00;
@textColor--highlight: #ffff7f;

// Highlight
// -------------------------
@highlightColor:           #FFFF99;

// Links
//@linkColor:             #08c;
//@linkColorHover:        darken(@linkColor, 15%);

// System Messages
@successText:             #3B723B;
@successBackground:       #dff0d8;
@successBorder:           #D6E9C6;

@infoText:                #2A617D;
@infoBackground:          #D9EDF7;
@infoBorder:              #BCE8F1;

@warningText:             #83652E;
@warningBackground:       #FCF8E3;
@warningBorder:           #FBEED5;

@errorText:               #A3403C;
@errorBackground:         #F2DEDE;
@errorBorder:             #EFD3D7;


//Font Icon
@removeIconColor:       #818185;

// Borders
@border-color: #AAAAAA;
@border-light-color: #F2F2F2;
@rightGroupRightAlignment: 0px;
/*------------------- END KS NEW COLOR DEFINITIONS --------------------------*/

/*------------------- BGGIN MISCELLANEOUS VARIABLES DEFINITIONS -------------------*/
@horizontalLineBorder: 1px solid @border-light-color;
// for dotted line border
@dottedLineBorder: 1px dotted @border-color;
/*------------------- END MISCELLANEOUS VARIABLES DEFINITIONS -------------------*/

/*------------------- Calendar Colors -------------------*/
@courseCardColor1:  #334D5C;
@courseCardColor2:  #3d9c89;
@courseCardColor3:  #E27A3F;
@courseCardColor4:  #DF4949;
@courseCardColor5:  #3498DB;
@courseCardColor6:  #BF927D;
@courseCardColor7:  #8F6579;
@courseCardColor8:  #8E44AD;
@courseCardColor9:  #5B7D48;
@courseCardColor10: #3A6394;

//Alt colors
@courseCardColor11: #7b8c96;
@courseCardColor12: #81bfb3;
@courseCardColor13: #eca983;
@courseCardColor14: #ea8989;
@courseCardColor15: #7cbce8;
@courseCardColor16: #d6b8ab;
@courseCardColor17: #b79ba8;
@courseCardColor18: #b686ca;
@courseCardColor19: #95ab8b;
@courseCardColor20: #809aba;

// Algorithm for defining the course color for a given index
@courseCardColorCount: 20; // # of colors to calculate for
.defineCourseColor(@n: 1, @baseCourseColor: #8E44AD) {
    // This is the hard-coded method
    @tmp: 'courseCardColor@{n}';
    @courseColor: @@tmp;

    // This is a sample dynamic mode
    // @courseColor: spin(@baseCourseColor, (@n * 72));
}

/*-------------------End Calendar Colors -------------------*/