/******* Global styling for body ******/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{
    background-color: @bodyColor;
    font-family: 'Montserrat', sans-serif;
}

.kscr-main-heading{
    color: @grayDark; //#333333
    font-size: 16px;
    font-weight: bold;
}

.kscr-sub-heading{
    font-size: 14px;
    color: @grayDark;
    font-weight: bold;
}

.kscr-support-heading{
    font-size: 14px !important;
    color: @supportHeading !important; //#666666
    weight: normal !important;
}