.blockUI.blockOverlay {
  z-index: 100 !important;
}

.blockUI.blockMsg.blockElement {
  z-index: 101 !important;
}

.jquerybubblepopup {
  z-index: 200 !important;
}
td.jquerybubblepopup-innerHtml {
  background-color : white;
}
/* jGrowl ########################################################################### */
div.jGrowl div.jGrowl-notification {
  font-family: inherit;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
  margin: 0 0 5px 21px;
  font-size: 1.1em;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
  font-size: 1.25em;
}

.infoGrowl,
.warningGrowl,
.errorGrowl {
  background-position: 10px 11px;
}
.fancybox-skin {
  background: #fff !important;
}

.fancybox-inner #kualiLightboxForm.uif-lightbox {
  height: 100% !important;
}
.ks-Popover-header.uif-hideHeaderText h4{
  display: block;
  border-bottom: solid 1px #000000;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}
.jquerypopover{
  text-align: left;
}