<h1>Listing crrc_crs_catalogts</h1>

<table>
  <tr>
  </tr>

<% @crrc_crs_catalogts.each do |crrc_crs_catalogt| %>
  <tr>
    <td><%= link_to 'Show', crrc_crs_catalogt %></td>
    <td><%= link_to 'Edit', edit_crrc_crs_catalogt_path(crrc_crs_catalogt) %></td>
    <td><%= link_to 'Destroy', crrc_crs_catalogt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New crrc_crs_catalogt', new_crrc_crs_catalogt_path %>