<h1>New crrc_crs_catalogt</h1>

<% form_for(@crrc_crs_catalogt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', crrc_crs_catalogts_path %>