.KS-RichText-Large{
	width: 100%;
	height: 500px;
	border: 1px solid #cccccc;
}

.KS-RichText-Large-Toolbar{
	width: auto !important;
}

.KS-RichText-Large-Content-Panel{
	width: 650px;
	margin-bottom: 2px;
}

.KS-RichText-Normal{
	width: 100%;
	height: 250px;
	border: 1px solid #cccccc;
	background: white;
}

.KS-RichText-Normal-Toolbar{
	width: auto !important;
}

.KS-RichText-Normal-Content-Panel{
	height: auto !important;
	width: 500px;
	margin-bottom: 2px;
}

.KS-RichText-Popout-Image-Panel{
	border: none;
	margin: -3px;
}

.KS-RichText-Popout-Image{
	
}

.KS-RichText-Popout-Image-Hover{
	cursor:pointer;
}

.KS-RichText-Popout-Window{
	border: 1px solid black;
}