.summaryTable{
   border-collapse:collapse;
   max-width:800px;
   width:100%;
}

.rowTitleColunm{
	width:180px;
}
.cell1Colunm{
}
.cell2Colunm{
}

.cell1{
	padding-bottom: 3px;
    padding-top: 3px;
    min-width: 310px;
}

.cell2{
	padding-bottom: 3px;
    padding-top: 3px;
    min-width: 310px;
}
    
.sectionTitleRow{
border-bottom:1px dotted #BBBBBB;
padding:30px 0 4px 4px;
}
.sectionTitle{
          font-size:1.2em; 
          font-weight:bold; 
          letter-spacing: .03em; 
	
}
.sectionEditLink{
   font-size:1.1em;
   font-weight:bold;
   letter-spacing:0.02em;
   margin-bottom:0;
   margin-left:30px;
   padding-bottom:0;
   text-decoration:none;
}
.rowTitle{
font-weight:bold;
padding:0.5em 0 0.2em 0.4em;
white-space:nowrap;
}
.columnTitle{
font-size:14px;
font-weight:bold;
padding:5px;
border-bottom:1px dotted #999999;
}
.rowHighlight{
    background-color: #FFE0E9;
}
.cellHighlight{
    background-color: #FFE0E9;
}

.rowDiffHighlight{
    background-color: #FFF8C6;
}

.summary-table-multiplicity-level-1{
    font-size:1.1em; 
    padding:1.6em 0 0.2em 0.3em; 
}

.summary-table-multiplicity-level-2{
	font-size: 1.1em;
}

.summaryTable-lo-cell ul{
	margin: 0;
	padding-left: 1.1em;
	list-style: inherit outside none;
}

.firstRowInUnnamedBlock{
	border-top:1px solid #999999; 
}