
.ks-menu-layout{
	white-space: nowrap;
}
.ks-menu-layout-menu{
}

.ks-menu-layout-menu .ks-page-sub-navigation{
padding:0 0 0 9px;

}

.ks-menu-layout-rightColumn{
display:inline-block;
padding-left:20px;
white-space:normal;
width:790px;
}

.ks-menu-layout-special-menu-item-panel{
border-bottom:2px solid #DADADA;
border-top:1px solid #DADADA;
color:#333333;
cursor:pointer;
padding-bottom:10px;
padding-left:5px;
padding-top:10px;
}

.ks-menu-layout-special-menu-item-panel a{
	text-decoration:none;
}

.ks-menu-layout-special-menu-item-panel .KS-Basic-Menu-Item-Label{
	font-weight: bold;
	font-size: 1.2em;
}

.ks-menu-layout-leftColumn{
float:left;
margin-top:5.2em;
}


.ks-menu-layout-menu .ks-page-sub-navigation-menu .KS-Basic-Menu-Toplevel-Item-Label {
color:#333;
font-size:1.1em;
letter-spacing:0.04em;
margin:0 0 3px;
overflow:hidden;
padding:10px 0 0 4px;
text-transform:uppercase;
white-space:nowrap;
}

.ks-menu-layout-menu .ks-page-sub-navigation-menu ul {
	margin: 0;
	padding: 0;
}

.ks-menu-layout-menu .ks-page-sub-navigation-menu li {
	list-style: none;
	line-height: 1.3em;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Label{
                    color:#707270; 
                    font-size:1em; 
                    padding-left:5px;
                    letter-spacing:0.02em;
                    line-height:1.4em;
                    white-space:nowrap; 

}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Label-Selected {
	color: white;
	
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel{
border-bottom:1px solid #D7D7D7;
color:#333;
cursor:pointer;
padding:3px 10px 3px 5px;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel a{
	text-decoration: none;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel a:hover{
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel-Hover{
    background-color: #708992;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel-Selected a:hover{
	cursor: pointer;
	color:white;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel-Selected{
               background-color: #636D05;
}

.content-warning{
color:#C4951D;
font-size:0.9em;
}

.content-info{
    color: black;
}

.tabLayout-ContentHeader{
	margin-left: 20px;
}

.contentHeader-utilities .gwt-ListBox {
	background:none repeat scroll 0 0 #EEEEEE;
	border:1px solid #999999;
	color:#2679C7;
	font-size:0.9em;
	margin-top:-6px;
	padding:1px;
}