.ks-menu-layout{
	white-space: nowrap;
}
.ks-menu-layout-menu{
}

.ks-menu-layout-menu .ks-page-sub-navigation{
padding:0 0 0 9px;

}

.ks-menu-layout-rightColumn{
	padding-left: 20px;
	display: inline-block;
	white-space: normal;
	zoom:1; 
	\*display: inline;
}

.ks-menu-layout-special-menu-item-panel{
	color: #333333;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #d7d7d7;
	border-top: 2px solid #d7d7d7;
}

.ks-menu-layout-special-menu-item-panel a{
	text-decoration:none;
}

.ks-menu-layout-special-menu-item-panel .KS-Basic-Menu-Item-Label{
	font-weight: bold;
	font-size: 1.2em;
}

.ks-menu-layout-leftColumn{
float:left;
margin-top:5.2em;
}


.ks-menu-layout-menu .ks-page-sub-navigation-menu .KS-Basic-Menu-Toplevel-Item-Label {
               color:#707270;
               font-family:Georgia,Times New Roman,serif;
               font-size:1.2em;
               margin:0 0 3px;
               letter-spacing: 0.04em;
               overflow:hidden;
               padding:10px 0 0 5px;
               text-transform:uppercase;
               white-space:nowrap;
}

.ks-menu-layout-menu .ks-page-sub-navigation-menu ul {
	margin: 0;
	padding: 0;
}

.ks-menu-layout-menu .ks-page-sub-navigation-menu li {
	list-style: none;
	line-height: 1.3em;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Label{
                    color:#707270; 
                    font-size:1em; 
                    padding-left:5px;
                    letter-spacing:0.02em;
                    line-height:1.4em;
                    white-space:nowrap; 

}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Label-Selected {
	color: white;
	
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel{
	padding: 3px;
	color: #333333;
	cursor: pointer;
	border-bottom: 1px solid #d7d7d7;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel a{
	text-decoration: none;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel a:hover{
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel-Hover{
    background-color: #708992;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel-Selected a:hover{
	cursor: pointer;
	color:white;
}

.ks-menu-layout-menu .KS-Basic-Menu-Item-Panel-Selected{
               background-color: #708992;
}

.content-warning{
	font-weight: bold;
    color: #FEAB3E;
}

.content-info{
    color: black;
}

.tabLayout-ContentHeader{
	margin-left: 20px;
}