.KS-Breadcrumb {
	height: 2em;
}

.KS-Breadcrumb-Item {
	float: left;
	line-height: 2em;
	color: #606060;
	padding: 0 15px 0 0; 
	padding-left : .75em; 
	left-margin : -0.75em;

}

.KS-Breadcrumb-Item-History {
	display: block;
	text-decoration: none;
	background: url('images/crumbs.gif') no-repeat right center;
	
}

.KS-Breadcrumb-Item-Current {

}

.KS-Breadcrumb-Item-Focus   {
    text-decoration:underline;
}