.KS-Sidebar-Float-Panel{
	border: none;
	
}

.KS-Sidebar{
	height: 100%;
}

.KS-Sidebar-Content-Panel{
	border: 1px solid black;
	background: yellow;
	margin: 3px;
}

.KS-Sidebar-Tab-Panel{
	text-align:right;
}

.KS-Sidebar-Content-Wrapper{
	
	width: 250px;
	border: 1px solid black;
	height: 100%;
	background: white;
}

.KS-Sidebar-Title-Panel{
	margin:3px;
	border-bottom: 1px solid black;
	width: 95%;
}

.KS-Sidebar-Title-Label{
	font-weight: bold;
	font-size: medium;
}

.KS-Sidebar-LeftTab{
	width: 25px;
	height: 100px;
	background: #99bbe8;
	border: 1px solid black;
}

.KS-Sidebar-RightTab{
	width: 25px;
	height: 100px;
	background: #99bbe8;
	border: 1px solid black;
}

.KS-Sidebar-LeftTab-Hover{
}

.KS-Sidebar-RightTab-Hover{
}

.KS-Sidebar-LeftTab-Selected{
	background: #E8C698;
	width: 30px;
	border-left: none;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.KS-Sidebar-RightTab-Selected{
	background: #E8C698;
	border-right: none;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}