.KSToolTip {
	border: 1px solid #a9a9a9;
}

.KSToolTipHeader {
	text-align: center;
	background-color: #dcdcdc;
	color: #a9a9a9;
	font-size: 110%;
	font-variant: small-caps;
	padding: 3px;
	border-bottom: 1px solid #a9a9a9;
	
}

.KSToolTipContent {

	background-color: #f8f8ff;
	color: #d3d3d3;
}