.KS-Validation-Error-Message{
	color: red;
}

.KS-Validation-Ok-Message{
	color: black;
}

.KS-Validation-Warning-Message{
	color: orange;
}

.KS-Validation-Message{
	width: 260px;
	font-size: small;
}

.KS-Validation-Image{
	vertical-align: text-top;
}

@if user.agent ie6 ie7 {
	/*TODO Temporary fix do not display error image for IE*/
	.KS-Validation-Image{
		visibility:hidden;
	}
}

.KS-Validation-Image-Panel{
	vertical-align: top;
	width:20px;	
}

@if user.agent ie6 ie7 {
	/*TODO Temporary fix do not display error image for IE*/
	.KS-Validation-Image-Panel{
		width:0px;
		visibility:hidden;
	}
}

.KS-Field-Column{
	width: 525px;
	vertical-align: top;
}

.KS-Validation-Column{
	vertical-align: top;
	width: 300px;
}

.KS-Configurable-Row{
	width: 860px;
}

.KS-Validation-Line{
	width:300px;
}

