<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>index</title>
	<link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/tabnavigation.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/forms.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
	<!-- jQuery used for mockups only -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript">
	
	
	</script>
		
</head>
<body>
	
	<div class="ks-header-container">
		<div class="ks-header">
			<h3>KUALI REFERENCE UNIVERSITY</h3>
		</div>	
	</div>
	
	<div class="ks-page-container">
	
		<div class="ks-page-banner">
			<div class="ks-page-banner-title">
			
				<h1 class="ks-heading-course-title">Introduction to Geology that is a very long title about specific things</h1>
				
				<div>
					<div class="ks-page-banner-actions">
						<div class="ks-page-banner-workflow">
							<div class="ks-page-banner-workflow-menu">
								<!-- Replace with dropdown widget --><select name="dropdown"><option value="Milk">Workflow Actions...</option></select>
								<p>Submit, approve, acknowledge, etc...</p>
							</div>
						</div>
						<div class="ks-page-banner-project">
							<div class="ks-page-banner-project-menu">
								<!-- Replace with dropdown widget --><select name="dropdown"><option value="Milk">Proposal Actions...</option></select>
								<p>Retire, modify, copy course, etc...</p>
							</div>
						</div>
						<div class="clear">&nbsp;</div>
					</div>
					<div class="ks-page-banner-workflow-status">
						<p>Workflow:<br/>
						<span>College of Arts and Sciences Curriculum Committee</span></p>
					</div>
					<div class="clear">&nbsp;</div>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
		
		<div class="ks-page-banner-message">
			
			<!-- <div class="ks-message-static hidden">  -->
			<div class="ks-message-static">
				<img src="http://staff.washington.edu/charlon/kuali/images/icons/exclamation-diamond-frame.png"><span>Message about the entire object.</span> <a href="#">This is a link within the message.</a>
			</div>		
			
			<div class="clear">&nbsp;</div>
		</div>
		
		<!-- Tab Navigation -->
		<div class="ks-page-navigation">
			<ul class="ks-page-tabs-left">
				<li><a href="#"><span>Review Proposal</span></a></li>
				<!-- <li class="active-tab"><a href="#"><span>Edit Proposal</span></a></li> -->
				<li><a href="#"><span>Edit Proposal</span></a></li>
			</ul>
			<ul class="ks-page-tabs-right">
				<li><a href="" class="tab-documents"><span>Supporting Documents [1]</span></a></li>
				<li><a href="" class="tab-analysis"><span>Run Analysis</span></a></li>
				<li><a href="" class="tab-comments"><span>Comments [10]</span></a></li>
				<li><a href="#" class="tab-people"><span>People &amp; Permissions</span></a></li>
			</ul>
			<div class="clear">&nbsp;</div>
		</div>

		
		<div id="edit-proposal-menu" class="ks-page-sub-navigation-container hidden">
			<div class="ks-page-sub-navigation">
				<div class="ks-page-sub-navigation-menu">
					<p>Proposal Information</p>
					<ul>
						<li><a href="#">Author &amp; Rationale</a></li>
					</ul>
				</div>
				<div class="ks-page-sub-navigation-menu">
					<p>Student Eligibility</p>
					<ul>
						<li><a href="#">Course Requisites</a></li>
					</ul>
				</div>
				<div class="ks-page-sub-navigation-menu">
					<p>Course Content</p>
					<ul>
						<li><a href="#">Course Information</a></li>
						<li><a href="#">Course Logistics</a></li>
						<li><a href="#">Learning Objectives</a></li>
					</ul>
				</div>
				<div class="ks-page-sub-navigation-menu" style="margin-right: 0;">
					<p>Administrative</p>
					<ul>
						<li><a href="#">Governance</a></li>
						<li><a href="#">Active Dates</a></li>
						<li><a href="#">Financials</a></li>
						<li><a href="#">Program Requirements</a></li>
					</ul>
				</div>
				<div class="clear">&nbsp;</div>
				
			</div>
		</div>

		
		<!-- Begin page body -->
		<div class="ks-page-content">
			
			<h2 class="ks-heading-page-title">Page Heading</h2>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in tellus vulputate lorem bibendum interdum. Duis tempus malesuada laoreet. Nulla placerat scelerisque erat at suscipit. Praesent a massa eget ipsum gravida facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent suscipit consequat tellus, a vestibulum diam mollis sit amet. Maecenas pulvinar, enim sit amet vestibulum pharetra, dui odio sodales tortor, ac pharetra erat libero eget dui.</p>
			
			
		</div>
		<!-- End page body -->		
				
		<div class="clear-footer">&nbsp;</div>
	</div>
	
	<div class="ks-footer-container">
		<div class="ks-footer">
			<span>&copy; Copyright Kuali Foundation</span>
		</div>
	</div>
	
</body>
</html>
