<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>index</title>
	<link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/tabnavigation.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/forms.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/buttons.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/tables.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
	<!-- jQuery used for mockups only -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type='text/javascript' src='scripts/jquery.simplemodal.js'></script>
	<script type='text/javascript' src='scripts/jquery.watermark.js'></script>
	<script type="text/javascript">
		
		// this tells jquery to run the function below once the DOM is ready
		$(document).ready(function() {
		
			// choose text for the show/hide link
			var showText="Show Advanced Options";
			var hideText="Hide Advanced Options";
			
			// add watermarks
			$('input#WatermarkedInput1').watermark('Hello watermark...', {className: 'ks-form-module-elements-watermark'});
			$('input#WatermarkedInput2').watermark('Here is another field...', {className: 'ks-form-module-elements-watermark'});
			
			// create the toggle link
			$('a#toggle_link').text(showText);
					
			// capture clicks on the newly created link
			$('a#toggle_link').click(function() {
				// change the link text
				if ($('a#toggle_link').text()==showText) {
					$('a#toggle_link').text(hideText);
					$('a#toggle_link').removeClass("ks-form-show-advanced");
					$('a#toggle_link').addClass("ks-form-hide-advanced");
					$('.ks-form-course-format-advanced-header').css("background-color","#d6d6d6");
				}
				else {
					$('a#toggle_link').text(showText);
					$('a#toggle_link').removeClass("ks-form-hide-advanced");
					$('a#toggle_link').addClass("ks-form-show-advanced");
					$('.ks-form-course-format-advanced-header').css("background-color","#fff");
				}
				// toggle the display
				$('#hide_this').toggle('slow');			
				return false;
			});
			
			// hover state for checkbox rows	
			$('.ks-table tr.checkbox').hover(
				function() {
					$(this).addClass("hovered");
				},
				function() {
					$(this).removeClass("hovered");
			});
				
			// hover state for edit rows
			$('.ks-table tr.edit').hover(
				function() {
					$(this).addClass("hovered");
				},
				function() {
					$(this).removeClass("hovered");
				});
			
			// hover state for sortable header columns
			$('.sortable th').hover(
				function() {
					$(this).addClass("hovered");
				},
				function() {
					$(this).removeClass("hovered");
			});
			
			// comments popin
			$('a.popin').click(
				function (e) {
					e.preventDefault();
					$('#basic-modal-content').modal();
			});
		
		}); // close jquery
				
	</script>
		
</head>
<body>
	
	<div class="ks-header-container">
		<div class="ks-header">
			<h3>KUALI REFERENCE UNIVERSITY</h3>
		</div>	
	</div>
	
	<div class="ks-page-container">
	
		<div class="ks-page-banner">
			<div class="ks-page-banner-title">
			
				<h1 class="ks-heading-course-title">Introduction to Geology that is a very long title about specific things</h1>
				
				<div>
					<div class="ks-page-banner-actions">
						<div class="ks-page-banner-workflow">
							<div class="ks-page-banner-workflow-menu">
								<!-- Replace with dropdown widget --><select name="dropdown"><option value="Milk">Workflow Actions...</option></select>
								<p>Submit, approve, acknowledge, etc...</p>
							</div>
						</div>
						<div class="ks-page-banner-project">
							<div class="ks-page-banner-project-menu">
								<!-- Replace with dropdown widget --><select name="dropdown"><option value="Milk">Proposal Actions...</option></select>
								<p>Retire, modify, copy course, etc...</p>
							</div>
						</div>
						<div class="clear">&nbsp;</div>
					</div>
					<div class="ks-page-banner-workflow-status">
						<p>Workflow:<br/>
						<span>College of Arts and Sciences Curriculum Committee</span></p>
					</div>
					<div class="clear">&nbsp;</div>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
		
		<div class="ks-page-banner-message">
			
			<!-- <div class="ks-message-static hidden">  -->
			<div class="ks-message-static">
				<img src="http://staff.washington.edu/charlon/kuali/images/icons/exclamation-diamond-frame.png"><span>Message about the entire object.</span> <a href="#">This is a link within the message.</a>
			</div>		
			
			<div class="clear">&nbsp;</div>
		</div>
		
		<!-- Tab Navigation -->
		<div class="ks-page-navigation">
			<ul class="ks-page-tabs-left">
				<li><a href="#"><span>Review Proposal</span></a></li>
				<!-- <li class="active-tab"><a href="#"><span>Edit Proposal</span></a></li> -->
				<li class="active-tab"><a href="#"><span>Edit Proposal</span></a></li>
			</ul>
			<ul class="ks-page-tabs-right">
				<li><a href="" class="tab-documents"><span>Supporting Documents [1]</span></a></li>
				<li><a href="" class="tab-analysis"><span>Run Analysis</span></a></li>
				<li><a href="#" class="tab-people"><span>People &amp; Permissions</span></a></li>
				<li><a href="" class="tab-comments popin"><span>Comments [10]</span></a></li>
			</ul>
			<div class="clear">&nbsp;</div>
		</div>

		
		<div id="edit-proposal-menu" class="ks-page-sub-navigation-container">
			<div class="ks-page-sub-navigation">
				<div class="ks-page-sub-navigation-menu">
					<p>Proposal Information</p>
					<ul>
						<li><a href="#">Author &amp; Rationale</a></li>
					</ul>
				</div>
				<div class="ks-page-sub-navigation-menu">
					<p>Student Eligibility</p>
					<ul>
						<li><a href="#">Course Requisites</a></li>
					</ul>
				</div>
				<div class="ks-page-sub-navigation-menu">
					<p>Course Content</p>
					<ul>
						<li><a href="#">Course Information</a></li>
						<li><a href="#">Course Logistics</a></li>
						<li><a href="#">Learning Objectives</a></li>
					</ul>
				</div>
				<div class="ks-page-sub-navigation-menu" style="margin-right: 0;">
					<p>Administrative</p>
					<ul>
						<li><a href="#">Governance</a></li>
						<li><a href="#">Active Dates</a></li>
						<li><a href="#">Financials</a></li>
						<li><a href="#">Program Requirements</a></li>
					</ul>
				</div>
				<div class="clear">&nbsp;</div>
				
			</div>
		</div>

		
		<!-- Begin page body -->
		<div class="ks-page-content">
			
			<h2 class="ks-heading-page-title">Course Logistics</h2>
			
			<div class="ks-message-static">
				<img src="http://staff.washington.edu/charlon/kuali/images/icons/exclamation-diamond-frame.png"><span>Message about the entire object.</span><a href="#">This is a link within the message.</a>
			</div>
					
			<h3 class="ks-heading-page-section">Scheduling</h3>
			
			<div class="ks-form-module"><!-- Begin Form Container -->
				
				<p class="noted">This is a form grouping in its normal state.</p>
				<div class="ks-form-module-group clearfix">
					<div class="ks-form-module-fields clearfix">
						<div class="ks-form-module-elements">
							<label for="selectWidget123" class="ks-form-module-elements-top-margin">Term <abbr class="ks-form-module-elements-required" title="Required">*</abbr></label>
							<select id="selectWidget123">
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
							</select>
						</div>
						<div class="ks-form-module-elements">
							<label class="ks-form-module-elements-top-margin">Duration <abbr class="ks-form-module-elements-required" title="Required">*</abbr></label>
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
							</select>
						</div>	
					</div>
					<div class="ks-form-module-validation">
						&nbsp;
					</div>
				</div>
				
				<p class="noted">This is a form grouping in its error state. Class "error" is added to container. Class "invalid" is added per form element.</p>			
				<div class="ks-form-module-group clearfix error">
					<div class="ks-form-module-fields clearfix">
						<div class="ks-form-module-elements invalid">
							<label class="ks-form-module-elements-top-margin">Term</label>
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
							</select>
						</div>
						<div class="ks-form-module-elements invalid">
							<label style="margin-top:0;">Duration</label>
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
							</select>
						</div>	
					</div>
					<div class="ks-form-module-validation">
						<ul>
							<li><span class="ks-form-module-validation-label">Term</span> - Incorrect term does not make sense.</li>
							<li><span class="ks-form-module-validation-label">Duration</span> - Your duration is beyond the means of this system.</li>
						</ul>
					</div>
				</div>
				
				<div class="ks-form-module-solo clearfix error">
					<div class="ks-form-module-fields">
						<div class="ks-form-module-elements invalid">
							
							<label class="ks-form-module-elements-top-margin">Drop Down Select Label <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
							
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">Credit Hours, Fixed</option>
							</select>
							
							<span class="ks-form-module-validation-inline"><span class="ks-form-module-validation-label">Drop Down Select Label</span> - This is an error message that goes inline! This message is particularly long! In fact, lets make it even longer.</span>
						</div>
					</div>
				</div>
				
				<div class="ks-form-module-solo clearfix error">
					<div class="ks-form-module-fields">					
						<div class="ks-form-module-elements invalid">
							<fieldset class="ks-form-module-elements-top-margin">
								<legend>Radio Button Label <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></legend>
								<input type="radio" /><label>Yes</label>&nbsp;&nbsp;<input type="radio" /><label>No</label>
							</fieldset>
							<span class="ks-form-module-validation-inline"><span class="ks-form-module-validation-label">Radio Button Label</span> -This is an error message that goes inline!</span>
						</div>
					</div>
				</div>
				
				<div class="ks-form-module-solo clearfix error">
					<div class="ks-form-module-fields">					
						<div class="ks-form-module-elements invalid">
							<fieldset class="ks-form-module-elements-top-margin">
								<legend>Checkbox Label <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></legend>
								<input type="checkbox" /><label>Yes</label>&nbsp;&nbsp;<input type="checkbox" /><label>No</label><br/>
								<input type="checkbox" /><label>Maybe</label>&nbsp;&nbsp;<input type="checkbox" /><label>So</label>
							</fieldset>
							<span class="ks-form-module-validation-inline"><span class="ks-form-module-validation-label">Checkbox Label</span> -This is an error message that goes inline!</span>
						</div>
					</div>
				</div>
				
				<p class="noted">This is a form grouping shown in its normal state.</p>
				
				<div class="ks-form-module-group clearfix">		
					<div class="ks-form-module-fields">
						<div class="ks-form-module-elements">
							
							<label class="ks-form-module-elements-top-margin">Activity Type <abbr class="ks-form-module-elements-required" title="Required">*</abbr> <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>

							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
							
						</div>
						<br class="clear"/>
						<div class="ks-form-module-elements">
							<label>Contact Hours</label>
							<input type="text" id="WatermarkedInput1">&nbsp;
							<select>
							  <option value="aaa">per week</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
						</div>
						<div class="ks-form-module-elements">
							<label class="ks-form-module-elements-top-margin">Delivery Method <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
							<span class="ks-form-module-elements-instruction">This field has instruction text!</span>
							<select>
							  <option value="aaa">In Person</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
						</div>
						<br class="clear"/>
						<div class="ks-form-module-elements">
							<label>Anticipated Class Size <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
							<p class="ks-form-module-elements-help-text">Options derived from Learning Result selection above.</p>
						</div>
			
						<div class="ks-form-module-elements">
							<label>Random Type <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
						</div>
						<div class="ks-form-module-elements">
							<fieldset>
							
								<legend>Checkbox Label <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></legend>
								<input type="checkbox" /><label>Yes</label>&nbsp;&nbsp;<input type="checkbox" /><label>No</label><br/>
								<input type="checkbox" /><label>Maybe</label>&nbsp;&nbsp;<input type="checkbox" /><label>So</label>
							</fieldset>
						</div>
					</div>
					<div class="ks-form-module-validation">
						&nbsp;
					</div>
				</div>
				
				<p class="noted">This is a form grouping shown with its error state.</p>
				
				<div class="ks-form-module-group clearfix error">		
					<div class="ks-form-module-fields">
						<div class="ks-form-module-elements invalid">
							<label class="ks-form-module-elements-top-margin">Activity Type <abbr class="ks-form-module-elements-required" title="Required">*</abbr> <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
							
						</div>
						<br class="clear"/>
						<div class="ks-form-module-elements">
							<label>Contact Hours</label>
							<input type="text" id="WatermarkedInput2">&nbsp;
							<select>
							  <option value="aaa">per week</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
						</div>
						<div class="ks-form-module-elements invalid">
							<label class="ks-form-module-elements-top-margin">Delivery Method</label>
							<span class="ks-form-module-elements-instruction">This field has instruction text!</span>
							<select>
							  <option value="aaa">In Person</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
						</div>
						<br class="clear"/>
						<div class="ks-form-module-elements">
							<label>Anticipated Class Size <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
							<p class="ks-form-module-elements-help-text">Options derived from Learning Result selection above.</p>
						</div>
			
						<div class="ks-form-module-elements invalid">
							<label>Random Type</label>
							<select>
							  <option value="aaa">1-20</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							  <option value="aaa">aaa</option>
							</select>
						</div>
						<div class="ks-form-module-elements invalid">
							<fieldset>
								<legend>Checkbox Label <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></legend>
								<input type="checkbox" /><label>Yes</label>&nbsp;&nbsp;<input type="checkbox" /><label>No</label><br/>
								<input type="checkbox" /><label>Maybe</label>&nbsp;&nbsp;<input type="checkbox" /><label>So</label>
							</fieldset>
						</div>
					</div>
					<div class="ks-form-module-validation">
						<ul>
							<li><span class="ks-form-module-validation-label">Activity Type</span> - 0 columns specified w/ n inputs</li>
							<li><span class="ks-form-module-validation-label">Delivery Method</span> - Validation goes here!</li>
							<li><span class="ks-form-module-validation-label">Random Input</span> - jlksad aslk aslkdkfj aslkdfj as;l asdlkfjaslkdfj</li>
						</ul>
					</div>
				</div>
				
				<p class="noted">This is a text area shown with its error state.</p>
				
				<div class="ks-form-module-solo clearfix error">
					<div class="ks-form-module-fields">					
						<div class="ks-form-module-elements invalid">
							<label class="ks-form-module-elements-top-margin">Textarea Label</label>
							<textarea rows="10" cols="60">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam justo mi, pretium vel varius sit amet, eleifend ut lacus. Pellentesque enim justo, convallis non ultricies non, pellentesque eu leo. In egestas pharetra mauris, sit amet porta sem lobortis non. Nunc posuere convallis urna, eget rutrum velit ultricies sed. Pellentesque vitae orci diam, vitae dapibus arcu. Sed euismod adipiscing nibh.</textarea>
							<span class="ks-form-module-validation-inline">This is an error message that goes inline!</span>
						</div>
					</div>
				</div>

			</div><!-- End Form Container -->
			
			<h3 class="ks-heading-page-section">Learning Outcomes</h3>
			
			<p class="noted">This is a bordered form container with its normal state.</p>
			<div class="ks-form-bordered"><!-- Begin Bordered Container -->
				<div class="ks-form-bordered-header">
					<div class="ks-form-bordered-header-title"><h4>Learning Outcome 1</h4></div>
					<div class="ks-form-bordered-header-title-actions"><abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr> <abbr class="ks-form-module-elements-delete1" title="Delete"><a href="#">x</a></abbr></div>	
					<div class="clear">&nbsp;</div>		
				</div>
				<div class="ks-form-bordered-body">
					<div class="ks-form-module"><!-- Begin Form Container -->
						<div class="ks-form-module-group clearfix">
							<div class="ks-form-module-fields clearfix">
								<div class="ks-form-module-elements">
									<label class="ks-form-module-elements-top-margin">Term <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
									<select>
									  <option value="aaa">1-20</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
									</select>
									
								</div>
								<br class="clear"/>
								<div class="ks-form-module-elements">
									<label>Duration <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
									<select>
									  <option value="aaa">1-20</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
									</select>
									
								</div>	
							</div>
							<div class="ks-form-module-validation">
								<ul class="hidden">
									<li>Incorrect term.</li>
									<li>Your duration is beyond the means of this system.</li>
								</ul>
							</div>
						</div>
					</div><!-- End Form Container -->
				</div>
			</div><!-- End Bordered Container -->
			
			<p class="noted">This is a bordered form container that has been highlighted. Add the "highlighted" class using Javascript when the DELETE X button is hovered.</p>
			<div class="ks-form-bordered highlighted"><!-- Begin Bordered Container -->
				<div class="ks-form-bordered-header">
					<div class="ks-form-bordered-header-title"><h4>Learning Outcome 2</h4></div>
					<div class="ks-form-bordered-header-title-actions"><abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr> <abbr class="ks-form-module-elements-delete1" title="Delete"><a href="#">x</a></abbr></div>
					<div class="clear">&nbsp;</div>		
				</div>
				<div class="ks-form-bordered-body">		
					<div class="ks-form-module"><!-- Begin Form Container -->
						<div class="ks-form-module-group clearfix">
							<div class="ks-form-module-fields clearfix">
								<div class="ks-form-module-elements">
									<label class="ks-form-module-elements-top-margin">Term</label>
									<select>
									  <option value="aaa">1-20</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
									</select>
								</div>
								<br class="clear"/>
								<div class="ks-form-module-elements">
									<label>Duration</label>
									<select>
									  <option value="aaa">1-20</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
									</select>
								</div>	
							</div>
							<div class="ks-form-module-validation">
								<ul class="hidden">
									<li>Incorrect term.</li>
									<li>Your duration is beyond the means of this system.</li>
								</ul>
							</div>
						</div>
					</div><!-- End Form Container -->
				</div>
			</div><!-- End Bordered Container -->
			
			<p class="noted">This is a bordered form container that has error messages displayed.</p>
			<div class="ks-form-bordered"><!-- Begin Bordered Container -->
				<div class="ks-form-bordered-header">
					<div class="ks-form-bordered-header-title"><h4>Learning Outcome 3</h4></div>
					<div class="ks-form-bordered-header-title-actions"><abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr> <abbr class="ks-form-module-elements-delete1" title="Delete"><a href="#">x</a></abbr></div>	
					<div class="clear">&nbsp;</div>		
				</div>
				<div class="ks-form-bordered-body">
					<div class="ks-form-module"><!-- Begin Form Container -->
						<div class="ks-form-module-group clearfix error">
							<div class="ks-form-module-fields clearfix">
								<div class="ks-form-module-elements invalid">
									<label class="ks-form-module-elements-top-margin">Term <abbr class="ks-form-module-elements-required" title="Required">*</abbr></label>
									<select>
									  <option value="aaa">1-20</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
									</select>
								</div>
								<br class="clear"/>
								<div class="ks-form-module-elements invalid">
									<label>Duration</label>
									<select>
									  <option value="aaa">1-20</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaa</option>
									  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
									</select>
								</div>	
							</div>
							<div class="ks-form-module-validation">
								<ul class="visible">
									<li><span class="ks-form-module-validation-label">Term</span> - Incorrect term.</li>
									<li><span class="ks-form-module-validation-label">Duration</span> - Your duration is beyond the means of this system.</li>
								</ul>
							</div>
						</div>
					</div><!-- End Form Container -->
				</div>
			</div><!-- End Bordered Container -->
			
			
			
			<!-- Buttons -->
			<p class="noted">These are the button styles.</p>
			
			<div class="ks-form-button-container"><a href="#" class="ks-form-button-large">Add Learning Outcome</a> &nbsp;&nbsp; <span class="ks-form-button-large disabled" >Add Learning Outcome</span></div>
			<div class="ks-form-button-container"><a href="#" class="ks-form-button-small">Add Learning Outcome</a> &nbsp;&nbsp; <span class="ks-form-button-small disabled" >Add Learning Outcome</span></div>
			


			<h3 class="ks-heading-page-section">Course Format</h3>	
			
			
			<p class="noted">This is a Course Format, which is basically a bordered form container.</p>
			<div class="ks-form-bordered"><!-- Begin Bordered Container -->
				
				<div class="ks-form-bordered-header">
					<div class="ks-form-bordered-header-title"><h4>Course Format 1</h4></div>
					<div class="ks-form-bordered-header-title-actions"><abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr> <abbr class="ks-form-module-elements-delete1" title="Delete"><a href="#">x</a></abbr></div>	
					<div class="clear">&nbsp;</div>		
				</div>
				<div class="ks-form-bordered-body">
								
								<p class="noted">This is an Advanced section. Notice the interaction when the link is pressed.</p>
								<div class="ks-form-course-format-advanced"><!-- Begin Show Advanced -->	
									
									<div class="ks-form-course-format-advanced-header"><a href="#" id="toggle_link" class="ks-form-show-advanced">xxx</a></div>
									<div id="hide_this" class="ks-form-course-format-advanced-body hidden">
									
										<div class="ks-form-bordered"><!-- Begin Bordered Container -->
											<div class="ks-form-bordered-header">
												<div class="ks-form-bordered-header-title"><h4>Learning Outcome 1</h4></div>
												<div class="ks-form-bordered-header-title-actions"><abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr> <abbr class="ks-form-module-elements-delete1" title="Delete"><a href="#">x</a></abbr></div>	
												<div class="clear">&nbsp;</div>		
											</div>
											<div class="ks-form-bordered-body">
												<div class="ks-form-module"><!-- Begin Form Container -->
													<div class="ks-form-module-group clearfix">
														<div class="ks-form-module-fields clearfix">
															<div class="ks-form-module-elements">
																<label class="ks-form-module-elements-top-margin">Term <abbr class="ks-form-module-elements-required" title="Required">*</abbr> <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
																<select>
																  <option value="aaa">1-20</option>
																  <option value="aaa">aaa</option>
																  <option value="aaa">aaa</option>
																  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
																</select>
															</div>
															<br class="clear"/>
															<div class="ks-form-module-elements">
																<label>Duration <abbr class="ks-form-module-elements-required" title="Required">*</abbr> <abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr></label>
																<select>
																  <option value="aaa">1-20</option>
																  <option value="aaa">aaa</option>
																  <option value="aaa">aaa</option>
																  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
																</select>
															</div>	
														</div>
														<div class="ks-form-module-validation">
															&nbsp;
														</div>
													</div>
												</div><!-- End Form Container -->
											</div>
										</div><!-- End Bordered Container -->
															
										<p><a href="#" class="ks-form-button-small">Add Learning Outcome</a></p>
										
										<div class="ks-form-module"><!-- Begin Form Container -->
											<div class="ks-form-module-group clearfix">
												<div class="ks-form-module-fields clearfix">
													<div class="ks-form-module-elements">
														<label style="margin-top:0;">Term</label>
														<select>
														  <option value="aaa">1-20</option>
														  <option value="aaa">aaa</option>
														  <option value="aaa">aaa</option>
														  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
														</select>
													</div>
													<div class="ks-form-module-elements">
														<label style="margin-top:0;">Duration</label>
														<select>
														  <option value="aaa">1-20</option>
														  <option value="aaa">aaa</option>
														  <option value="aaa">aaa</option>
														  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
														</select>
													</div>	
												</div>
												<div class="ks-form-module">
													<ul class="hidden">
														<li>Incorrect term does not make sense.</li>
														<li>Your duration is beyond the means of this system.</li>
													</ul>
												</div>
											</div>
										</div><!-- End Form Container -->
									
									</div>
									<div class="clear">&nbsp;</div>
									
								</div><!-- End Show Advanced -->
								
								<p class="noted">This is an Activity in its normal state AND a form element has a validation error. </p>
								<div class="ks-form-course-format-activity"><!-- Begin Activity -->
									<div class="ks-form-course-format-activity-header">
										<div class="ks-form-course-format-activity-header-title"><h5>Activity 1</h5></div>
										<div class="ks-form-course-format-activity-header-title-actions"><abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr> <abbr class="ks-form-module-elements-delete1" title="Delete"><a href="#">x</a></abbr></div>
										<div class="clear">&nbsp;</div>	
									</div>
									
									<div class="ks-message-static">
										<img src="http://staff.washington.edu/charlon/kuali/images/icons/exclamation-diamond-frame.png"><span>Message about the entire object.</span> <a href="#">This is a link within the message.</a>
									</div>	
									
									<div class="ks-form-module"><!-- Begin Form Container -->
										<div class="ks-form-module-group clearfix">
											<div class="ks-form-module-fields clearfix">
												<div class="ks-form-module-elements">
													<label style="margin-top:0;">Term</label>
													<select>
													  <option value="aaa">1-20</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
													</select>
												</div>
												<div class="ks-form-module-elements">
													<label style="margin-top:0;">Duration</label>
													<select>
													  <option value="aaa">1-20</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
													</select>
												</div>	
											</div>
											<div class="ks-form-module-validation">
												<ul class="hidden">
													<li>Incorrect term does not make sense.</li>
													<li>Your duration is beyond the means of this system.</li>
												</ul>
											</div>
										</div>
									</div><!-- End Form Container -->
									
									<div class="ks-form-module"><!-- Begin Form Container -->
										<div class="ks-form-module-group clearfix error">
											<div class="ks-form-module-fields clearfix">
												<div class="ks-form-module-elements invalid">
													<label style="margin-top:0;">Term</label>
													<select>
													  <option value="aaa">1-20</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
													</select>
												</div>
												<div class="ks-form-module-elements invalid">
													<label style="margin-top:0;">Duration</label>
													<select>
													  <option value="aaa">1-20</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
													</select>
												</div>	
											</div>
											<div class="ks-form-module-validation">
												<ul class="visible">
													<li><span class="ks-form-module-validation-label">Term</span> - Incorrect term does not make sense.</li>
													<li><span class="ks-form-module-validation-label">Duration</span> - Your duration is beyond the means of this system.</li>
												</ul>
											</div>
										</div>
									</div><!-- End Form Container -->
									
									
								</div><!-- End Activity -->
								
								<p class="noted">This is an Activity that has been highlighted. Highlight happens when DELETE X is hovered.</p>
								<div class="ks-form-course-format-activity highlighted"><!-- Begin Activity -->
									<div class="ks-form-course-format-activity-header">
										<div class="ks-form-course-format-activity-header-title"><h5>Activity 2</h5></div>
										<div class="ks-form-course-format-activity-header-title-actions"><abbr class="ks-form-module-elements-help1" title="Help"><a href="#">?</a></abbr> <abbr class="ks-form-module-elements-delete1" title="Delete"><a href="#">x</a></abbr></div>	
										<div class="clear">&nbsp;</div>	
									</div>
									
									<div class="ks-message-static">
										<img src="http://staff.washington.edu/charlon/kuali/images/icons/exclamation-diamond-frame.png"><span>Message about the entire object.</span> <a href="#">This is a link within the message.</a>
									</div>	
									
									<div class="ks-form-module"><!-- Begin Form Container -->
										<div class="ks-form-module-group clearfix">
											<div class="ks-form-module-fields clearfix">
												<div class="ks-form-module-elements">
													<label style="margin-top:0;">Term</label>
													<select>
													  <option value="aaa">1-20</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
													</select>
												</div>
												<div class="ks-form-module-elements">
													<label style="margin-top:0;">Duration</label>
													<select>
													  <option value="aaa">1-20</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaa</option>
													  <option value="aaa">aaaaaaaaaaaaaaaaaaaa</option>
													</select>
												</div>	
											</div>
											<div class="ks-form-module-validation">
												<ul class="hidden">
													<li>Incorrect term does not make sense.</li>
													<li>Your duration is beyond the means of this system.</li>
												</ul>
											</div>
										</div>
									</div><!-- End Form Container -->
									
								
									
								</div><!-- End Activity -->
								
								<div class="ks-form-button-container"><a href="#" class="ks-form-button-small">Add Activity</a></div>
								
				</div>				
			</div><!-- End Bordered Container -->
			
			
			<div class="ks-form-button-container"><a href="#" class="ks-form-button-large">Add Course Format</a></div>
			
			
			<p class="noted">These are tables - used for actual tabular data.</p>

			<!-- Begin Tables -->
			<div class="ks-table-container">
			<table class="ks-table">
				<col width=1%>
				<col width=19%>
				<col width=19%>
				<col width=19%>
				<col width=19%>
				<col width=19%>

				
				<thead class="sortable">
				<tr class="header">
					<th><input type="checkbox" name="table_checkbox" value="ks" /></th>
					<th><a class="ks-table-sort" href="#">First name</a></th>
					<th class="sort-down"><a class="ks-table-sort" href="#">Last name</a></th>
					<th><a class="ks-table-sort" href="#">Student Number</a></th>
					<th class="sort-up"><a class="ks-table-sort" href="#">Section</a></th>
					<th class="last-column"><a class="ks-table-sort" href="#">Level</a> <span class="ks-button-configure"><a href="#">CONFIGURE</a></span> </th>
				</tr>
				</thead>
				<tbody class="scrollable">
				<tr>
					<td class="status" colspan="6"><strong>Loading...</strong></td>
				</tr>
				<tr class="checkbox">
					<td><input type="checkbox" name="table_checkbox" value="ks" /></td>
					<td>Char</td>
					<td>Carey</td>
					<td>123142</td>
					<td>AA</td>
					<td>2</td>
				</tr>
				<tr class="checkbox checked">
					<td><input type="checkbox" name="table_checkbox" value="ks" checked="checked" /></td>
					<td>Dave</td>
					<td>Donnely</td>
					<td>1240321</td>
					<td>AB</td>
					<td>2</td>
				</tr>
				<tr class="checkbox">
					<td><input type="checkbox" name="table_checkbox" value="ks" /></td>
					<td>Evan</td>
					<td>Elder</td>
					<td>1234134</td>
					<td>BA</td>
					<td>1</td>
				</tr>
				<tr class="checkbox">
					<td><input type="checkbox" name="table_checkbox" value="ks" /></td>
					<td>Forrest</td>
					<td>Fielding</td>
					<td>5434654</td>
					<td>AA</td>
					<td>1</td>
				</tr>
				<tr class="checkbox">
					<td><input type="checkbox" name="table_checkbox" value="ks" /></td>
					<td>Billy</td>
					<td>Bob</td>
					<td>4564566</td>
					<td>AB</td>
					<td>1</td>
				</tr>
				<tr class="checkbox">
					<td><input type="checkbox" name="table_checkbox" value="ks" /></td>
					<td>Char</td>
					<td>Carey</td>
					<td>2435345</td>
					<td>AA</td>
					<td>3</td>
				</tr>
				<tr class="checkbox">
					<td><input type="checkbox" name="table_checkbox" value="ks" /></td>
					<td>Dave</td>
					<td>Donnely</td>
					<td>12345</td>
					<td>AB</td>
					<td>3</td>
				</tr>
				<tr class="checkbox last-row">
					<td><input type="checkbox" name="table_checkbox" value="ks" /></td>
					<td>Evan</td>
					<td>Elder </td>
					<td>123142</td>
					<td>BA </td>
					<td>1</td>
				</tr>
				</tbody>
			</table>
			</div>
			
			
			<div class="ks-table-container">
			<table class="ks-table">
				<col width=20%>
				<col width=25%>
				<col width=25%>
				<col width=25%>
				<col width="5%">
				<thead>
				<tr>
					<th>Title</th>
					<th>Name</th>
					<th>Last Updated</th>
					<th>Change Log</th>
					<th class="last-column">&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="subhead" colspan="5"><strong>Section 1</strong>&nbsp;&nbsp;&nbsp;<a href="#">Edit</a></td>
				</tr>
				<tr class="edit">
					<td class="subtitle">Originator</td>
					<td>John Hayes</td>
					<td>01.20.2010</td>
					<td>sladjfasj fas</td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr class="edit">
					<td class="subtitle">Delegate</td>
					<td>Carol Wescliff</td>
					<td>01.20.2010</td>
					<td>sladjfasj fas</td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr class="edit">
					<td class="subtitle">Title</td>
					<td>Introduction to Dolphins</td>
					<td>01.20.2010</td>
					<td>sladjfasj fas</td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr class="edit">
					<td class="subtitle">Originator</td>
					<td>John Hayes</td>
					<td>01.20.2010</td>
					<td>sladjfasj fas</td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr>
					<td class="subhead" colspan="5"><strong>Section 2</strong>&nbsp;&nbsp;&nbsp;<a href="#">Edit</a></td>
				</tr>
				<tr class="edit">
					<td class="subtitle">Title</td>
					<td>Introduction to Dolphins</td>
					<td>01.20.2010</td>
					<td>sladjfasj fas</td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr class="edit">
					<td class="subtitle">Originator</td>
					<td>John Hayes</td>
					<td>01.20.2010</td>
					<td>sladjfasj fas</td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr class="edit last-row">
					<td class="subtitle">Delegate</td>
					<td>Carol Wescliff</td>
					<td>01.20.2010</td>
					<td>sladjfasj fas</td>
					<td><a href="#">Edit</a></td>
				</tr>
				</tbody>
			</table>
			</div>
			
			<div class="ks-table-container">
			<table class="ks-table">
				<col width=20%>
				<col width=80%>
				<thead>
				<tr>
					<th>Title</th>
					<th class="last-column" colspan="4">Name</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="subhead" colspan="5"><strong>Section 1</strong>&nbsp;&nbsp;&nbsp;<a href="#">Edit</a></td>
				</tr>
				<tr class="checkbox">
					<td class="subtitle">Originator</td>
					<td colspan="4"><input type="checkbox" name="table_checkbox" value="ks" />&nbsp;John Hayes</td>
				</tr>
				<tr class="checkbox">
					<td class="subtitle">Delegate</td>
					<td class="checked" colspan="4"><input type="checkbox" name="table_checkbox" value="ks" checked="checked"/>&nbsp;Carol Wescliff</td>
				</tr>
				<tr class="checkbox">
					<td class="subtitle">Title</td>
					<td colspan="4"><input type="checkbox" name="table_checkbox" value="ks" />&nbsp;Introduction to Dolphins</td>
				</tr>
				<tr class="checkbox">
					<td class="subtitle">Originator</td>
					<td colspan="4"><input type="checkbox" name="table_checkbox" value="ks" />&nbsp;John Hayes</td>
				</tr>
				<tr>
					<td class="subhead" colspan="5"><strong>Section 2</strong>&nbsp;&nbsp;&nbsp;<a href="#">Edit</a></td>
				</tr>
				<tr class="checkbox">
					<td class="subtitle">Title</td>
					<td colspan="4"><input type="checkbox" name="table_checkbox" value="ks" />&nbsp;Introduction to Dolphins</td>
				</tr>
				<tr class="checkbox">
					<td class="subtitle">Originator</td>
					<td colspan="4"><input type="checkbox" name="table_checkbox" value="ks" />&nbsp;John Hayes</td>
				</tr>
				<tr class="checkbox last-row">
					<td class="subtitle">Delegate</td>
					<td colspan="4"><input type="checkbox" name="table_checkbox" value="ks" />&nbsp;Carol Wescliff</td>
				</tr>
				</tbody>
			</table>
			</div>
			
			
			<div class="ks-table-container">
			<table class="ks-table">
				<col width=20%>
				<col width=40%>
				<col width="40%">
				<thead>
				<tr>
					<th class="empty">&nbsp;</th>
					<th>Current version</th>
					<th class="last-column">Version 2.1</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="subhead" colspan="3"><strong>Section 1</strong>&nbsp;&nbsp;&nbsp;<a href="#">Edit</a></td>
				</tr>
				<tr>
					<td class="subtitle">Originator</td>
					<td>John Hayes</td>
					<td>John Hayes</td>
				</tr>
				<tr>
					<td class="subtitle">Delegate</td>
					<td>Carol Wescliff</td>
					<td>Carol Wescliff</td>
				</tr>
				<tr>
					<td class="subtitle">Title</td>
					<td>Introduction to Dolphins</td>
					<td>Introduction to Dolphins</td>
				</tr>
				<tr>
					<td class="subtitle">Originator</td>
					<td>John Hayes</td>
					<td>John Hayes</td>
				</tr>
				<tr>
					<td class="subhead" colspan="3"><strong>Section 2</strong>&nbsp;&nbsp;&nbsp;<a href="#">Edit</a></td>
				</tr>
				<tr>
					<td class="subtitle">Title</td>
					<td>Introduction to Dolphins</td>
					<td>Introduction to Dolphins</td>
				</tr>
				<tr class="highlighted">
					<td class="subtitle">Originator</td>
					<td>John Hayes</td>
					<td>John Hayes</td>
				</tr>
				<tr class="last-row">
					<td class="subtitle">Delegate</td>
					<td>Carol Wescliff</td>
					<td>Carol Wescliff</td>
				</tr>
				</tbody>
			</table>
			</div>
			<!-- End Tables -->
			
			
			<p class="noted">These are primary and secondary buttons.</p>
			
			<div class="ks-form-button-container"><a class="ks-button-primary" href="#">Button Primary</a>&nbsp;&nbsp;<span class="ks-button-primary-disabled">Button Primary Disabled</span></div>
			<div class="ks-form-button-container"><a class="ks-button-secondary" href="#">Button Secondary</a>&nbsp;&nbsp;<span class="ks-button-secondary-disabled">Button Secondary Disabled</span></div>
			<div class="ks-form-button-container"><a class="ks-button-primary-small" href="#">Button Primary Small</a>&nbsp;&nbsp;<span class="ks-button-primary-small-disabled">Button Primary Small Disabled</span></div>
			<div class="ks-form-button-container"><a class="ks-button-secondary-small" href="#">Button Secondary Small</a>&nbsp;&nbsp;<span class="ks-button-secondary-small-disabled">Button Secondary Small Disabled</span></div>
			
		</div>
		<!-- End page body -->		
				
		<div class="clear-footer">&nbsp;</div>
	</div>
	
	<div class="ks-footer-container">
		<div class="ks-footer">
			<span>&copy; Copyright Kuali Foundation</span>
		</div>
	</div>
	
	<!-- Hidden Page: Comments Lightbox -->
	<div id="basic-modal-content" class="">
			
		<div class="ks-lightbox-content">
		
			<h2 class="ks-heading-page-title">Proposal Comments - Introduction to Geology</h2>
			
			<h3 class="ks-heading-page-section">Leave a comment</h3>
			
			<div class="ks-comments">
				<div class="ks-comments-logged"><strong>Logged in as:</strong><br/>
				Jack Johnson</div>
				<div class="ks-comments-form">
					<textarea rows="10" style="width:95%; margin-bottom: .5em;"></textarea>
					<br/>
					<p><a class="ks-button-primary" href="#">Submit</a></p>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			
			<h3 class="ks-heading-page-section">Comments <span>[10]</span></h3>
			
			<div class="ks-comments">
				<div class="ks-comments-meta"><strong>Jack Johnson</strong><br/>October 20, 2009 - 3:30pm</div>
				<div class="ks-comments-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate ultrices lacus, eu laoreet purus cursus sed. Donec ut feugiat enim. Sed posuere arcu nec enim rutrum malesuada. Praesent elementum mi non nibh tempus vitae placerat nisi congue. Integer interdum malesuada nibh, in faucibus enim viverra et. Ut tincidunt imperdiet congue. In vulputate neque sit amet dui venenatis bibendum. Aliquam erat volutpat. Curabitur dapibus risus eu nulla interdum sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam auctor, nibh non dignissim tristique, orci metus rutrum nibh, quis aliquet nisi odio non nibh. Praesent feugiat molestie nulla eu condimentum. Etiam suscipit tristique dapibus.</div>
				<div class="ks-comments-actions">
					<a href="">Edit</a>&nbsp;&nbsp;&nbsp;<a href="">Delete</a>
				</div>
				<div class="clear">&nbsp;</div>
			</div>	
			
			<div class="ks-comments">	
				<div class="ks-comments-meta"><strong>Shaun Hillson</strong><br/>October 16, 2009 - 1:00pm</div>
				<div class="ks-comments-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate ultrices lacus, eu laoreet purus cursus sed. Donec ut feugiat enim. Sed posuere arcu nec enim rutrum malesuada. Praesent elementum mi non nibh tempus vitae placerat nisi congue. Integer interdum malesuada nibh, in faucibus enim viverra et.</div>
				<div class="ks-comments-actions">
				&nbsp;
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			
			<div class="ks-comments">
				<div class="ks-comments-meta"><strong>Mary Jones</strong><br/>October 12, 2009 - 10:20am</div>
				<div class="ks-comments-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate ultrices lacus, eu laoreet purus cursus sed.</div>
				<div class="ks-comments-actions">
				&nbsp;
				</div>
				<div class="clear">&nbsp;</div>
			</div>	
			
			<div class="ks-comments">
				<div class="ks-comments-meta"><strong>Jack Johnson</strong><br/>October 10, 2009 - 12:30pm</div>
				<div class="ks-comments-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate ultrices lacus, eu laoreet purus cursus sed. Donec ut feugiat enim. Sed posuere arcu nec enim rutrum malesuada. Praesent elementum mi non nibh tempus vitae placerat nisi congue. Integer interdum malesuada nibh, in faucibus enim viverra et. Ut tincidunt imperdiet congue. In vulputate neque sit amet dui venenatis bibendum. Aliquam erat volutpat. Curabitur dapibus risus eu nulla interdum sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam auctor, nibh non dignissim tristique, orci metus rutrum nibh, quis aliquet nisi odio non nibh. Praesent feugiat molestie nulla eu condimentum. Etiam suscipit tristique dapibus.</div>
				<div class="ks-comments-actions">
					<a href="">Edit</a>&nbsp;&nbsp;&nbsp;<a href="">Delete</a>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- End Comments Lightbox -->
	
</body>
</html>
