.ks-appointmentWindow-table tr{
    border-top:  1px solid #d3d3d3;
    border-bottom:  1px solid #d3d3d3;
}

.ks-enrollment-home > .uif-header { border-bottom:solid 2px #000; margin-bottom:5px; margin-top:15px; }
.ks-enrollment-home-group { margin-bottom:5px; margin-top:15px; }

/* currently commented out in CourseOfferingEditMaintenanceView.xml
.ks-collection-margin-bottom-zero .uif-gridGroup,
.ks-collection-margin-bottom-zero .uif-gridLayout { margin-bottom:0; } */

.ks-termDates-table{}

.ks-termDates-table tr{
    border-top:  1px solid #d3d3d3;
    border-bottom:  1px solid #d3d3d3;
}

.ks-termDates-table th{
    border-right:  1px solid #d3d3d3;
}

.ks-termDates-table .uif-constraintMessage{
    margin-bottom: 0px;
}

/* Brian S says we ought not to do this
.uif-dropdownControl {
    margin: 0.3em 0;
    padding: 3px 3px 4px 3px;
}*/

.ui-widget-content a {
    color: #3F7826;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px; width: 19px; margin-left: 3px; float: left;
}