<div class="kscr-AdditionalOptions">
    <div class="kscr-Card">
        Adding {{newCartItem.courseCode}} ({{newCartItem.regGroupCode}}) to cart

        <span>{{newCartItem.courseTitle}}</span>
    </div>
    <div class="kscr-AdditionalOptions-header">
        Additional Options
    </div>

    <div class="kscr-AdditionalOptions-content">
        <course-options course="newCartItem" prefix="newItem_" show-all="true" on-submit="saveAdditionalOptions(course)" on-cancel="dismissAdditionalOptions(course)"></course-options>
    </div>
</div>
