<div class="kscr-adding-header">
    <h3>Adding {{newCartItem.courseCode}} ({{newCartItem.regCode}})to cart</h3>

    <span>{{newCartItem.courseTitle}}</span>
</div>
<form ng-submit="save()">
<div class="kscr-AdditionalOptions">
    <div class="kscr-AdditionalOptions-header">
        <h3>Additional Options</h3>
    </div>

    <div class="kscr-AdditionalOptions-content">
        <div>
            <label for="newItemCredits">Credits</label>
            <select id="newItemCredits" ng-model="newCartItem.credits"
                    ng-options="creditOption for creditOption in newCartItem.creditOptions"/>
        </div>
        <div>
            <label for="newItemGrading">Grading</label>
            <select id="newItemGrading" ng-model="newCartItem.grading"
                    ng-options="grading.key as grading.value for grading in newCartItem.gradingOptions"/>
        </div>

        <div class="kscr-AdditionalOpions-buttons">
            <button type="submit" class="btn">Save</button>
            <a ng-click="dismiss()">Cancel</a>
        </div>
    </div>
</div>
</form>