
<form>
<div class="kscr-AdditionalOptions">
    <div class="kscr-Card">
        Adding {{newCartItem.courseCode}} ({{newCartItem.regGroupCode}}) to cart

        <span>{{newCartItem.courseTitle}}</span>
    </div>
    <div class="kscr-AdditionalOptions-header">
        Additional Options
    </div>

    <div class="kscr-AdditionalOptions-content">
        <div class="util-Grid">
            <div class="kscr-Edit" ng-show="newCartItem.creditOptions.length > 1">
                <label for="newItemCredits" class="kscr-RegInput-label" >Credits</label>
                <select id="newItemCredits" class="kscr-RegInput-label" ng-model="newCartItem.credits"
                        ng-options="creditOption for creditOption in newCartItem.creditOptions"></select>
            </div>
            <div class="kscr-Edit" ng-show="newCartItem.gradingOptionCount > 1">
                <label for="newItemGrading" class="kscr-RegInput-label">Registration Options</label>
                <!--<select id="newItemGrading" class="kscr-RegInput-label" ng-model="newCartItem.grading"-->
                        <!--ng-options="key as value for (key, value) in newCartItem.gradingOptions"></select>-->
                <div ng-repeat="(key, value) in newCartItem.gradingOptions">
                    <input id="newItemGrading"  type="radio" name="newGrading" value="{{key}}" ng-model="newCartItem.grading"/>
                        {{value}} <span ng-show="'{{value}}' === 'Letter' ">(Default)</span>
                </div>
            </div>
        </div>

        <div class="kscr-AdditionalOptions-buttons">
            <button id="newItemCancel"  class="kscr-Button" ng-click="dismissAdditionalOptions()">Cancel</button>
              <div class="global-Base-divider"></div>
            <button id="newItemSave" class="kscr-Button--primary" ng-click="saveAdditionalOptions()">Save</button>
        </div>
    </div>
</div>
</form>