
<div class="kscr-cart-header">
    <h1 class="kscr-cart-main-heading kscr-main-heading"><strong>MY CART</strong>
        <span id="credit_count_title" class="kscr-support-heading">
            <ng-pluralize count="cart.items.length"
                          when="{'1'    : '{} course',
                                     'other': '{} courses'}">
            </ng-pluralize>
            (
            <ng-pluralize count="creditTotal"
                          when="{'1'    : '{} credit',
                                     'other': '{} credits'}">
            </ng-pluralize>
            )</span> </h1>
</div>

<div>
    <button id="register" class="btn btn-primary pull-right kscr-cart-RegButton" type="submit" ng-click="register()">Register</button>
</div>


<!--My Cart Input Boxes and Add to Cart Button -->
<div class="kscr-cart">
    <form novalidate name="form" class="form-group form-inline" ng-submit="add();">
        <fieldset>

            <div class="has-error" ng-show="error.length > 1"><span class="help-block">{{ error }}</span></div>

            <div class="row-fluid">

                <label class="control-label" for="courseCode" placeholder="MATH100">Course Code</label>
                <input id="courseCode" type="text" size="8" maxlength="8" ng-model="courseCode" class="input-small kscr-cart-input"/>

                <label class="control-label" for="regCode">Registration Group Code</label>
                <input id="regCode" type="text" size="4" maxlength="4" ng-model="regCode" class="input-small kscr-cart-input"/>

                <label class="control-label" for="submit"></label>
                <button id="submit" name="submit" class="btn">Add to Cart</button>

            </div>
        </fieldset>
    </form>
</div>

<div class="kscr-registered" ui-sref="root.schedule">
    <span>Registered for {{registeredCourseCount()}} courses ({{registeredCredits()}} credits) <a id="goToSchedule" ui-sref="root.schedule"></a> <span class="glyphicon glyphicon-chevron-right pull-right"></span><i class="fa fa-angle-double-right"></i></span>
</div>

<div class="kscr-register-subHeader kscr-sub-heading">
    <span><strong>REGISTER FOR </strong></span>
</div>

<!--Alert message-->
<div class="util-Alert util-Alert--{{userMessage.type}}" ng-if="userMessage.txt">
    <strong>{{userMessage.txt}}</strong>
    <a id="userMessageInvoke" ng-click="invokeActionLink(userMessage.actionLink);" ng-if="userMessage.linkText">{{userMessage.linkText}}</a>
</div>

<div class="kscr-register">
<accordion close-others="oneAtATime">
    <accordion-group  ng-repeat="cartItem in cart.items" is-open="isopen">
        <accordion-heading>
            <!--credits-->
            <div id="course_info_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" class="pull-right" ng-hide="cartItem.editing">
                <ng-pluralize count="cartItem.credits"
                              when="{'1'    : '{} credit',
                                     'other': '{} credits'}">
                </ng-pluralize>, {{cartItem.gradingOptions[cartItem.grading]}}
            </div>

            <!--Course Header Section-->
            <div>
                 <span class="kscr-register-icon"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i></span>
                 <span class="kscr-register-header kscr-Card-title" id="course_code_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}"><strong>{{cartItem.courseCode}} ({{cartItem.regGroupCode}})</strong></span>
            </div>
            <!--Course Title and description-->
            <div class="kscr-register-cardText kscr-Card-text" id="title_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">{{cartItem.courseTitle}}</div>

        </accordion-heading>
            <div ng-hide="cartItem.editing" >
                <!--course time, day, building-->
                <div ng-repeat="item in cartItem.schedule">
                      <span class="kscr-register-courseTimes">
                        <div id="schedule_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}_{{$index}}" >{{item.activityOfferingType}}&nbsp;</div>
                            <div ng-repeat='scheduleItem in item.activityOfferingLocationTime'>{{scheduleItem.time.days}} {{scheduleItem.time.startTime}} - {{scheduleItem.time.endTime}}
                                {{scheduleItem.location.building}} {{scheduleItem.location.room}}
                            </div>
                      </span>
                </div>

                <!--Course Registration Buttons-->
                <div class="kscr-register-buttons">
                      <span class="pull-right">
                        <!--<button class="btn">Details</button>-->
                        <button class="btn" id="edit_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-click="editItem(cartItem)"ng-show="cartItem.creditOptions.length > 1 || cartItem.gradingOptionCount > 1">Edit</button>
                        <button class="btn" id="remove_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-click="delete($index)">Remove</button>
                      </span>
                </div>
            </div>
            <!-- Cart Change Section: Credits, Grading, and Save -->
            <div class="kscr-edit" ng-show="cartItem.editing">
                <form ng-submit="updateCartItem(cartItem, newCredits, newGrading)">
                    <div>
                        <label for="credits_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">Credits</label>
                        <select id="credits_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-model="newCredits"
                                ng-options="creditOption for creditOption in cartItem.creditOptions"></select>
                    </div>
                    <div>
                        <label for="grading_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">Registration Options</label>
                        <select id="grading_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-model="newGrading"
                                ng-options="key as value for (key, value) in cartItem.gradingOptions"></select>

                    </div>
                    <!--Edit buttons-->
                    <div class="kscr-register-buttons">
                        <span class="pull-right">
                          <button id="save_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" class="btn btn-primary" type="submit">Save Changes</button>
                          <button class="btn" id="cancel_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" type="button" ng-click="cancelEditItem(cartItem)">Cancel</button>
                        </span>
                    </div>
                </form>
            </div>
    </accordion-group>
</accordion>
</div>