<div class="kscr-Main-cartWrapper" ng-class="{ 'kscr-Main-cartWrapper--active' : uiState == 'root.cart' }">
    <div id="kscr-CartHeading">
        <!--My Cart Main Heading-->
        <div class="kscr-MainHeading kscr-MainHeading-icons util-Grid util-Grid--center">
            <div class="util-Grid-cell">
                <div class="kscr-MainHeading-icon-left"><a ui-sref="root.search"><i class="glyphicon glyphicon-search"></i></a></div>
                <div class="kscr-MainHeading-header">My Cart</div>
                <div class="kscr-MainHeading-icon-right"><a ui-sref="root.schedule"><i class="glyphicon glyphicon-calendar"></i></a></div>
            </div>
        </div>
        <!-- Sticky Cart Summary & Registration Action -->
        <div sticky class="kscr-MainHeading-CartHeading">
            <div class="kscr-MainHeading util-Grid util-Grid--center" ng-hide="showConfirmation || states.processing.indexOf(cartResults.state) !== -1">
                <div class="util-Grid-cell">
                    <div class="kscr-MainHeading-header kscr-MainHeading-stickyHeader">My Cart</div>
                    <div id="credit_count_title" class="kscr-MainHeading-support">
                        <strong><ng-pluralize count="cart.items.length" when="{'1': '{} course', 'other': '{} courses'}"></ng-pluralize></strong>
                        (<ng-pluralize count="creditTotal" when="{'1': '{} credit', 'other': '{} credits'}"></ng-pluralize>)
                    </div>
                    <div id="credit_count_title_large" class="kscr-MainHeading-support">
                        <ng-pluralize count="creditTotal" when="{'1': '{} CREDIT', 'other': '{} CREDITS'}"></ng-pluralize>
                    </div>
                </div>
                <div>
                    <button id="register" ng-disabled="cart.items.length < 1" class="kscr-MainHeading-button kscr-Button--primary" type="button" ng-click="showConfirmation =!showConfirmation">Register</button>
                </div>
            </div>
            <div class="kscr-MainHeading" ng-show="states.processing.indexOf(cartResults.state) !== -1">
                <div id="registering_message" class="kscr-MainHeading-header--processing">
                    Registering for courses...
                </div>
            </div>
            <form ng-submit="register()">
                <!-- Registration Confirmation Box-->
                <div ng-show="showConfirmation" class="kscr-Confirmation-container">
                    <div class="kscr-Confirmation-header  util-Grid">
                        <ng-pluralize count="cart.items.length"
                            when="{  '1'    : 'Register for the course below?',
                                     'other': 'Register for the courses below?'}">
                        </ng-pluralize>
                    </div>
                    <div class="util-Grid">
                        <span class="kscr-Confirmation-buttons util-Grid-cell">
                            <button id="confirmRegistration" class="kscr-Button--primary" type="submit" focus-me="showConfirmation">Confirm Registration</button>
                                <div class="global-Base-divider"></div>
                            <button id="cancelRegistration" class="kscr-Button" type="button" ng-click="showConfirmation = !showConfirmation">Cancel</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="kscr-addToCart">
        <div ng-click="isCollapsed = !isCollapsed" class="kscr-addToCart-heading">
            <span class="kscr-Card-icon"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i></span>
            <div class="kscr-addToCart-header" id="add_to_cart">Add to Cart</div>
        </div>
        <!--My Cart Input Boxes and Add to Cart Button -->
        <div collapse="isCollapsed" class="kscr-addToCart-contents">
            <form novalidate name="form" ng-submit="addRegGroupToCart();">
                <fieldset>
                    <div class="util-Grid">
                        <div class="util-Grid-cell"><input placeholder="CHEM237" id="courseCode" class="kscr-addToCart-input" type="text" size="9" maxlength="8" ng-model="courseCode" focus-once="courseAdded"/></div>
                        <div class="util-Grid-cell"><input placeholder="1001" id="regCode" class="kscr-addToCart-input" type="text" size="4" maxlength="4" ng-model="regCode" /></div>
                        <div class="util-Grid-cell kscr-addToCart-button"><button id="submit" name="submit" class="kscr-Button">Add to Cart</button></div>
                    </div>
                    <div class="util-Grid">
                        <div class="util-Grid-cell"><label for="courseCode" class="kscr-addToCart-label" >Course Code</label></div>
                        <div class="util-Grid-cell"><label for="regCode" class="kscr-addToCart-label">Section</label></div>
                        <div class="util-Grid-cell"></div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <!--Alert message-->
    <div id="user_message" class="util-Alert util-Alert--{{userMessage.type}}" ng-if="userMessage.txt">
        <span class="kscr-Card-statusRemove"><a href="" ng-click="removeUserMessage()"></a></span>
        <span class="kscr-Card-statusUndo" ng-if="userMessage.linkText"  ng-click="invokeActionLink(userMessage.actionLink)"><a href="" title="Undo"></a></span>
        <span validation-message message="userMessage"></span>
        <div class="kscr-Card-buttons" ng-if="userMessage.linkText">
            <button id="userMessageInvoke" class="kscr-Button" type="button" ng-click="invokeActionLink(userMessage.actionLink)">{{userMessage.linkText}}</button>
        </div>
    </div>

    <div class="kscr-Card kscr-Card-Cart">
        <div ng-repeat="cartItem in cart.items" is-open="isopen" class="kscr-Course-container kscr-Course-course{{courseIndex(cartItem)}}">
            <div id="cartItem_status_message" class="util-Alert--card util-Alert--{{cartItem.alertMessage.type}}"  ng-if="cartItem.alertMessage.txt">
                {{cartItem.alertMessage.txt}}
                <span class="kscr-Card-statusRemove"><a href="" ng-click="removeAlertMessage(cartItem)"></a></span>
            </div>
            <course-accordion course="cartItem" type="{{courseTypes.cart}}" card-index="$index" cart-id="cart.cartId"></course-accordion>
         </div>
    </div>

    <div class="kscr-Card kscr-Card-Results" ng-show="cartResults.items.length">
        <div class="kscr-Heading-sub kscr-cartResult-responseHeading"
             ng-class="{'kscr-cartResult-responseHeading--success' : (cartResults.successCount > 0),
                        'kscr-cartResult-responseHeading--waitlisted' : (cartResults.waitlistedCount > 0),
                        'kscr-cartResult-responseHeading--waitlist' : (cartResults.waitlistCount > 0),
                        'kscr-cartResult-responseHeading--fail' : (cartResults.errorCount > 0),
                        'kscr-cartResult-responseHeading--info' : (cartResults.infoCount > 0)}">
            <span class="kscr-cartResult-responseLabel">Results</span>
            <span class="kscr-cartResult-responseCount">
                <span ng-if="cartResults.successCount > 0" class="kscr-cartResult-responseCount--success">{{cartResults.successCount}}</span>
                <span ng-if="cartResults.waitlistedCount > 0" class="kscr-cartResult-responseCount--waitlisted">{{cartResults.waitlistedCount}}</span>
                <span ng-if="cartResults.waitlistCount > 0" class="kscr-cartResult-responseCount--waitlist">{{cartResults.waitlistCount}}</span>
                <span ng-if="cartResults.errorCount > 0" class="kscr-cartResult-responseCount--fail">{{cartResults.errorCount}}</span>
                <span ng-if="cartResults.infoCount > 0" class="kscr-cartResult-responseCount--info">{{cartResults.infoCount}}</span>
            </span>
            <span class="util-Grid--clearfix"></span>
        </div>
        <div id="resultsSection" class="panel-group">
            <div ng-repeat="cartResultItem in cartResults.items" is-open="isopen" class="panel">
                <ng-include src="'partials/cartResult.html'"></ng-include>
            </div>
        </div>
    </div>

</div>