<div  ng-swipe-left="goToPage('/responsive/schedule')" draggable="true" ng-swipe-right="goToPage('/{{appUrl}}kscr-poc/index.jsp')">
    <!--My Cart Main Heading-->
    <div class="kscr-MainHeading util-Grid util-Grid--center">
        <div class="util-Grid-cell">
            <div class="kscr-MainHeading-icon-left"><a href="{{appUrl}}kscr-poc/index.jsp"><i class="glyphicon glyphicon-search"></i></a></div>
            <div class="util-Text--center kscr-MainHeading-header">My Cart</div>
            <div class="kscr-MainHeading-icon-right"><a ui-sref="root.responsive.schedule" ><i class="glyphicon glyphicon-calendar"></i></a></div>
        </div>
    </div>
    <div class="kscr-MainHeading util-Grid util-Grid--center" ng-hide="showConfirmation||cartResults.state=='kuali.lpr.trans.state.processing'">
        <div class="util-Grid-cell">
            <div id="credit_count_title" class="kscr-MainHeading-support">
                <strong>
                <ng-pluralize count="cart.items.length"
                              when="{'1'    : '{} course ',
                                         'other': '{} courses '}">
                </ng-pluralize>
                </strong>
                (<ng-pluralize count="creditTotal"
                               when="{'1'    : '{} credit',
                                         'other': '{} credits'}">
                </ng-pluralize>)
            </div>
        </div>

        <div>
            <button id="register" ng-disabled="cart.items.length < 1" class="kscr-MainHeading-button kscr-Button--primary" type="button" ng-click="showConfirmation =!showConfirmation">Register</button>
        </div>
    </div>
    <div class="kscr-MainHeading" ng-show="cartResults.state=='kuali.lpr.trans.state.processing'">
        <div class="kscr-MainHeading-header--processing">
            Registering for courses...
        </div>
    </div>
    <form ng-submit="register()">
        <!-- Registration Confirmation Box-->
        <div ng-show="showConfirmation" class="kscr-Confirmation-container">
            <div class="kscr-Confirmation-header  util-Grid">
                <ng-pluralize count="cart.items.length"
                    when="{  '1'    : 'Register for the course below?',
                             'other': 'Register for the courses below?'}">
                </ng-pluralize>
            </div>
            <div class="util-Grid">
                <span class="kscr-Confirmation-buttons util-Grid-cell">
                    <button id="confirmRegistration" class="kscr-Button--primary" type="submit">Confirm Registration</button>
                        <div class="global-Base-divider"></div>
                    <button id="cancelRegistration" class="kscr-Button" type="button" ng-click="showConfirmation = !showConfirmation">Cancel</button>
                </span>
            </div>
        </div>
    </form>
</div>

<div  class="kscr-addToCard">
    <div ng-click="isCollapsed = !isCollapsed" class="kscr-addToCard-heading" >
        <span class="kscr-Card-icon"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i></span>
        <div class="kscr-addToCard-header" id="add_to_cart">Add to Cart</div>
    </div>
    <div collapse="isCollapsed">
            <!--My Cart Input Boxes and Add to Cart Button -->
            <div class="kscr-addToCard-contents">
                <form novalidate name="form" ng-submit="addRegGroupToCart();">
                    <fieldset>
                        <div class="util-Grid">
                            <div class="util-Grid-cell"><input placeholder="CHEM237" id="courseCode" class="kscr-addToCard-input" type="text" size="9" maxlength="8" ng-model="courseCode"/></div>
                            <div class="util-Grid-cell"><input placeholder="1001" id="regCode" class="kscr-addToCard-input" type="text" size="4" maxlength="4" ng-model="regCode" /></div>
                            <div class="util-Grid-cell kscr-addToCard-button"><button id="submit" name="submit" class="kscr-Button">Add to Cart</button></div>
                        </div>
                        <div class="util-Grid">
                            <div class="util-Grid-cell"><label for="courseCode" class="kscr-addToCard-label" >Course Code</label></div>
                            <div class="util-Grid-cell"><label for="regCode" class="kscr-addToCard-label">Section</label></div>
                            <div class="util-Grid-cell"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
    </div>
</div>

<!--Registered button-->
<div class="kscr-Registered" ui-sref="root.schedule">
    <span id="reg_course_count">
        Registered for
        <strong>
        <ng-pluralize count="registeredCourseCount()"
                                    when="{'1'    : ' {} course ',
                                     'other': ' {} courses '}">
        </ng-pluralize>
        </strong>
        (<ng-pluralize count="registeredCredits()"
                           when="{'1'    : '{} credit',
                                     'other': '{} credits'}">
        </ng-pluralize>)
        <span>&#187;</span>
    </span>
</div>

<!--Alert message-->
<div id="user_message" class="util-Alert util-Alert--{{userMessage.type}}" ng-if="userMessage.txt">
    <span class="kscr-Card-statusRemove" ng-if="!userMessage.linkText"><a href="" ng-click="removeUserMessage()"><i class="glyphicon glyphicon-remove"></i></a></span>
    {{userMessage.txt}}
    <a id="userMessageInvoke" ng-click="invokeActionLink(userMessage.actionLink);" ng-if="userMessage.linkText">{{userMessage.linkText}}</a>

</div>

<div class="kscr-Heading-sub" ng-hide="cart.items.length < 1">
    <span>CART CONTENTS</span>
</div>

<div class="kscr-Card">
    <div ng-repeat="cartItem in cart.items" is-open="isopen">
        <div id="cartItem_status_message" class="util-Alert--card util-Alert--{{cartItem.alertMessage.type}}"  ng-if="cartItem.alertMessage.txt">
            {{cartItem.alertMessage.txt}}
            <span class="kscr-Card-statusRemove"><a href="" ng-click="removeAlertMessage(cartItem)"><i class="glyphicon glyphicon-remove"></i></a></span>
        </div>
        <accordion close-others="oneAtATime">
            <accordion-group is-open="isopen">
                <accordion-heading>
                    <!--credits-->
                    <div id="course_info_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" class="kscr-Card-supportText" ng-hide="editing(cartItem)">
                        <ng-pluralize count="cartItem.credits"
                                      when="{'1'    : '{} cr',
                                     'other': '{} cr'}">
                        </ng-pluralize>
                    </div>
                    <!--Course Header Section-->
                    <div>
                        <span class="kscr-Card-icon"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i></span>
                        <span class="kscr-Card-title" id="course_code_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">{{cartItem.courseCode}} ({{cartItem.regGroupCode}})</span>
                        <span class="kscr-Card-badge" id="grading_badge_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-show="showBadge(cartItem)">{{cartItem.gradingOptions[cartItem.grading]}}</span>
                    </div>
                    <!--Course Title and description-->
                    <div class="kscr-Card-text" id="title_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-show="isopen">{{cartItem.courseTitle}}</div>
                    <!--AO info: type, time, location-->
                    <div ng-repeat="item in cartItem.schedule" class="kscr-Card-detailsText--show" ng-show="!isopen">
                            <span class="kscr-Card-courseTimes">
                                <div id="ao_type_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}_{{$index}}" class="kscr-Card-ao-type">{{item.activityOfferingType | limitTo : 3}}</div>
                                <div ng-repeat="scheduleItem in item.activityOfferingLocationTime" id="schedule_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}_{{$parent.$index}}_{{$index}}" class="kscr-Card-scheduleComponent">
                                    <span ng-hide="scheduleItem.isTBA" class="util-Grid--floatLeft">{{scheduleItem.time.days}} {{scheduleItem.time.displayTime}}</span>
                                    <span ng-hide="scheduleItem.isTBA" class="util-Grid--floatRight">{{scheduleItem.location.building}} {{scheduleItem.location.room}}</span>
                                    <span ng-show="scheduleItem.isTBA" class="util-Grid--floatRight">TBA</span>
                                </div>
                            </span>
                    </div>
                </accordion-heading>
                <div ng-hide="editing(cartItem)">
                    <!--course time, day, building-->
                    <div ng-repeat="item in cartItem.schedule" class="kscr-Card-detailsText--edit">
                        <div>
                            <span id="ao_type_long_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}_{{$index}}">{{item.activityOfferingType}}</span>
                                <span class="kscr-Card-ao-instructor">
                                    <div ng-repeat="instructor in item.instructors">{{instructor.firstName}} {{instructor.lastName}}</div>
                                </span>
                        </div>
                        <div ng-repeat="scheduleItem in item.activityOfferingLocationTime" id="schedule_long_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}_{{$parent.$index}}_{{$index}}" class="kscr-Card-ao-schedule">
                            <span ng-hide="scheduleItem.isTBA" class="util-Grid--floatLeft">{{scheduleItem.time.days}} {{scheduleItem.time.displayTime}}</span>
                            <span ng-hide="scheduleItem.isTBA" class="util-Grid--floatRight">{{scheduleItem.location.building}} {{scheduleItem.location.room}}</span>
                            <span ng-show="scheduleItem.isTBA"> TBA</span>
                        </div>
                    </div>
                    <!--Course Registration Buttons-->
                    <div class="kscr-Card-buttons">
                      <span>
                        <!--<button class="btn">Details</button>-->
                        <button class="kscr-Button" id="edit_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-click="editCartItem(cartItem)" ng-show="cartItem.creditOptions.length > 1 || cartItem.gradingOptionCount > 1">Edit</button>
                          <div class="global-Base-divider"></div>
                        <button class="kscr-Button" id="remove_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-click="deleteCartItem($index)">Remove</button>
                      </span>
                    </div>
                </div>

                <!-- Cart Change Section: Credits, Grading, and Save -->
                <div class="kscr-Card-detailsText" ng-show="editing(cartItem)">
                    <form ng-submit="updateCartItem(cartItem, newCredits, newGrading)">
                        <div class="util-Grid">
                            <div class="kscr-Edit" ng-show="cartItem.creditOptions.length > 1">
                                <label class="kscr-Edit-details" for="credits_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">Credits</label>
                                <div ng-repeat="creditOption in cartItem.creditOptions">
                                    <div class="kscr-Edit-option" ng-class="$parent.newCredits == {{creditOption}} ? 'kscr-Edit-option--Selected' : ''" ng-click="$parent.newCredits = creditOption">
                                        <input id="credits_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" type="radio" name="newCredits" value="{{creditOption}}" ng-model="$parent.newCredits"/>
                                        {{creditOption}}
                                        <i class="glyphicon glyphicon-ok-sign"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="kscr-Edit" ng-show="cartItem.gradingOptionCount > 1">
                                <label class="kscr-Edit-details" for="grading_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">Registration Options</label>
                                <div ng-repeat="(key, value) in cartItem.gradingOptions">
                                    <div class="kscr-Edit-option" ng-class="$parent.newGrading == '{{key}}' ? 'kscr-Edit-option--Selected' : ''" ng-click="$parent.newGrading = '{{key}}'">
                                        <input id="grading_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" type="radio" name="newGrading" value="{{key}}" ng-model="$parent.newGrading"/>
                                        {{value}} <span ng-show="'{{value}}' === 'Letter'">(Default)</span>
                                        <i class="glyphicon glyphicon-ok-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Edit buttons-->
                        <div class="kscr-Card-buttons">
                        <span>
                          <button id="save_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" class="kscr-Button--primary" type="submit">Save Changes</button>
                            <div class="global-Base-divider"></div>
                          <button id="cancel_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" class="kscr-Button" type="button" ng-click="cancelEditItem(cartItem)">Cancel</button>
                        </span>
                        </div>
                    </form>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>

<div class="kscr-Heading-sub" ng-show="cartResults.items.length">
    <span class="responseCount" ng-if="cartResults.errorCount > 0">Error ({{cartResults.errorCount}})</span>
    <span class="responseCount" ng-if="cartResults.waitlistCount > 0">Waitlist ({{cartResults.waitlistCount}})</span>
    <span class="responseCount" ng-if="cartResults.successCount > 0">Success ({{cartResults.successCount}})</span>
    <span>RESULTS</span>
</div>
<div class="kscr-Card-Results panel-group">
    <div ng-repeat="cartResultItem in cartResults.items" is-open="isopen" class="panel kscr-cartItem-status--{{cartResultItem.status}}">
        <div class="kscr-cartResult-icon">&nbsp;</div>
        <!-- Displays block with course info if course is not waitlisted -->
        <div class="kscr-cartResult-heading" ng-if="cartResultItem.status != 'waitlist'">
            <!--Course Header Section-->
            <div class="ng-scope">
                <span class="kscr-Card-title-alert kscr-Card-alert--{{cartResultItem.status}}" id="course_code_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">{{cartResultItem.courseCode}} ({{cartResultItem.regGroupCode}}) {{getStatusMessageFromStatus(cartResultItem.status)}}</span>
            </div>
            <!--Course Title and description-->
            <div class="kscr-Card-text-alert kscr-Card-alert--{{cartResultItem.status}}" id="title_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">{{cartResultItem.courseTitle}}</div>
            <div ng-if="cartResultItem.statusMessage && (cartResultItem.status != 'success')" id="result_status_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}" class="kscr-CardResult-detailsText--{{cartResultItem.status}}">
                <span class="kscr-Card-reason">
                    <span><strong>Reason:</strong></span><span class="kscr-Card-reason-message" ng-bind-html="cartResultItem.statusMessage"></span>
                </span>
            </div>
            <div class="kscr-Card-button" ng-if="cartResultItem.statusMessage && (cartResultItem.status == 'action')">
                <span>
                    <button class="kscr-Button" id="waitlist_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}" ng-click="addCartItemToWaitlist(cartResultItem)">Add to Waitlist</button>
                </span>
            </div>
        </div>
        <!-- Displays block with course info if course is waitlisted (even though it technically "failed" we display it as "success" that it was added to waitlist) -->
        <div class="kscr-cartResult-heading" ng-if="cartResultItem.status == 'waitlist'">
            <div class="ng-scope">
                <span class="kscr-Card-title-alert kscr-Card-alert--{{cartResultItem.status}}" id="waitlisted_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">Added to Waitlist</span>
            </div>
            <div class="kscr-Card-text-alert kscr-Card-alert--{{cartResultItem.status}}" id="waitlisted_message_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">{{cartResultItem.statusMessage}}</div>
            <div class="ng-scope">
                <span class="kscr-Card-title-alert kscr-Card-alert--{{cartResultItem.status}}" id="waitlisted_course_code_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">{{cartResultItem.courseCode}} ({{cartResultItem.regGroupCode}})</span>
            </div>
            <!--Course Title and description-->
            <div class="kscr-Card-text-alert kscr-Card-alert--{{cartResultItem.status}}" id="waitlisted_title_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">{{cartResultItem.courseTitle}}</div>
        </div>
        <div id="course_remove_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}" class="kscr-Card-remove" ng-if="cartResultItem.status != 'processing'">
            <span class="kscr-cartResult-remove"><a href="" ng-click="removeCartResultItem(cartResultItem)"><i class="glyphicon glyphicon-remove"></i></a></span>
        </div>
    </div>
</div>
