
<div class="kscr-CourseCalendar kscr-CourseCalendar--{{calendarSize}}">

    <div class="kscr-CourseCalendar-header">
        <div class="kscr-CourseCalendar-legend">
            <div class="kscr-CourseCalendar-courseBlock kscr-CourseCalendar-courseBlock--registered"
                 ng-class="{'kscr-CourseCalendar-courseBlock--deselected' : hideRegistered}"
                 ng-click="hideRegistered = !hideRegistered" id="course_calendar_legend_registered">
                <i class="glyphicon" ng-class="{'glyphicon-check' : !hideRegistered, 'glyphicon-unchecked' : hideRegistered }"></i>
                <span class="kscr-CourseCalendar-courseBlock-label">Registered</span>
            </div>
            <div class="kscr-CourseCalendar-toggle kscr-CourseCalendar-courseBlock kscr-CourseCalendar-courseBlock--waitlisted"
                 ng-class="{'kscr-CourseCalendar-courseBlock--deselected' : hideWaitlisted}"
                 ng-click="hideWaitlisted = !hideWaitlisted" id="course_calendar_legend_waitlisted">
                <i class="glyphicon" ng-class="{'glyphicon-check' : !hideWaitlisted, 'glyphicon-unchecked' : hideWaitlisted }"></i>
                <span class="kscr-CourseCalendar-courseBlock-label">Waitlisted</span>
            </div>
            <div class="kscr-CourseCalendar-toggle kscr-CourseCalendar-courseBlock kscr-CourseCalendar-courseBlock--inCart"
                 ng-class="{'kscr-CourseCalendar-courseBlock--deselected' : hideCart}"
                 ng-click="hideCart = !hideCart" id="course_calendar_legend_cart">
                <i class="glyphicon" ng-class="{'glyphicon-check' : !hideCart, 'glyphicon-unchecked' : hideCart }"></i>
                <span class="kscr-CourseCalendar-courseBlock-label">In Cart</span>
            </div>
            <div class="util-Grid--clearfix"></div>
        </div>
    </div>

    <div class="kscr-CourseCalendar-calendar" mask-when="selectedCourse">
        <div class="kscr-CourseCalendar-times util-Grid util-Grid--center">
            <div class="kscr-CourseCalendar-time" ng-class="{'util-Grid-cell' : !$last}"
                 id="course_calendar_time_{{time | date:'ha'}}" ng-repeat="time in times | filter:timeFilter">
                <span class="kscr-CourseCalendar-time-label">
                    {{time | date:'h'}}
                    <span class="kscr-CourseCalendar-time-label-period" ng-if="$first || time.getHours() === 12">{{time | date:'a'}}</span>
                </span>
            </div>
        </div>

        <div class="kscr-CourseCalendar-days util-Grid">
            <div class="kscr-CourseCalendar-day util-Grid util-Grid-cell" id="course_calendar_day_{{day.day}}" ng-repeat="day in days">
                <span class="kscr-CourseCalendar-day-label">{{day.day}}</span>
                <div class="kscr-CourseCalendar-day-content kscr-CourseCalendar-day-content--{{getFilteredTimeCount()}} util-Grid-cell"
                     id="course_calendar_day_container_{{day.day}}">

                    <div class="kscr-CourseCalendar-day-content-bgs util-Grid">
                        <div class="kscr-CourseCalendar-day-content-bg util-Grid-cell" ng-if="!$last"
                             ng-repeat="time in times | filter:timeFilter"></div>
                    </div>

                    <div class="kscr-CourseCalendar-day-rows">
                        <div class="kscr-CourseCalendar-day-row" ng-repeat="row in day.rows">
                            <course-calendar-item course="course" ng-repeat="course in row.courses | filter:courseFilter"
                                                  id="course_calendar_course_{{course.courseCode}}" title="{{course.courseCode}}"
                                                  class="kscr-CourseCalendar-courseBlock-wrap"
                                                  ng-class="{'kscr-CourseCalendar-courseBlock-wrap--selected' : selectedCourse.index === course.index}"
                                                  ng-style="{left: course.left + '%', width: course.width + '%'}">
                                <div class="kscr-CourseCalendar-courseBlock kscr-CourseCalendar-courseBlock--{{course.index}}"
                                     ng-class="{'kscr-CourseCalendar-courseBlock--registered' : course.type === 'REG',
                                                'kscr-CourseCalendar-courseBlock--waitlisted' : course.type === 'WAIT',
                                                'kscr-CourseCalendar-courseBlock--inCart' : course.type === 'CART'}">
                                    <span class="kscr-CourseCalendar-courseBlock-label">{{course.courseCode}}</span>
                                </div>
                            </course-calendar-item>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Selected Course Details Panel -->
        <div class="kscr-CourseCalendar-courseDetails-wrap kscr-Course-course{{selectedCourse.index}}" ng-show="selectedCourse">
            <div class="kscr-CourseCalendar-courseDetails">
                <div class="kscr-Course-legendIndicator"></div>
                <!--Course Header Section-->
                <div class="kscr-Card-heading">
                    <span class="kscr-Card-statusRemove"><a ng-click="selectedCourse = null"></a></span>

                    <div class="kscr-Card-title" id="calendar_course_code_{{selectedCourse.details.courseCode}}_{{selectedCourse.details.regGroupCode}}">
                        <strong>{{selectedCourse.details.courseCode}} ({{selectedCourse.details.regGroupCode}})</strong>
                        <i ng-show="selectedCourse.details.waitlisted" class="glyphicon glyphicon-time kscr-Waitlisted-clockIcon"></i>
                    </div>

                    <!--AO info: type, time, location-->
                    <div ng-repeat="ao in selectedCourse.details.activityOfferings" class="kscr-Card-detailsText--show">
                    <span class="kscr-Card-courseTimes">
                        <div id="calendar_ao_type_{{selectedCourse.details.courseCode}}_{{selectedCourse.details.regGroupCode}}_{{$index}}" class="kscr-Card-ao-type">{{ao.activityOfferingTypeName | limitTo : 3}}</div>
                        <div ng-repeat="scheduleComponent in ao.scheduleComponents" id="calendar_schedule_{{selectedCourse.details.courseCode}}_{{selectedCourse.details.regGroupCode}}_{{$parent.$index}}_{{$index}}" class="kscr-Card-scheduleComponent">
                            <span ng-hide="scheduleComponent.isTBA" class="util-Grid--floatLeft">{{scheduleComponent.days}} {{scheduleComponent.displayTime}}</span>
                            <span ng-show="scheduleComponent.isTBA" class="util-Grid--floatRight">TBA</span>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
