<form ng-submit="dropRegistrationGroup()">
  <div class="kscr-DropCourse">
    <div class="kscr-DropCourse-header">
        Drop Course <strong>{{course.courseCode}} ({{course.regGroupCode}})</strong>?
    </div>

    <div class="kscr-DropCourse-content">
        <div class="kscr-DropCourse-buttons">
            <button id="dropRegGroup_{{course.courseCode}}_{{course.regGroupCode}}" class="kscr-Button--primary" type="submit">Confirm Drop</button>
            <!-- button class="btn btn-primary" id="dropRegGroup_{{course.courseCode}}_{{course.regGroupCode}}" ng-click="dropRegistrationGroup()">Confirm Drop</button-->
            <button id="dropRegGroupCancel" class="kscr-Button" type="button" ng-click="dismiss()">Cancel</button>
        </div>
    </div>
  </div>
</form>