<div class="kscr-Header-container">
    <!-- NG class adds a wide version of the header if we are looking at the responsive states -->
    <div ng-class="{'kscr-Header':true, 'kscr-Responsive-header':uiState=='root.responsive.schedule' || uiState=='root.responsive.cart'}">
        <div class=" util-Grid util-Grid--center">
            <a id="ks-HomePage" href="../kr-krad/launch?methodToCall=start&viewId=ksFunctionalHomeView">
                <div class="kscr-Header-logo"></div>
            </a>
            <div class="kscr-Header-title">COURSE REGISTRATION</div>
            <div class="kscr-Header-separator"></div>
            <div class="util-Grid-cell">
                <div class="kscr-Header-termName">
                    <span class="kscr-Header-termName-label">{{termName}}</span>
                    <div class="kscr-Header-termName-selector">
                        <span class="kscr-Header-termName-selector-label" id="header_termName" for="searchTermDesktop">{{termName}}</span>
                        <div class="kscr-Header-termName-selectWrap">
                            <select id="searchTermDesktop" ng-model="termId" ng-options="t.termId as t.termName for t in terms"></select>
                        </div>
                    </div>
                </div>
                <span class="kscr-Header-credits" id="header_credits" ng-show="registeredCredits() > 0">
                    <ng-pluralize count="registeredCredits()"
                                  when="{'0' : ' ',
                                        '1' : '{} credit',
                                        'other': '{} credits'}">
                    </ng-pluralize>
                </span>
            </div>

            <!--<div ng-if="uiState=='root.responsive.cart'||uiState=='root.responsive.schedule'" class="kscr-Header-termName" style="display: inline">-->
                <!--&lt;!&ndash; Defaults to the current term&ndash;&gt;-->
                <!--<select id="searchTerm" style="color: white;background: transparent;border:none;font-family: 'Montserrat',sans-serif;font-size: 14px;font-weight: bold;color: #F8F8F8;"ng-model="$parent.termId" ng-options="t.termId as t.termName for t in terms"></select>-->
            <!--</div>-->
            <div id="reg_user_menu" class="kscr-Header-menu" ng-class="{'kscr-Header-menu--clicked' : showUserMenu}" ng-click="showUserMenu = !showUserMenu">
                <div>
                    <i class="glyphicon glyphicon-user"></i>
                    <span id="header_user" class="kscr-Header-user">{{userId()}}</span>
                    <div class="kscr-Header-userMenu" ng-show="showUserMenu">
                        <ul>
                            <li id="reg_user_menu_logout" ng-click="logout()">Logout</li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav ng-class="{Navigation:true,'kscr-Responsive-navigation':uiState=='root.responsive.cart'||uiState=='root.responsive.schedule'}">
                <span>
                    <button id="reg_menu_button" type="button" ng-model="dropMenu" class="kscr-Menu-button-menu" ng-class="{'kscr-Menu-button-menu--clicked' : dropMenu}" ng-click="dropMenu = !dropMenu">MENU</button>
                    <!--<button ng-if="uiState=='root.responsive.cart'||uiState=='root.responsive.schedule'" id="logout_small" class="kscr-Menu-button-menu" ng-click="logout()">LOGOUT</button>-->
                </span>
            </nav>
            <div class="util-Grid--clearfix"></div>
        </div>

        <div drop-menu></div>
    </div>
</div>


<div class="global-Base-body">
   <div ng-disabled="dropMenu">
        <div ui-view></div>
   </div>
</div>

<div ng-class="{'kscr-Menu-background--disabled' : dropMenu}" ng-click="dropMenu=false"></div>

<script type="text/ng-template" id="dropMenu.html">
    <ul class="kscr-Menu-container" ng-show="dropMenu">
        <!-- Header section -->
        <li class="kscr-Menu-Header">
            <div>
                <button id="logout" class="kscr-Menu-button-logout util-Grid--floatRight" ng-click="logout()">LOGOUT</button>
                <i class="glyphicon glyphicon-user"></i>
                <span id="menu_user" class="kscr-Menu-user">{{userId()}}</span>
            </div>
        </li>

        <li class="kscr-Menu-searchTerm">
            <!-- Defaults to the current term-->
            <span class="kscr-Menu-heading">Term</span>
            <select id="searchTerm" ng-model="termId" ng-options="t.termId as t.termName for t in terms"></select>
        </li>

        <!--Search Courses section-->
        <li class="kscr-Menu-links">
            <a id="goToSearch" href="{{appUrl}}kscr-poc/index.jsp">
                    <span>
                        <div class="kscr-Menu-links-heading"><i class="glyphicon glyphicon-search"></i> Search Courses <span>&#187;</span></div>
                        <div></div>
                    </span>
            </a>
        </li>

        <!--My Schedule section-->
        <!--Added ngifs to link to different srefs. NGIF has it's own scope so had to add $parent to dropMenu variable-->
        <li class="kscr-Menu-links" ng-if="uiState!='root.responsive.cart'&&uiState!='root.responsive.schedule'">
            <a id="goToSchedule" ng-click="$parent.dropMenu = !$parent.dropMenu" ui-sref="root.schedule">
                    <span>
                        <div class="kscr-Menu-links-heading"><i class="glyphicon glyphicon-calendar"></i> My Schedule <span>&#187;</span></div>
                        <div class="kscr-Menu-subtext" ng-if="registeredCredits() > 0">
                            <ng-pluralize count="registeredCredits()"
                                          when="{'0' : ' ',
                                            '1' : '{} credit',
                                            'other': '{} credits'}">
                            </ng-pluralize>
                        </div>
                    </span>
            </a>
        </li>

        <li class="kscr-Menu-links" ng-if="uiState=='root.responsive.cart'||uiState=='root.responsive.schedule'">
            <a id="goToSchedule" ng-click="$parent.dropMenu = !$parent.dropMenu" ui-sref="root.responsive.schedule">
                    <span>
                        <div class="kscr-Menu-links-heading"><i class="glyphicon glyphicon-calendar"></i> My Schedule <span>&#187;</span></div>
                        <div class="kscr-Menu-subtext" ng-if="registeredCredits() > 0">
                            <ng-pluralize count="registeredCredits()"
                                          when="{'0' : ' ',
                                            '1' : '{} credit',
                                            'other': '{} credits'}">
                            </ng-pluralize>
                        </div>
                    </span>
            </a>
        </li>

        <!--My Cart section-->
        <li class="kscr-Menu-links" ng-if="uiState!='root.responsive.cart'&&uiState!='root.responsive.schedule'">
            <a id="goToCart" ng-click="$parent.dropMenu = !$parent.dropMenu" ui-sref="root.cart">
                    <span>
                        <div class="kscr-Menu-links-heading"><i class="glyphicon glyphicon-shopping-cart"></i> My Cart <span>&#187;</span> </div>
                        <div class="kscr-Menu-subtext" ng-if="cartCredits() > 0">
                            <ng-pluralize count="cartCredits()"
                                          when="{'0' : ' ',
                                            '1' : '{} credit',
                                            'other': '{} credits'}">
                            </ng-pluralize>
                        </div>
                    </span>
            </a>
        </li>

        <li class="kscr-Menu-links" ng-if="uiState=='root.responsive.cart'||uiState=='root.responsive.schedule'">
            <a id="goToCart" ng-click="$parent.dropMenu = !$parent.dropMenu" ui-sref="root.responsive.cart">
                    <span>
                        <div class="kscr-Menu-links-heading"><i class="glyphicon glyphicon-shopping-cart"></i> My Cart <span>&#187;</span> </div>
                        <div class="kscr-Menu-subtext" ng-if="cartCredits() > 0">
                            <ng-pluralize count="cartCredits()"
                                          when="{'0' : ' ',
                                            '1' : '{} credit',
                                            'other': '{} credits'}">
                            </ng-pluralize>
                        </div>
                    </span>
            </a>
        </li>
    </ul>
</script>