<div class="kscr-header-container">
    <div class="kscr-header">
        <div class="kscr-logo">
            <span class="kscr-header-title">Course Registration</span>

            <nav class="navigation">
                <div>
                    <a id="goToSchedule" ui-sref="root.schedule" class="glyphicon glyphicon-calendar"><span class="kscr-item-mobileDisplay">Calendar</span></a>
                    <a id="goToCart" ui-sref="root.cart" class="glyphicon glyphicon-shopping-cart"><span class="kscr-item-mobileDisplay">Cart</span></a>
                </div>
            </nav>
        </div>
    </div>
    <div class="kscr-searchTerm">
        <!-- Defaults to the current term-->
        <select id="searchTerm" ng-model="termId" ng-options="t.termId as t.termName for t in terms"/>
    </div>
</div>

<div ui-view/>