<div class="util-Text--center kscr-MainHeading-header">MY SCHEDULE</div>
<div ng-controller="ScheduleCtrl">
    <span>
        <span class="kscr-Heading-sub">ENROLLED</span>
        <span class="kscr-Heading-support util-Grid--floatRight">{{registeredCredits()}} credits</span>
    </span>
</div>

<!--Alert message-->
<div id="user_message" class="util-Alert util-Alert--{{userMessage.type}}" ng-if="userMessage.txt">
    {{userMessage.txt}}
    <a id="userMessageInvoke" ng-click="invokeActionLink(userMessage.actionLink);" ng-if="userMessage.linkText">{{userMessage.linkText}}</a>
</div>

<div class="kscr-Card">
    <div ng-repeat="schedule in schedules">
        <div ng-repeat="course in schedule.courseOfferings" style="position:relative;width:100%;">
            <div class="kscr-dropCourse-container" ng-show="course.dropping">
                <div class="kscr-dropCourse-background"></div>
                <div class="kscr-dropCourse-content">
                    <!--  Schedule Item Drop Section -->
                    <div class="kscr-DropCourse">
                        <form ng-submit="dropRegistrationGroup(index, course)">
                            <div class="kscr-DropCourse-content" ng-show="course.dropping">
                                <div>Drop Course <strong>{{course.courseCode}} ({{course.regGroupCode}})</strong>?</div>
                                <div class="kscr-DropCourse-buttons util-Grid"><div class="util-Grid-cell"></div>
                                    <span>
                                        <button id="dropRegGroup_{{course.courseCode}}_{{course.regGroupCode}}" class="kscr-Button--primary" type="submit">Confirm Drop</button>
                                        <button id="dropRegGroupCancel" class="kscr-Button" type="button" ng-click="cancelDropConfirmation(course)">Cancel</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen">

                    <accordion-heading>
                        <!--credits-->
                        <div id="course_info_{{course.courseCode}}_{{course.regGroupCode}}" class="kscr-Card-supportText" ng-hide="cartItem.editing">
                            <ng-pluralize count="course.credits"
                                          when="{'1'    : '{} credit',
                                                 'other': '{} credits'}">
                            </ng-pluralize>
                        </div>

                        <!--Course Header Section-->
                        <div>
                            <span class="kscr-Card-icon"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i></span>
                            <span class="kscr-Card-title" id="course_code_{{course.courseCode}}_{{course.regGroupCode}}"><strong>{{course.courseCode}} ({{course.regGroupCode}})</strong></span>
                            <span class="kscr-Card-badge" id="grading_badge_{{course.courseCode}}_{{course.regGroupCode}}" ng-show="{{course.gradingOptions[course.gradingOptionId] != 'Letter'}}">{{course.gradingOptions[course.gradingOptionId]}}</span>
                        </div>
                        <!--Course Title and description-->
                        <div class="kscr-Card-text" id="title_{{course.courseCode}}_{{course.regGroupCode}}">{{course.longName}}</div>

                    </accordion-heading>

                    <div ng-hide="course.editing" class="kscr-Card-detailsText">
                        <!--course time, day, building-->
                        <div ng-repeat="ao in course.activityOfferings">
                            <span class="kscr-Card-courseTimes">
                                <div id="ao_type_{{course.courseCode}}_{{course.regGroupCode}}_{{$index}}" >{{ao.activityOfferingTypeShortName}} &nbsp;</div>
                                <div ng-repeat='scheduleComponent in ao.scheduleComponents' id="schedule_{{course.courseCode}}_{{course.regGroupCode}}_{{$parent.$index}}_{{$index}}">
                                    <span ng-hide="scheduleComponent.isTBA">
                                        {{scheduleComponent.days}} {{scheduleComponent.startTime}} - {{scheduleComponent.endTime}}
                                        {{scheduleComponent.buildingCode}} {{scheduleComponent.roomCode}}
                                    </span>
                                    <span ng-show="scheduleComponent.isTBA">TBA</span>
                                </div>
                            </span>
                        </div>
                        <!--Course Registration Buttons-->
                        <div class="kscr-Card-buttons">
                          <span>
                            <!--<button class="btn">Details</button>-->
                            <button class="kscr-Button" id="edit_{{course.courseCode}}_{{course.regGroupCode}}" ng-click="editScheduleItem(course)" ng-show="course.creditOptions.length > 1 || course.gradingOptionCount > 1">Edit</button>
                            <button class="kscr-Button" id="remove_{{course.courseCode}}_{{course.regGroupCode}}" ng-click="openDropConfirmation($index, course)">Drop</button>
                          </span>
                        </div>
                    </div>

                    <!-- Schedule Item Change Section: Credits, Grading, and Save -->
                    <div class="kscr-Card-detailsText" ng-show="course.editing">
                        <form ng-submit="updateScheduleItem(course, newCredits, newGrading)">
                            <div ng-show="course.creditOptions.length > 1">
                                <label class="kscr-Edit-details" for="credits_{{course.courseCode}}_{{course.regGroupCode}}">Credits</label>
                                <select class="kscr-Edit-details" id="credits_{{course.courseCode}}_{{course.regGroupCode}}" ng-model="newCredits"
                                        ng-options="creditOption for creditOption in course.creditOptions"></select>
                            </div>
                            <div ng-show="course.gradingOptionCount > 1">
                                <label class="kscr-Edit-details" for="grading_{{course.courseCode}}_{{course.regGroupCode}}">Registration Options</label>
                                <select class="kscr-Edit-details" id="grading_{{course.courseCode}}_{{course.regGroupCode}}" ng-model="newGrading"
                                        ng-options="key as value for (key, value) in course.gradingOptions"></select>

                            </div>
                            <!--Edit buttons-->
                            <div class="kscr-Card-buttons">
                                <span>
                                    <button id="saveScheduleItem_{{course.courseCode}}_{{course.regGroupCode}}" class="kscr-Button--primary" type="submit">Save Changes</button>
                                    <button id="cancelEditScheduleItem_{{course.courseCode}}_{{course.regGroupCode}}" class="kscr-Button" type="button" ng-click="cancelEditScheduleItem(course)">Cancel</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>




