<!-- Search Details List for Mobile -->
<div class="kscr-Search-details-list">
    <div class="kscr-Search-details-header">
        <div class="kscr-Search-details-tab-container">
            <div class="kscr-Search-details-tab" ng-class="{'kscr-Search-details-tab--selected': tab==='time'}" ng-click="select('time')">Time</div>
        </div>
        <div class="kscr-Search-details-tab-container">
            <div class="kscr-Search-details-tab" ng-class="{'kscr-Search-details-tab--selected': tab==='instr'}" ng-click="select('instr')">Instr</div>
        </div>
        <div class="kscr-Search-details-tab-container--wide">
            <div class="kscr-Search-details-tab" ng-class="{'kscr-Search-details-tab--selected': tab==='seatsLoc'}" ng-click="select('seatsLoc')">Seats/Loc</div>
        </div>
        <div class="kscr-Search-details-tab-container">
            <div class="kscr-Search-details-tab" ng-class="{'kscr-Search-details-tab--selected': tab==='all'}" ng-click="select('all')">All</div>
         </div>
    </div>
    <div class="kscr-Search-details-section" ng-repeat="searchDetail in searchDetails| limitTo:limit">
        <span ng-show="time" compile="searchDetail.formatted.days"></span>
        <span ng-show="time" compile="searchDetail.formatted.time"></span>
        <span ng-show="instr" compile="searchDetail.formatted.additionalInfo"></span>
        <span ng-show="instr" compile="searchDetail.formatted.instructor"></span>
        <span ng-show="seatsLoc" compile="searchDetail.formatted.location"></span>
        <span ng-show="seatsLoc"><span compile="searchDetail.formatted.seatsOpen"></span><span>&nbsp;available</span></span>
    </div>
</div>