<div class="kscr-Search-results-container">

    <!-- Search Facets -->
    <div class="kscr-SearchFacets">
        <div class="kscr-SearchFacets-facetsContainer">
            <search-facet ng-repeat="facet in facets" facet="facet" results="searchResults"></search-facet>
        </div>
    </div>

    <!-- Search Results -->
    <div class="kscr-Search-results" ng-show="searchCriteria">
        <search-results>
            <search-column name="Code" field="courseCode" order="1" default="true"></search-column>
            <search-column name="Title" field="longName" order="2" url="#"></search-column>
            <search-column name="Credits" field="creditOptions" order="3" filter="creditRangeFormatter"></search-column>
            <search-list details-id="courseId"></search-list>
        </search-results>
    </div>

</div>