<div class="kscr-Responsive-searchWrapper" ng-class="{ 'kscr-Responsive-searchWrapper--active' : uiState.indexOf('root.search') !== -1 }">
    <div draggable="true" ng-swipe-left="goToPage('/myCart')" ng-swipe-right="goToPage('/mySchedule')">
        <!-- Search Heading -->
        <div class="kscr-MainHeading util-Grid util-Grid--center">
            <div class="util-Grid-cell">
                <div class="kscr-MainHeading-icon-left"><a ui-sref="root.schedule"><i class="glyphicon glyphicon-calendar"></i></a></div>
                <div class="kscr-MainHeading-header">Search</div>
                <div class="kscr-MainHeading-icon-right"><a ui-sref="root.cart"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
            </div>
        </div>

        <!-- Search Container -->
        <div class="kscr-Search">

            <!-- Search Form - Shown in mobile-only -->
            <div class="kscr-SearchForm">
                <search-form></search-form>
            </div>

            <!-- Search Content Container (Results & Details) - ui-view contents get put here -->
            <div class="kscr-Search-content" ui-view></div>

        </div>

    </div>
</div>
