<div class="kscr-Search-results-heading">
    <div id="search_results_summary" class="kscr-Search-results-summary">Showing {{displayRange((searchResults|filter:facetFilter).length)}} results for "{{searchCriteria}}" in {{termName}}</div>
    <div class="kscr-Search-results-picker">
        <span>Show</span>
        <select id="display_limit_select" ng-model="displayLimit" ng-options="limit as limit for limit in displayLimits" class="kscr-Search-results-limits"></select>
    </div>
    <div class="util-Grid--clearfix"></div>
</div>
<div class="kscr-Search-results-heading--small">
    <span>{{searchResults.length}} Results</span>
</div>
<table id="search_results_table" class="kscr-Search-results-table">
    <thead class="kscr-Search-results-table-head">
        <tr>
            <th class="kscr-Search-results-header" ng-repeat="searchColumn in searchColumns">
                <span>{{searchColumn.name}}</span>
                <i class="glyphicon glyphicon-sort kscr-Search-results-sortIcon" ng-click="$parent.predicate = '{{searchColumn.field}}'; $parent.reverse = switchReverse('{{searchColumn.field}}')"></i>
            </th>
        </tr>
    </thead>
    <tbody ng-repeat="searchResult in searchResults | orderBy : predicate : reverse | filter:facetFilter | startFrom:(page-1)*displayLimit | limitTo:displayLimit">
        <tr ui-sref="root.search.details({searchCriteria: searchCriteria, id: getId(searchResult)})" class="kscr-Search-row">
            <td ng-repeat="searchColumn in searchColumns" class="kscr-Search-results-cell">
                <a ng-if="searchColumn.url" src="searchColumn.url">
                    {{applyFilter(searchResult[searchColumn.field], searchColumn.filter)}}
                </a>
                <span ng-if="!searchColumn.url" src="searchColumn.url">
                    {{applyFilter(searchResult[searchColumn.field], searchColumn.filter)}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div class="kscr-Search-results-list" ng-repeat="searchResult in searchResults | filter:facetFilter">
    <div class="kscr-Search-result" ui-sref="root.search.details({searchCriteria: searchCriteria, id: getId(searchResult)})">
        <div class="kscr-Search-result-column-{{searchColumn.field}}" ng-repeat="searchColumn in searchColumns">{{applyFilter(searchResult[searchColumn.field], searchColumn.filter)}}</div>
    </div>
</div>
<div class="kscr-Search-results-paginate">
    <div class="kscr-Search-results-pageBox">
        <a ng-show="page > 1" ng-click="page = 1;">|&lt;</a>
        <span ng-show="page <= 1">|&lt;</span>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a ng-show="page > 1" ng-click="page = page-1;">&lt;</a>
        <span ng-show="page <= 1">&lt;</span>
    </div>
    <div ng-repeat="pageNum in pageRange()">
        <div class="kscr-Search-results-pageBox">
            <a ng-show="page != pageNum" ng-click="$parent.page = pageNum">{{pageNum}}</a>
            <span ng-show="page === pageNum">{{pageNum}}</span>
        </div>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a ng-click="page = page+1;" ng-show="(page * displayLimit) < (searchResults|filter:facetFilter).length">&gt;</a>
        <span ng-show="(page * displayLimit) >= (searchResults|filter:facetFilter).length">&gt;</span>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a ng-show="page < lastPage" ng-click="page = lastPage;">&gt;|</a>
        <span ng-show="page >= lastPage">&gt;|</span>
    </div>
</div>
