<div class="kscr-Search-results-container">

    <!-- Search Facets -->
    <div class="kscr-SearchFacets">
        <div class="kscr-SearchFacets-facetsContainer">
            <search-facet ng-repeat="facet in facets" facet="facet" results="searchResults"></search-facet>
        </div>
    </div>

    <!-- Search Results -->
    <div class="kscr-Search-results" ng-show="searchCriteria">
        <search-results>
            <search-column name="Code" field="courseCode" order="1"></search-column>
            <search-column name="Title" field="longName" order="2" url="#"></search-column>
            <search-column name="Credits" field="creditOptions" order="3" filter="creditRangeFormatter"></search-column>
            <search-list search-results='searchResults' search-columns='searchColumns' facet-filter="facetFilter" search-criteria="{{searchCriteria}}" term-name="{{termName}}"
                         details-id="courseId" default-field="courseCode" on-click="viewDetails(searchCriteria, getId(searchResult))"></search-list>
        </search-results>
    </div>

</div>