
    <!-- Search Form -->
    <div class="kscr-SearchForm-form">
        <form novalidate name="form" ng-submit="submit();">
            <fieldset>
                <div class="util-Grid">
                    <div class="util-Grid-cell">
                        <input id="courseSearchCriteria" class="kscr-SearchForm-input" type="text" maxlength="30" ng-model="courseSearchCriteria" />
                    </div>
                    <div class="kscr-SearchForm-button">
                        <button id="searchSubmit" name="submit" class="kscr-Button" ng-disabled="!courseSearchCriteria">Search</button>
                    </div>
                </div>
                <div class="util-Grid">
                    <div class="util-Grid-cell kscr-SearchForm-label">ENGL, CHEM101, shakespeare</div>
                </div>
            </fieldset>
        </form>
    </div>
