<div class="kscr-Search-results-heading" ng-show="searchCriteria">
    <div id="search_results_summary" class="kscr-Search-results-summary">
        Showing
        <span ng-if="displayRangeMin() === displayRangeMax()">{{displayRangeMin()}}</span>
        <span ng-if="displayRangeMin() !== displayRangeMax()">{{displayRangeMin()}} - {{displayRangeMax()}}</span>
        of {{searchResults.length}} results for "{{searchCriteria}}" in {{termName}}
    </div>
    <div class="kscr-Search-results-picker">
        <span>Show</span>
        <select id="display_limit_select" ng-model="displayLimit" ng-options="limit as limit for limit in displayLimits" class="kscr-Search-results-limits"></select>
    </div>
</div>
<div class="kscr-Search-results-heading--small" ng-if="searchCriteria">
    <span>{{searchResults.length}} Results</span>
</div>
<table id="search_results_table" class="kscr-Search-results-table">
    <thead class="kscr-Search-results-table-head">
        <tr>
            <th class="kscr-Search-results-header" ng-repeat="searchColumn in searchColumns"
                ng-class="{'kscr-Search-results--selected': (!sorted || sorted) && notSorted }"
                ng-click="notSorted = ($parent.predicate = '{{searchColumn.field}}'); sorted = ($parent.reverse = switchReverse('{{searchColumn.field}}')) ">
                <div class="kscr-Search-result-column">{{searchColumn.name}}
                    <i class="kscr-Search-results-sortIcon" ng-show="!searchColumn.checkbox"
                       ng-class="{'kscr-Search-results-sortIcon--up': !sorted && notSorted, 'kscr-Search-results-sortIcon--down': sorted && notSorted}"></i>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="searchResult in searchResults | orderBy : predicate : reverse | startFrom:(page-1)*displayLimit | limitTo:displayLimit"
            id="course_detail_row_{{applyFilter(searchResult[defaultField], searchColumn.filter)}}"
            class="kscr-Search-row" ng-class="{'kscr-Search-row--clickable': onClick}"
            ng-show="showResult(searchResult)" ng-click="{{onClick}}">
            <td ng-repeat="searchColumn in searchColumns" class="kscr-Search-results-cell">
                <a ng-if="searchColumn.url" src="searchColumn.url">
                    {{applyFilter(searchResult[searchColumn.field], searchColumn.filter)}}
                </a>
                <span ng-if="!searchColumn.url" src="searchColumn.url">
                    {{applyFilter(searchResult[searchColumn.field], searchColumn.filter)}}
                </span>
                <input class="kscr-Search-checkbox" ng-if="searchColumn.checkbox" type="checkbox" ng-click="select('{{searchColumn.checkbox}}', searchResult)" ng-model="searchResult.selected" />
            </td>
        </tr>
    </tbody>
</table>
<div class="kscr-Search-results-list">
    <div class="kscr-Search-result"
         id="course_detail_result_{{applyFilter(searchResult[defaultField], searchColumn.filter)}}"
         ui-sref="root.search.details({searchCriteria: searchCriteria, id: getId(searchResult)})"
         ng-repeat="searchResult in searchResults">
        <div class="kscr-Search-result-column-{{searchColumn.field}}" ng-repeat="searchColumn in searchColumns">{{applyFilter(searchResult[searchColumn.field], searchColumn.filter)}}</div>
    </div>
</div>
<div class="kscr-Search-results-paginate" ng-show="searchCriteria">
    <div class="kscr-Search-results-pageBox">
        <a ng-show="page > 1" ng-click="page = 1;">|&lt;</a>
        <span ng-show="page <= 1">|&lt;</span>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a id="prevPageLink" ng-show="page > 1" ng-click="page = page-1;">&lt;</a>
        <span id="prevPage" ng-show="page <= 1">&lt;</span>
    </div>
    <div ng-repeat="pageNum in pageRange()">
        <div class="kscr-Search-results-pageBox">
            <a ng-show="page != pageNum" ng-click="$parent.page = pageNum">{{pageNum}}</a>
            <span ng-show="page === pageNum">{{pageNum}}</span>
        </div>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a id="nextPageLink" ng-click="page = page+1;" ng-show="(page * displayLimit) < searchResults.length">&gt;</a>
        <span id="nextPage" ng-show="(page * displayLimit) >= searchResults.length">&gt;</span>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a ng-show="page < lastPage()" ng-click="page = lastPage();">&gt;|</a>
        <span ng-show="page >= lastPage()">&gt;|</span>
    </div>
</div>
