<div class="kscr-Responsive-searchWrapper" ng-class="{ 'kscr-Responsive-searchWrapper--active' : uiState == 'root.search' }">
    <div draggable="true" ng-swipe-left="goToPage('/myCart')" ng-swipe-right="goToPage('/mySchedule')">
        <!-- Search Heading -->
        <div class="kscr-MainHeading util-Grid util-Grid--center">
            <div class="util-Grid-cell">
                <div class="kscr-MainHeading-icon-left"><a ui-sref="root.schedule"><i class="glyphicon glyphicon-calendar"></i></a></div>
                <div class="kscr-MainHeading-header">Search</div>
                <div class="kscr-MainHeading-icon-right"><a ui-sref="root.cart"><i class="glyphicon glyphicon-shopping-cart"></i></a></div>
            </div>
        </div>
    </div>
</div>

        <h4>Search Criteria: {{searchCriteria}} - Results: {{searchResults.length}}</h4>
