.KS-TabPanel{
	width: 100%;
}

.KS-TabPanel-TabRow{
	width: 100%;
}

.KS-TabPanel-Tab-Selected{
	background-color: white;
	
}

.KS-TabPanel-Tab-Label-Hover{
	color: orange;
	
}

.KS-TabPanel-Content{
	background-color: white;
	padding-top: 35px;
	padding-left: 8px;
	padding-bottom: 20px;
}

.KS-TabPanel-Tab-Hover{
	cursor: pointer;
	background-color: #727272;
}

.KS-TabPanel-Left-Panel{
	margin-left: 20px;
}

.KS-TabPanel-Right-Panel{
	float: right;
	margin-right: 15px;
}

.KS-TabPanel-Tab{
	font-weight: bold;
	padding-bottom: 3px;
	\-moz-border-radius-topright: 5px;
	\-moz-border-radius-topleft: 5px;
	\-webkit-border-top-right-radius: 5px; 
	\-webkit-border-top-left-radius: 5px; 
	\-khtml-border-top-right-radius: 5px;
	\-khtml-border-top-left-radius: 5px;
	border-radius-top-right-radius:5px;
	border-radius-top-left-radius:5px;
}

.KS-TabPanel-Tab-Left{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	margin-right: 2px;
}

.KS-TabPanel-Tab-Right{
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	margin-left: 2px;
}



