.KS-Table-ColumnHeader {
	background-color: lightblue;
}

.KS-Table-RowHeader {
	background-color: lightblue;
}

.KS-Table-Row {
	background-color: white;
}

.KS-Table-RowAlt {
	background-color: lightgray;
}
