<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2010 The Kuali Foundation Licensed under the
    Educational Community License, Version 2.0 (the "License"); you may
    not use this file except in compliance with the License. You may
    obtain a copy of the License at

    http://www.osedu.org/licenses/ECL-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS"
    BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
    or implied. See the License for the specific language governing
    permissions and limitations under the License.

-->

<web-app>

    <context-param>
      <param-name>log4j.config.file.location</param-name>
      <param-value>${user.home}/kuali/main/dev/ks-standalone-log4j.properties</param-value>
    </context-param>

    <listener>
      <listener-class>org.kuali.rice.student.core.web.listener.RiceContextLoaderListener</listener-class>
    </listener>
    
    <context-param>
	    <param-name>contextConfigLocation</param-name>
      	<param-value>classpath:ksb/ks-standalone-context.xml</param-value>
    </context-param>	
   
	<servlet>
		<servlet-name>remoting</servlet-name>
		<servlet-class>org.kuali.rice.ksb.messaging.servlet.KSBDispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>remoting</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GWT-ORG</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:core-gwt-context.xml</param-value>
		</init-param>		
	</servlet>
	
	<servlet>
		<servlet-name>GWT-LUM</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:lum-gwt-context.xml</param-value>
		</init-param>		
	</servlet>
	
	<!-- Export Download HTTP Servlet -->
    <servlet>  
   	 	<servlet-name>ExportDownloadHTTPServlet</servlet-name>  
   	 	<servlet-class>org.kuali.student.common.ui.server.gwt.ExportDocumentDownload</servlet-class>  
   	 </servlet>  
   	 
   	 <servlet-mapping>  
   	 		<servlet-name>ExportDownloadHTTPServlet</servlet-name>  
   			<url-pattern>/exportDownloadHTTPServlet</url-pattern>  
   	 </servlet-mapping>  
	<!-- HTTP Servlet end -->
	

	<servlet-mapping>
		<servlet-name>GWT-ORG</servlet-name>
		<url-pattern>/org.kuali.student.core.organization.ui.OrgEntry/rpcservices/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GWT-LUM</servlet-name>
		<url-pattern>/org.kuali.student.lum.ui.requirements.Requirements/rpcservices/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GWT-LUM</servlet-name>
		<url-pattern>/org.kuali.student.lum.lu.ui.course.Course/rpcservices/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GWT-LUM</servlet-name>
		<url-pattern>/org.kuali.student.lum.lu.ui.main.LUMMain/rpcservices/*</url-pattern>
	</servlet-mapping>		

	<servlet-mapping>
		<servlet-name>GWT-LUM</servlet-name>
		<url-pattern>/org.kuali.student.lum.lu.ui.workflow.CollaboratorRequest/rpcservices/*</url-pattern>
	</servlet-mapping>	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
        <!--  <welcome-file>index.jsp</welcome-file> -->
	</welcome-file-list>
 	
  	<filter>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>gwtCacheControlFilter</filter-name>
		<filter-class>org.kuali.student.common.util.filter.GWTCacheControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>gwtCacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 
</web-app>