 ---
 Introduction
 ---
 Oleg Estekhin
 ---
 2010-04-02
 ---

${project.name}

  ${project.description}

  The {{{http://svnkit.com/}SVNKit}} library is used for all Subversion-related operations.

* Goals Overview

  * {{{./revision-mojo.html}${project.artifactId}:release}} Retrieves the status and revision number of a file or a
  directory under Subversion version control.

* Using the plugin

  General instructions on how to use the ${project.name} can be found on the {{{./usage.html}usage page}}. Some more
  specific use cases are described in the examples given below.

  If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in our
  {{{./issue-tracking.html}issue tracker}}. When creating a new issue, please provide a comprehensive description of your
  concern.

* Examples

  The following examples show how to use the ${project.name} in more advanced usecases:

  * {{{./examples/resource_filtering.html}Storing output properties in the resource file}}

  * {{{./examples/artifact_name.html}Adding the revision number to the project artifact name}}

  []
