.FlexTable {
  border-top: thin solid #444444;
  border-left: thin solid #444444;
  border-right: thin solid #111111;
  border-bottom: thin solid #111111;
  border-collapse:separate;
  empty-cells:hide;
}

.FlexTableColumn {

	background-color:  #F0F0F0;
}


.KS-LUM-Section {
	margin: 5px;
	padding: 5px 5px 10px 5px;
	width: 95%;
}

.KS-LUM-Section-Divider {
	border-top: 1px solid orange;
}

.KS-FormLayout-Label {
	width: 90px;
	text-align: left;
	font-size: 11px;
	padding-bottom: 20px;
	vertical-align: middle;	
}

.KS-FormLayout-Field {
	padding-bottom: 20px;
}


.KS-Textbox{
	width: 200px;
	font-size: 16px; 	
}

.KS-Course-Section-Header {
	font-size: 20px;
	margin-bottom: 30px;
}

.KS-Course-Save-Button{
	margin-left: 100px;	
}

.KS-Course-Number {
	width: 50px;
}

.KS-LOPicker-Main-Panel {

}
.KS-LOPicker-TextArea {
    height: auto;
}

.KS-LOBuilder-Section {
    padding-bottom: 10px;
    padding-top: 10px;
}

.KS-LOBuilder-Search-Panel {
	padding: 10px;
	width: 60%;
	
}

.KS-LOBuilder-Spacer-Panel {
	padding: 10px;
	width: 250px;
	
}
.KS-LOBuilder-Search-Image {
	cursor: pointer;
	
}
.KS-LOBuilder-Search-Link {
	color: blue;
	font-size: 70%;
	cursor: pointer;
	
}

.KS-LOBuilder-Instructions {
    font-size:70%;
}

.KS-LOBuilder-Highlighted-Item {
	background-color: #ffffcc;
}

.KS-LOBuilder-LO-Item-Active {
	background-color: #FFFFCC;
}

.KS-LOBuilder-LO-Item-InActive {
	background-color: #FFFFFF;
}

.KS-LOBuilder-LO-Panel {
	margin: 10px;
}

.KS-LOWindow {
	padding: 5px;
	border: groove;
}

.KS-LOSearch-Title {

}

.KS-LOSearch-Type-Panel {
	padding: 10px;
    border-bottom: thin solid #cccccc;
}

.KS-LOSearch-Param-Panel {
	padding: 5px;
}

.KS-LOSearch-Button-Panel {
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.KS-LOSearch-Results-Header {
    padding: 5px;
    background-color: #cccccc;
    font-weight:bold;

}

.KS-LOCategoryPicker {
    padding: 5px;
    background-color: #FFE0C2;
    border-style: dashed;
    font-size: 75%;
}

.KS-LOCategoryPicker-Button {
    font-size: 75%;
}

.KS-LOMoveUpButton{
    background: url("images/LOMoveUpButton.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LOMoveUpButtonDisabled{
    background: url("images/LOMoveUpButtonDisabled.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LOMoveDownButton{
    background: url("images/LOMoveDownButton.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LOMoveDownButtonDisabled{
    background: url("images/LOMoveDownButtonDisabled.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LOIndentButton{
    background: url("images/LOIndentLeft.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LOIndentButtonDisabled{
    background: url("images/LOIndentLeftDisabled.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LOOutdentButton{
    background: url("images/LOOutdent.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LOOutdentButtonDisabled{
    background: url("images/LOOutdentDisabled.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LODeleteButton{
    background: url("images/LODeleteButton.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LODeleteButtonDisabled{
    background: url("images/LODeleteButtonDisabled.png") no-repeat 2px 2px;
    width: 22px;
    height:22px;
}
.KS-LOBuilder-New{
	color: blue;
	font-size: 70%;
	cursor: pointer;
	
}

.cluInfo-officialIdentifier-longName{}
.cluInfo-officialIdentifier-division{}
.cluInfo-officialIdentifier-suffixCode{}
.proposalInfo-proposerPerson{}
.proposalInfo-metaInfo-createTime{}
.proposalInfo-metaInfo-updateTime{}
.cluInfo-desc-plain{}
.proposalInfo-state{}
.proposalInfo-name{}
.proposalInfo-proposerPerson{}
.rationalle{}
.rules{}
.cluInfo-effectiveDate{}
.cluInfo-expirationDate{}
.cluInfo-feeType{width: 150px;}
.cluInfo-feeAmount{width: 100px;}
.cluInfo-taxable{}
.cluInfo-feeDesc{}
.cluInfo-internalNotation{}
.cluInfo-adminOrg{}
.cluInfo-campusLocationList{}
.cluInfo-primaryAdminOrg-orgId{}
.cluInfo-alternateAdminOrgs{}
.cluInfo-officialIdentifier-division{width: 60px;}
.cluInfo-officialIdentifier-suffixCode{width: 60px;}
.cluInfo-alternateIdentifiers{}
.cluInfo-offeredJointly{}
.cluInfo-alternateIdentifiers{}
.cluInfo-officialIdentifier-longName{width: 500px;}
.cluInfo-officialIdentifier-shortName{}
.cluInfo-desc{}
.cluInfo-marketingDesc{}
.orgId{}
.code{}
.suffixCode{}
.id{}
.variation{}
.shortName{}
.cluInfo-primaryInstructor-personId{width: 300px}
.cluInfo-creditType{width: 150px;}
.cluInfo-creditValue{width: 50px;}
.cluInfo-maxCredits{width: 50px;}
.cluInfo-evalType{}
.cluInfo-offeredAtpTypes{}
.cluInfo-stdDuration-timeQuantity{}
.cluInfo-courseFormats{}
.activities{}
.type{}
.creditInfo{}
.evalType{}
.term{}
.stdDuration-timeQuantity{}
.intensity-timeQuantity{}
.defaultEnrollmentEstimate{}
.orgId{}
.personId{}
