.accordionPanel{
	height: 500;
	width: 200;
	
	
	border-left: 1px solid #99bbe8;
	border-right: 1px solid #99bbe8;
	border-bottom: 1px solid #99bbe8;
	border-top: 1px solid #99bbe8;
}
.accordionTitleBar{
	height: 20;
	
		
	border-left: 1px solid #99bbe8;
	border-right: 1px solid #99bbe8;
	border-bottom: 1px solid #99bbe8;
	border-top: 1px solid #99bbe8;
	
}