.gwt-HorizontalSplitPanel {
  border: 1px solid #7c1d3a;
}

.gwt-HorizontalSplitPanel .hsplitter {
  cursor: move;
  background-color: #7c1d3a;
  border-right: 1px solid #BBBBBB;
  border-left: 1px solid #BBBBBB; 
}

.gwt-VerticalSplitPanel {
  border: 1px solid #7c1d3a;
}

.gwt-VerticalSplitPanel .vsplitter {
  cursor: move;
  background-color: #7c1d3a;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB; 
}
