/*** rh-buttons.css - To be integrated with other Kuali CSS ***/

/* Buttons -------------------------------------------------------------- */ 

/* ---- Primary ------------------------- */ 
a.ks-button-primary {
	line-height: 2.25em;
	text-decoration:none;
	background-color: #E4EBFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E4EBFF), to(#BFD1FF));
	background-image: -moz-linear-gradient(-90deg,#E4EBFF,#BFD1FF);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #A1BAF7;
	padding: 7px 10px 5px 10px;
	color: #2C61E6;
	font-size: 1.167em;
	font-weight: bold;
}

a.ks-button-primary:hover {
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#BFD1FF));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#BFD1FF);
	border: 1px solid #2C61E6;
}

.ks-button-primary-disabled {
	line-height:2.25em;
	text-decoration:none;

	background-color: #F8F8F8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#CCCCCC);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #999999;
	padding: 7px 10px 5px 10px;
	color: #999999;
	font-size: 1.167em;
	font-weight: bold;
}

/* ---- Secondary ------------------------- */ 
a.ks-button-secondary {
	line-height:2.25em;
	text-decoration:none;

	background-color: #ECECEC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#D8D8D8);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #999999;
	padding: 7px 10px 5px 10px;
	color: #2C61E6;
	font-size: 1.167em;
}

a.ks-button-secondary:hover {
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#D8D8D8);
	border: 1px solid #2C61E6;
}

.ks-button-secondary-disabled {
	line-height:2.25em;
	text-decoration:none;

	background-color: #F8F8F8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#CCCCCC);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #999999;
	padding: 7px 10px 5px 10px;
	color: #999999;
	font-size: 1.167em;
}

/* ---- Primary Small ------------------- */ 
a.ks-button-primary-small {
	line-height:1.93em;
	text-decoration:none;

	background-color: #E4EBFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E4EBFF), to(#BFD1FF));
	background-image: -moz-linear-gradient(-90deg,#E4EBFF,#BFD1FF);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #A1BAF7;
	padding: 3px 8px 2px 8px;
	color: #2C61E6;
	font-size: 1em;
	font-weight: bold;
}

a.ks-button-primary-small:hover {
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#BFD1FF));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#BFD1FF);
	border: 1px solid #2C61E6;
}

.ks-button-primary-small-disabled {
	line-height:1.93em;
	text-decoration:none;

	background-color: #F8F8F8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#CCCCCC);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #999999;
	padding: 3px 8px 2px 8px;
	color: #999999;
	font-size: 1em;
	font-weight: bold;
}

/* ---- Secondary Small ----------------- */ 
a.ks-button-secondary-small {
	line-height:1.93em;
	text-decoration:none;

	background-color: #EEEEEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#D8D8D8);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #999999;
	padding: 3px 8px 2px 8px;
	color: #2C61E6;
	font-size: 1em;
}

a.ks-button-secondary-small:hover {
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#D8D8D8);
	border: 1px solid #2C61E6;
}

.ks-button-secondary-small-disabled {
	line-height:1.93em;
	text-decoration:none;

	background-color: #F8F8F8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
	background-image: -moz-linear-gradient(-90deg,#FFFFFF,#CCCCCC);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #999999;
	padding: 3px 8px 2px 8px;
	color: #999999;
	font-size: 1em;
}

