/*** Forms: Bordered Container ***/

.ks-form-bordered { background-color: #fff; border: solid 1px #ccc; margin-bottom: 1em;}
.ks-form-bordered-header { background-color: #eee; padding: 4px 8px; margin: 0;  }

.ks-form-bordered-header-title { display:table; float:left; height: 1%; }
.ks-form-bordered-header-title h4 { margin-bottom: 0; color: #424242; }


.ks-form-bordered-header-title-actions { display:inline-block; float:right; margin-top: 2px; }


/*** Form (Bordered): Delete, and Help ***/

/*.ks-form-bordered-header-delete { float:right; margin-left: 3px; width: 12px; height: 14px;}
.ks-form-bordered-header-delete a {
    display: block;
    padding: 14px 0 0 0;
    overflow: hidden;
    background: transparent url('../images/icons/delete_gray_12px.png') no-repeat 0 1px;
    height: 0px !important;
    height:14px;
}
.ks-form-bordered-header-delete a:hover {
	 background-image: url('../images/icons/delete_blue_12px.png');
}


.ks-form-bordered-header-help { float:right; margin-left: 3px; width: 14px; height: 14px;}
.ks-form-bordered-header-help a {    
    display: block;
    padding: 14px 0 0 0;
    overflow: hidden;
    background: url('../images/icons/help_gray_14px.png') no-repeat;
    height: 0px !important;
    height: 14px;
}

.ks-form-bordered-header-help a:hover {
	 background-image: url('../images/icons/help_blue_14px.png');
}
*/

.ks-form-bordered-body {
	padding: 10px 10px 0 10px;
}


/*** Forms: Course Formats Advanced ***/


.ks-form-course-format-advanced { background-color: #f1f1f1; margin-bottom: 10px; }

.ks-form-course-format-advanced-header { background: #fff; padding: 4px; }

.ks-form-course-format-advanced-body { padding: 10px 10px 0 10px; }


/*** Forms_ Activity ***/

.ks-form-course-format-activity { padding: 10px; margin-bottom: 10px; }

.ks-form-course-format-activity-header { 
	position:relative; 
	border-bottom: solid 1px #ccc; 
	height: 1%;
	padding:4px 0;
	margin-bottom: .75em;
}

.ks-form-course-format-activity-header-title { display:table; float:left; height: 1%; }
.ks-form-course-format-activity-header-title h5 { margin-bottom: 0; color: #424242; }

.ks-form-course-format-activity-header-title-actions { display:inline-block; float:right; margin-bottom: 2px; }


/*
.ks-form-course-format-activity-header-delete { float:right; margin-left: 3px; width: 12px; height: 14px;}
.ks-form-course-format-activity-header-delete a {
    display: block;
    padding: 14px 0 0 0;
    overflow: hidden;
    background: transparent url('../images/icons/delete_gray_12px.png') no-repeat 0 1px;
    height: 0px !important;
    height:12px;
}
.ks-form-course-format-activity-header-delete a:hover {
	 background-image: url('../images/icons/delete_blue_12px.png');
}

.ks-form-course-format-activity-header-help { float:right; margin-left: 3px; width: 14px; height: 14px;}
.ks-form-course-format-activity-header-help a {
    display: block;
    padding: 14px 0 0 0;
    overflow: hidden;
    background: url('../images/icons/help_gray_14px.png') no-repeat;
    height: 0px !important;
    height:14px;
}

.ks-form-course-format-activity-header-help a:hover {
	 background-image: url('../images/icons/help_blue_14px.png');
}
*/

/*** Forms: Modules (Rows) ***/

.ks-form-module { 
	color: #444; 
	height: 1%;
	margin-bottom: 1em;
}

.ks-form-module-group, .ks-form-module-solo {
	height: 1%;
	margin-bottom: 1em;
}

.ks-form-module-fields {
	float: left;
	/*padding: 5px 4px 5px 3px;*/
}

.ks-form-module-elements {
	float:left; 
	margin-right: 20px;
	margin-bottom: 1px;
}

.ks-form-module-elements fieldset {
	border: solid 1px transparent;
	padding: 2px;
	display: inline-block;
}

.ks-form-module-elements-watermark { color: #bbb; }

.ks-form-module-elements-instruction { margin-top: .15em; display: block; color: #000; }

/* Text version Help and Delete */
.ks-form-module-elements-help1 a {
	padding: 1px 3px 0 3px; 
	background-color: transparent; 
	-moz-border-radius:7px; 
	-webkit-border-radius: 7px;
	border: solid 1px #ccc;
	font-size: 11px; 
	font-weight: bold;
	text-decoration: none;
	color: #aaa;
}

.ks-form-module-elements-delete1 a {
	padding: 0px 3px; 
	background-color: transparent; 
	border: solid 1px #ccc;
	font-size: 12px; 
	font-weight: bold;
	text-decoration: none;
	color: #aaa;
}

.ks-form-module-elements-help1 a:hover, .ks-form-module-elements-delete1 a:hover {
	color: #2C61E6;
	border-color: #2C61E6;
}
.ks-form-module-elements-help-text { margin: 2px 0 0 0; font-size: 0.916em; color: #424242; }


/* Old version of help and delete */
/*
.ks-form-module-elements-help { 
	display: inline-block;
	width: 14px; 
	height: 14px;
	vertical-align: bottom;
}
.ks-form-module-elements-help a {
    display: inline-block;
    padding: 14px 0 0 0;
    overflow: hidden;
    background: transparent url('../images/icons/help_gray_14px.png') no-repeat top left;
    height: 0px !important;
    width: 14px;
}

.ks-form-module-elements-help a:hover {
	 background-image: url('../images/icons/help_blue_14px.png');
}

.ks-form-module-elements-help img { vertical-align: middle; }

*/


.ks-form-module-validation {
	float: left;
	font-size: 1em;
	font-weight: bold;
	color: red;
	margin-top: 1em; 
	margin-right: 10px;
	width: 40%;
	
}

.ks-form-module-validation ul { 
	margin: 0; 
	background: transparent url('../images/icons/exclamation-red.png') no-repeat top left;
	padding-left: 20px;
	padding-top: 2px;
}

.ks-form-module-validation li {
	margin-left: 0;
	padding: 3px 0;
	height: 1%;
	list-style: none;
}

span.ks-form-module-validation-label { font-weight: normal; }

.ks-form-module-validation-inline { 
	font-size: 1em;
	font-weight: bold;
	color: red;
	vertical-align: top;
	margin-left: 25px;
	width: 400px;
	display: inline-block;
	line-height: 1.1em;
	padding: 1px;
	
	background: transparent url('../images/icons/exclamation-red.png') no-repeat top left;
	padding-left: 20px;
	padding-top: 3px;
}


.ks-form-module label, .ks-form-module h6 { display: block; font-weight: bold; margin-top: 1.083em; color: #000; line-height: 1.2em; }

.ks-form-module label abbr { vertical-align: top;}

.ks-form-module fieldset { margin-top: 1.083em; padding: 0; }
.ks-form-module fieldset label { font-weight: normal; color: #000; }
.ks-form-module legend { font-weight: bold; color: #000; line-height: 1.2em; }


.ks-form-module label span a { font-weight: bold; }

label.ks-form-module-elements-top-margin, h6.ks-form-module-elements-top-margin, fieldset.ks-form-module-elements-top-margin  { margin-top: 0; } /* Clears the top margin we just put for elements that need it removed */

/*** Basic Form Styling ***/



.ks-form-module-elements input[type="text"] { width: 120px; margin-top: .15em; }
.ks-form-module-elements input[type="checkbox"] + label { display: inline; white-space: nowrap; margin-top: .15em; } /* for label fields that follow a checkbox */
.ks-form-module-elements input[type="radio"] + label { display: inline; white-space: nowrap; font-weight: normal; margin-top: .15em; } /* for label fields that follow a radio */
.ks-form-module-elements select, .ks-form-module-elements textarea { margin-top: .15em;  }

/* Form stuff inside of a fieldset grouping */
.ks-form-module-elements fieldset input[type="checkbox"], .ks-form-module-elements fieldset input[type="radio"] { margin: 0 3px 0 0;}

.ks-form-module-elements-required {
	color: red;
}




/*** Forms: Misc ***/

.ks-form-required { color:red; font-size:14px; }

.ks-form-show-advanced {
	background: transparent url('../images/right_arrow.png') no-repeat left center;
	padding-left: 16px; 
}

.ks-form-hide-advanced {
	background: transparent url('../images/down_arrow.png') no-repeat left center;
	padding-left: 16px; 
}


/*** Forms: Button Styling ***/

.ks-form-button-container { 
	
	margin-bottom: 10px;
}

a.ks-form-button-large, span.ks-form-button-large {
	text-decoration:none;
	background: #f3f3f3 url('../images/icons/plus_13px.png') no-repeat 6px center;
	padding: 5px 8px 3px 22px;
	border: solid 1px #d5d5d5;
	line-height: 23px;
}

a.ks-form-button-small, span.ks-form-button-small {
	text-decoration:none;
	font-size: .85em;
	text-decoration:none;
	background: #f3f3f3 url('../images/icons/plus_13px.png') no-repeat 6px center;
	padding: 5px 8px 3px 22px;
	border: solid 1px #d5d5d5;
	line-height: 21px;
}

a:hover.ks-form-button-large, a:hover.ks-form-button-small {
	text-decoration: underline;
}

span.disabled { background: #f3f3f3 url('../images/icons/plus_gray_13px.png') no-repeat 6px center; color: #888; }



/*** Forms: Error, Validation, and Highlighting ***/


.error { background-color: #ffe0e9; padding: 5px; }
.error .ks-form-bordered-header { background-color: #f5d6df; }

.invalid label, .invalid h6, .invalid legend { color: red; }

/* .invalid input[type="text"], .invalid select, .invalid textarea { border-color: red; }
.invalid .ks-form-module-elements-inputs { border-color: red; } */


.highlighted { background-color: #fffdd4; }
.highlighted .ks-form-bordered-header { background-color: #f2f0c9; }

