/*** Page: Main Tabs ***/

.ks-page-navigation { 
	background-color: #eaeaea;  
	height:1%;
	padding: 0 20px;
}


.ks-page-tabs-left {
	float:left;
	height:1%;
	line-height:34px;
	margin:0;
}

.ks-page-tabs-left li {
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 3px 0 0;
}

.ks-page-tabs-left li a {
	font-size: 14px;
	text-decoration: none;
	color: #111;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #e0e0e0;
}

.ks-page-tabs-left li a:hover { 
	color: #000;
	text-decoration: underline; 
	background-color: #fefefe;
	
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
} 

.ks-page-tabs-left li.active-tab a  { 
	color: #000; 
	text-decoration: none; 
	font-weight: bold;
	background-color: #fff;
	
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}

.ks-page-tabs-right {
	float:right;
	height:1%;
	line-height:34px;
	margin:0;
}


.ks-page-tabs-right li {
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 0 3px;
}

.ks-page-tabs-right li a {
	font-size: 14px;
	text-decoration: none;
	color: #111;
	display: block;
	padding-left: 27px;
	padding-right: 10px;
	background-color: #e0e0e0;
	
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}

.ks-page-tabs-right li a:hover { 
	color: #000;
	text-decoration: underline; 
	background-color: #fefefe;
	
} 

.ks-page-tabs-right li.active-tab a  { 
	color: #000; 
	text-decoration: none; 
	font-weight: bold;
	background-color: #fff;
}

.ks-page-tabs-right li a.tab-comments {
	background-color: #eaeaea;
}

/*** Tab Icons ***/

.tab-documents { background: #e0e0e0 url('../images/icons/documents-stack.png') no-repeat 7px center; }
.tab-analysis { background: #e0e0e0 url('../images/icons/flask.png') no-repeat 7px center; }
.tab-people { background: #e0e0e0 url('../images/icons/user-white.png') no-repeat 7px center; }
.tab-comments { background: #eaeaea url('../images/icons/balloon.png') no-repeat 7px center; }

/*** Page: Sub Navigation ***/

.ks-page-sub-navigation-container {
	margin: 0 20px;
	height: 1%;
}

.ks-page-sub-navigation {
	border-bottom: solid 1px #ccc; 
	padding: 15px 0;
}

.ks-page-sub-navigation-menu {
	float:left; 
	margin-right: 35px; 
	color: #666;
}

.ks-page-sub-navigation-menu p {
	font-size: 0.916em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 3px 0;
	white-space: nowrap;
	overflow: hidden;
	color: #797979;
	
}

.ks-page-sub-navigation-menu ul {
	margin: 0;
}

.ks-page-sub-navigation-menu li {
	list-style: none;
	line-height: 1.3em;
}

