/* used by ks-enroll-ksink */

.ks-uif-imageButton {
    background: inherit;
    border: none;
    width: 2em;
    /*background-image: url(images/button.png);*/
}

.uif-horizontal-comboBox {
    background: inherit;
    display: inline-block;
    border: none;
}

.uif-comboBox-button {
    position: absolute;
    left: 211px;
    top: 90px;
    marging-top: 18px;
    float: left;
    width: 23px;
    height: 23px;
}

.uif-filter-textBox {
    position: absolute;
    float: left;
}

.uif-dropDown-comboBox {
    position: absolute;
    left: 100px;
}

.uif-target-comboBox {
    display: block;
    position: relative;
    top: 20px;
    /*border: 1px solid;*/
}

.uif-dropDown-control-comboBox {
    width: 219px;
    margin: 0;
}

#ul_id_temp {
    border: 1px solid;
    width: 215px;
}

ul#ul_id_temp li:hover
{
    color: #ffff00;
    background-color: #003366;
}

/* styles for ksKitchensinkFooterLinks.ftl and KitchenSinkFooterLinkSection.java */
.uif-ks-kitchensink-footerLinkSection { margin-top:1.5em; }
.uif-ks-kitchensink-footerLinkGroup { margin-top:0.75em; }
.uif-ks-kitchensink-footerLinkGroup-label { font-weight:bold; }
/* .uif-ks-kitchensink-footerLinkGroup-link { } */
.uif-ks-kitchensink-footerLinkGroup-linkDelimiterStart { margin-right:0.25em; }
.uif-ks-kitchensink-footerLinkGroup-linkDelimiterMiddle { margin-left:0.5em; margin-right:0.5em; }
.uif-ks-kitchensink-footerLinkGroup-linkDelimiterEnd { margin-left:0.25em; }

.uif-ks-kitchensink-marginTop { margin-top:10px; }