.KS-RoundedComposite {
	cell-spacing: 0;
}


.KS-RoundedComposite-TopMiddle {
    background: transparent url(images/rounded-panel-topmiddle.gif) repeat-x;
}

.KS-RoundedComposite-Left {
    background: transparent url(images/rounded-panel-left.gif) repeat-y;	    
}

.KS-RoundedComposite-Right {
    background: transparent url(images/rounded-panel-right.gif) repeat-y;
}

.KS-RoundedComposite-BottomMiddle {
    background: transparent url(images/rounded-panel-bottommiddle.gif) repeat-x;
}
.KS-RoundedComposite-Center {
	background: #d5cbcb;
}
