.gwt-Tree {
  background: white;
}

.gwt-Tree .gwt-TreeItem-wrapper {
  margin: 0px 0px 0px 20px;  // Indentation
}

.gwt-Tree .gwt-TreeItem {
  padding: 0px;
  margin: 0px;
  border: 1px solid white;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
}

.gwt-Tree .gwt-TreeItem-hovering {
}

.gwt-Tree .gwt-TreeItem-selected {
  background: #93c2f1 url(images/bg_listgradient.gif) repeat-x;
  border: 1px dotted #888;
}
