<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
   
   
   	<!-- entry point service -->
  
   
  <bean id = "layeringAspects" class="org.kuali.student.enrollment.lpr.service.aspect.ServiceAspectLayering">
    <property name="authImpl" ref="lprServiceauth"/>
  </bean>
      
   <aop:config>
    <aop:aspect id="layeringAspectId" ref="layeringAspects">
     <aop:pointcut id="lprLayeringPointcut" expression="bean(*lprService)"/>
      <aop:around pointcut-ref="lprLayeringPointcut" method="performLayeringCalls"/>
    </aop:aspect>
   </aop:config>
    
    <bean id="lprService" class="org.kuali.student.enrollment.lpr.service.impl.LuiPersonRelationServiceImpl"/>
     <!--  -->
    <!-- advices -->
    <bean id="lprServiceauth"
          class="org.kuali.student.enrollment.lpr.service.impl.LuiPersonRelationServiceAuthorizationImpl"/>
 	
    <bean id="lprValidationBean"
          class="org.kuali.student.enrollment.lpr.service.impl.LuiPersonRelationServiceValidationImpl"/>
    
    <bean id="lprCoreImplBean" 
          class="org.kuali.student.enrollment.lpr.service.impl.LuiPersonRelationServiceMockPersistenceImpl"/>



<!-- 
    <aop:config>
     <aop:aspect id="lprCoreCreateMethod" ref="lprCoreImplBean">
       <aop:around pointcut="execution(* org.kuali.student.enrollment.lpr.service.impl.LuiPersonRelationServiceImpl.create*(..))"
                  method="createBulkRelationshipsForPerson"/>
      </aop:aspect>
    </aop:config>
 
   <aop:config>
    <aop:aspect id="securityAspect" ref="lprAuthorizationBean">
     <aop:pointcut id="lprCreateAuthPointcut" expression="bean(*lprService)"/>
      <aop:around pointcut-ref="lprCreateAuthPointcut" method="createBulkRelationshipsForPersonAuthorization"/>
    </aop:aspect>
    
    <aop:aspect id="validationAspect" ref="lprValidationBean">
     <aop:pointcut id="lprCreateValidatePointcut" expression="bean(*lprService)"/>
     <aop:around pointcut-ref="lprCreateValidatePointcut" method="createBulkRelationshipsForPersonValidation" />
  	</aop:aspect>
   </aop:config>
    -->
</beans>