.Course-Home-Menu-Label{
	font-weight: bold;
	font-size: 10pt;
	color: black;
	margin-left:10px;
	margin-left:5px;
}
.Course-Home-Menu-Label-Selected{
	color: white;
}

.Course-Home-Menu-Item-Hover{
	cursor: pointer;
}

.Course-Home-Menu-Panel{
	width: 145px;
}

.Course-Home-Content-Panel{
	width: 750px;
	height: 100%;
}

.Course-Home-Main-Panel{
	width: 555px;
	height: 320px;
	border: 1px solid #808080;
}

.Home-Description-Label{
	font-size: 8pt;
	width: 200px;
}

.Home-Standard-Button{
	color: black;
	font-size:10pt;
	width:250px;
}

.Home-Button-Row{
	height: 50px;
	width: 100%;
}

.Content-Margin{
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.Home-Horizontal-Break{
	width: 100%;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 20px;
}

.Home-Small-Hyperlink{
	font-size: 8pt;
}

.Home-Category-Label{
	font-weight: bold;
}

.Home-Search-Textbox{
	width: 250px;
}

.Home-Blue-Button{
	color: white;
	background: url("images/Home-selected-button.jpg") repeat-x;
	font-weight: bold;
}

.KS-ReqMgr-Heading{
	margin-top: 35px;
	margin-bottom: 20px;
	color: black;
	font-weight: bold;
	/*text-decoration: underline;*/
	font-size:14pt;
	width: 100%;
}

.KS-ReqMgr-SubHeading{
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
	font-weight: bold;
	font-size:11pt;
	width: 100%;
}

.KS-ReqMgr-Field-Labels{
	margin-right: 10px;
	margin-bottom: 10px;
	color: black;
	font-weight: bold;
	font-size:11pt;
	text-align: right;
	width: 100;
}

.KS-ReqMgr-BlockHeading{
	margin-top: 20px;
	margin-bottom: 10px;
	color: black;
	font-weight: bold;
	font-size:11pt;
	width: 100%;
}

.KS-ReqMgr-Label{
	/*&margin-right: 30px;*/
	color: black;
	font-weight: bold;
	font-size:11pt;
	width: 100%;
}

.KS-ReqMgr-Rule-Types{
	background: #FFFFCC;
	color: black;
	font-weight: bold;
	font-size:11pt;
	width: 100%;
}

.KS-RuleTable-UpArrow{
	background: url("images/B_up_small.png") no-repeat;
	height: 25px;
	width: 25px;
	border-width: 0px;
}

.KS-RuleTable-DownArrow{
	background: url("images/B_down_small.png") no-repeat;
	height: 25px;
	width: 25px;
	border-width: 0px;
}

.KS-RuleEditor-SubHeading{
	/* margin-top: 10px;
	margin-bottom: 10px; */
	margin-left: 40px;
	color: black;
	font-weight: bold;
	font-size:11pt;
	width: 100%;
}

.KS-ReqMgr-NoRuleText{
	color: gray;
	font-style: italic;	
	font-size:10pt;
	width: 100%;
}

.KS-ReqMgr-Note{
	color: gray;
	font-size:10pt;
	width: 100%;
	margin-left: 20px;
}

.KS-RuleEditor-ExampleText1{
	/*margin-bottom: 50px;
	margin-top: 10px; */
	color: gray;
	font-size:10pt;
}

.KS-RuleEditor-ExampleText2{
	/* margin-bottom: 50px;
	margin-top: 10px; */
	color: gray;
	font-style: italic;	
	font-size:10pt;
	float: left;		
	width: 100%;	
}

.KS-RuleEditor-LabelPanel{
	margin-left: 30px;
	margin-right: 60px;
	color: gray;
	font-size:10pt;
}

.KS-RuleEditor-SimplePanel-ReqCompTypes{
	margin-top: 40px;
}

.KS-Rules-Standard-Button{
	margin-top: 20px;
	color: white;
	background: url("images/Home-selected-button.jpg") repeat-x;	
	font-size:10pt;
	width:160px;
	height: 30px;
}

.KS-Rules-Tight-Button{
	margin-top: 20px;
	color: white;
	background: url("images/Home-selected-button.jpg") repeat-x;	
	font-size:10pt;
}

.KS-Rules-Tight-Grey-Button{
	margin-top: 20px;
	font-size:10pt;
}

.KS-Rules-Link{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 8pt;
	text-decoration: underline;	
	cursor: pointer;
}

.KS-Rules-Search-Link{
	font-size: 8pt;
	color: #0033CC;
	text-decoration: underline;	
	cursor: pointer;
}

.KS-Rules-Search-Link-Disabled{
	font-size: 8pt;
	color: grey;
	text-decoration: underline;	
}

.KS-Rules-Choices-Disabled-TextField{
	background-color: #E0E0E0;
}

.KS-Rules-Choices-Link{
	font-size: 8pt;
	text-decoration: underline;	
	cursor: pointer;
}

.KS-Rules-URL-Link{
	margin-left: 20px;
	font-size: 8pt;
	color: #0033CC;
	text-decoration: underline;	
	cursor: pointer;
}

.KS-Rules-Link-Right{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 8pt;
	text-decoration: underline;	
	cursor: pointer;
	text-align: center	
}

.KS-Textbox-Fix {
	/* border:1px solid #4583D5; */
	margin-left: 20x;
	margin-right: 10x;
}

.KS-Rules-BoldText{
	font-weight: bold;
}

.KS-Rules-FullWidth{
	width: 100%;
}

.KS-Rules-ReqCompEdit-Width{
	width: 450px;
}

.KS-ReqCompEditor-BottomButtons{
	/*width: 100%;*/
	margin-top: 40px;
}

.KS-Rules-FlexPanelFix{
	float: left;
}

.KS-Dropdown-Focus{  
    background-color: #ECF2FA;
}  

.KS-ReqCompEditor-EditFirstColumn{
	width: 50px;
}

.KS-Rules-SearchPanel{
	width: 450px;
	height: 300px;
}

.KS-Rules-Table{
	padding: 20px;
	
}

.KS-Rules-Toggle-Label{
	background: #003399;
	color: white;
	height: 20;
	width: 30;
	text-align: center;
}

.KS-Rules-Toggle-Button{
	height: 20;
	width: 30;
}

.KS-Radio-Dropdown{
	/*margin: 2px;*/
	font-size: 80%;
	font-weight: normal;
	width: 150px;
}
.KS-Radio-Focus{
	color: #9B251C;
}

.KS-Radio-Selected{
	color: black;
}

.KS-ReqComp-Selected{
	background-color: #FFFF99;
	/*border: 2px #d1ec4c outset;*/
	padding: 1px 4px;
	color: black;
	text-decoration: none;
	/* font: bold 90% "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif; */
}

.KS-ReqComp-DeSelected{
	background-color: #FFFFFF;
	/*border: 2px #d1ec4c outset;*/
	padding: 1px 4px;
	color: black;
	text-decoration: none;
	/* font: bold 90% "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif; */
}

.KS-ReqComp-RaisedButtonText-visited{
	color: black;
}

.KS-ReqComp-RaisedButtonText-hover{
	border-style: inset;
	background-color: #e3f48e;
	padding: 2px 3px 0 5px; /*shift text 1px to the right and down*/
}

.KS-ReqComp-RaisedButtonText-active{
	color: black;
}

.KS-RichText-Normal{
	/*TODO declare own style if overriding default, don't override default
	width: 300px;
	height: 90px;*/
}

.KS-Rules-Rule-Views{
	width: 750px;
	height: 80px;
}

.KS-Rules-Table{
	padding: 0px;
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: black black black black;
	border-collapse: collapse;	
}

.KS-Rules-Table-Cell{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 7pt;	
}

.KS-Divider{
	width: 100%;
	margin-left: 0px;
	margin-right: 20px;
}

