<div class="kscr-adding-header">
    <h3>Adding [FOO CLASS] to cart</h3>

    <span>[FOO CLASS TITLE]</span>
</div>

<div class="kscr-AdditionalOptions">
    <div class="kscr-AdditionalOptions-header">
        <h3>Additional Options</h3>
    </div>

    <div class="kscr-AdditionalOptions-content">
        <div>
            <label for="credits">Credits</label>
            <select id="credits">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="4">4</option>
            </select>
        </div>
        <div>
            <label for="grading">Grading</label>
            <select id="grading">
                <option value="Letter">Letter</option>
                <option value="Pass/Fail">Pass/Fail</option>
                <option value="Audit">Audit</option>
            </select>
        </div>
        <div class="kscr-AdditionalOptions-buttons">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
            <a>cancel</a>
        </div>
    </div>
</div>