<div><h3>Adding [FOO CLASS] to cart</h3>

    <p>[FOO CLASS TITLE]</p></div>
<div>
    <h3>Additional Options</h3>

    <p>Credits <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
    </select></p>
    <p>Grading <select>
        <option value="Letter">Letter</option>
        <option value="Pass/Fail">Pass/Fail</option>
        <option value="Audit">Audit</option>
    </select></p>
    <button type="submit">Add to Cart</button>
    <a>cancel</a>
</div>