<!--My Cart Header Section with Register button-->
<div class="kscr-cart-header">
  <h1 class="kscr-cart-header-title"><strong>My Cart</strong> <span id="course_count">({{cart.items.length}} items)</span> </h1>

    <div>
        <button id="register" class="btn btn-primary pull-right ks-Register-button" type="submit">Register</button>
    </div>
</div>
<!--My Cart Input Boxes and Add to Cart Button -->
<div class="kscr-cart">
    <form novalidate name="form" class="form-group form-inline" ng-submit="add();">
        <fieldset>

            <div class="has-error" ng-show="error.length > 1"><span class="help-block">{{ error }}</span></div>

            <div class="row-fluid">

                <label class="control-label" for="courseCode" placeholder="MATH100">Course Code</label>
                <input id="courseCode" type="text" ng-model="courseCode" class="input-small"/>

                <label class="control-label" for="regCode">Registration Group Code</label>
                <input id="regCode" type="text" ng-model="regCode" class="input-small"/>

                <label class="control-label" for="submit"></label>
                <button id="submit" name="submit" class="btn">Add to Cart</button>

            </div>
        </fieldset>
    </form>
</div>

<!--Section header with course name, number, and remove icon -->
<div class="kscr-cart-course" ng-repeat="cartItem in cart.items">
    <div class="kscr-course-header">
        <div id="course_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}"><strong>{{cartItem.courseCode}} ({{cartItem.regGroupCode}})</strong>
            <span class="remove">
                <a id="remove_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" class="glyphicon glyphicon-remove ks-mobile-remove-icon" ng-click="delete($index)"></a>
            </span>
        </div>
        <p id="title_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">{{cartItem.courseTitle}}</p>
    </div>
    <div class="kscr-course-info-edit">
        <div id="course_info_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" class="kscr-course-info" ng-hide="cartItem.editing">
            <ng-pluralize count="cartItem.credits"
                          when="{'1'    : '{} credit',
                                 'other': '{} credits'}">
            </ng-pluralize>, {{cartItem.gradingOptions[cartItem.grading]}}
            <a id="edit_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-click="editItem(cartItem)"
               ng-show="cartItem.creditOptions.length > 1 || cartItem.gradingOptionCount > 1">Change</a>
        </div>
    <!-- Cart Change Section: Credits, Grading, and Save -->
        <div class="kscr-course-info-edit" ng-show="cartItem.editing">
            <form ng-submit="submit(cartItem, newCredits, newGrading)">
                <div>
                    <label for="credits_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">Credits</label>
                    <select id="credits_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-model="newCredits"
                            ng-options="creditOption for creditOption in cartItem.creditOptions"/>
                </div>
                <div>
                    <label for="grading_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}">Grading</label>
                    <select id="grading_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-model="newGrading"
                            ng-options="key as value for (key, value) in cartItem.gradingOptions"/>
                </div>
                <button id="save_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" class="btn" type="submit">Save</button>
                <a id="cancel_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}" ng-click="cancel(cartItem)">Cancel</a>
           </form>
        </div>
    <!--Days, Time, and Building -->
        <div ng-repeat="item in cartItem.schedule">
            <div id="schedule_{{cartItem.courseCode}}_{{cartItem.regGroupCode}}_{{$index}}" >{{item.activityOfferingType}}
                <div ng-repeat='scheduleItem in item.activityOfferingLocationTime'>{{scheduleItem.time.days}} {{scheduleItem.time.startTime}} - {{scheduleItem.time.endTime}}
                    {{scheduleItem.location.building}} {{scheduleItem.location.room}}
                 </div>
            </div>
        </div>
    </div>
</div>