/*.KS-Section-Title {
	  font-family: verdana, courier, monospace;
}

.KS-H1-Section-Title {
	padding-top: 15px;
	
}

.KS-H2-Section-Title {
	display: inline-block;
	padding-top: 10px;
}

.KS-H3-Section-Title {
	padding-top: 5px;
}

.KS-H4-Section-Title {
	padding-top: 2px;
}

.KS-H5-Section-Title {
}

.KS-H6-Section-Title {
}*/
