.summaryTable{
    width: 100%;
    max-width: 800px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    border-collapse: collapse;
}

.rowTitleColunm{
	width:180px;
}
.cell1Colunm{
}
.cell2Colunm{
}

.cell1{
	padding-bottom: 3px;
    padding-top: 3px;
}

.cell2{
	padding-bottom: 3px;
    padding-top: 3px;
}
    
.sectionTitleRow{
    border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	background-color: #f6f6f6;
	padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    border-left: 1px solid #999;
}
.sectionTitle{
  	font-size: 18px;
  	font-weight: bold;
	
}
.sectionEditLink{
  	font-size: 14px;
  	font-weight: bold;
	margin-left:30px;
	margin-bottom:0px;
    padding-bottom:0px;	
	text-decoration: none;
}
.rowTitle{
  	font-size: 1em;
  	font-weight: bold;
  	padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    border-left: 1px solid #999;
}
.columnTitle{
  	background-color:gainsboro;
	border-left:1px solid #999;
	border-top:1px solid #999;
	font-size:14px;
	font-weight:bold;
	padding:5px;
}
.rowHighlight{
    background-color: #FFE0E9;
}
.cellHighlight{
    background-color: #FFE0E9;
}

.rowDiffHighlight{
    background-color: #FFF8C6;
}

.summary-table-multiplicity-level-1{
	font-size: 1.2em;
}

.summary-table-multiplicity-level-2{
	font-size: 1.1em;
}

.summaryTable-lo-cell ul{
	margin: 0;
	padding-left: 1.1em;
	list-style: inherit outside none;
}

.firstRowInUnnamedBlock{
	border-top: 1px solid #999;
}