/**** Add to Cart Section ****/

.kscr-addToCart {
    background-color: @whiteBackground;
    border: 1px @cardBorderColor solid;
    border-bottom-width: 2px;
    font-family: @secondaryFontFamily;
    .font-size(14);
    margin: 1rem 0.5rem;
    padding: 0 1rem 0.5rem 0;
    position: relative;
}

.kscr-addToCart-heading{
    cursor: pointer;
    padding: 0.5rem 0 0.5rem 2.5rem;
}

.kscr-addToCart-header{
    color: @secondaryTextColor;
}

.kscr-addToCart-contents {
    padding-left: 2.5rem;
}

.kscr-addToCart-label{
    color: @secondaryTextColor;
    display:block;
    font-family: @secondaryFontFamily;
    .font-size(13);
    font-weight: normal;
}

.kscr-addToCart-input{
    color: @secondaryTextColor;
    font-family: @secondaryFontFamily;
    .font-size(13);
    font-weight: normal;
    text-transform: uppercase;
}

.kscr-addToCart-button{
    margin-right: 1rem;
}

.kscr-addToCart-button button{
    width: 9.2rem;
}

/* Styles for large-size screens */
@media screen and (min-width: @largeFormatMin) {
  .kscr-Responsive-sidebar {
    .kscr-Responsive-cart {
      .kscr-addToCart {
        border: none;
        margin: 0.1rem 0 0.1rem 0;
      }
    }
  }
}
