/****Button Styles *****/
@buttonBackgroundColor:#F8F8F8;
@buttonBorderColor:#BCBCBC;
@buttonTextColor:#333;

@buttonPrimaryBackgroundColor:#3366FF;
@buttonPrimaryBorderColor:#3333CC;
@buttonPrimaryTextColor:#F2F2F2;
@buttonRadius:4px;

@defaultRadius:30px;

.kscr-Button{
    background-color:@buttonBackgroundColor;
    border:1px solid @buttonBorderColor;
    color: @buttonTextColor;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    .Rounded(@buttonRadius);
    padding: 5px 10px;
}

.kscr-Button--primary{
    background-color:@buttonPrimaryBackgroundColor;
    border:1px solid @buttonPrimaryBorderColor;
    color: @buttonPrimaryTextColor;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    .Rounded(@buttonRadius);
    padding: 5px 10px;
}