/******These are styles for use in the card section ******/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.kscr-Card{
    padding: 0 0.5em 0 0.5em;
    a {text-decoration:none;}
}

.kscr-Card-title{
    color: @cardTextColor; //#666666;
    font-weight: bold;
    padding-left: 1.5em;
}

.kscr-Card-text{
    color: @textDarkGray;
    padding-left: 1.5em;
    padding-top: 0.3em;
}

.kscr-Card-detailsText{
    border-bottom:@horizontalLineBorder;
    border-top:@horizontalLineBorder;
    color: @textDarkGray;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding-bottom:10px;
    padding-top:10px;

    -webkit-transition:all linear 0.25s;
    transition:all linear 0.25s;
    opacity:1;
}

.kscr-Card-detailsText.ng-hide-add,
.kscr-Card-detailsText.ng-hide-remove {
    display:block!important;
}

.kscr-Card-detailsText.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}


.kscr-Card-courseTimes{
   display: inline-flex;
   padding-left: 1em;
}

.kscr-Card-supportText{
    color: @cardTextColor;
    font-weight: normal;
    float: right;
}

.kscr-Card-buttons{
   margin-top:20px;
   padding: 0.5em 0em;
   margin-right: -0.5em;
   float: right;
}

.kscr-Card-icon{
   position: absolute;
   padding-top: 0.4em;
}


.kscr-Card-badge{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color: #666666;
    color: @bodyColor;
    font-size: 11px;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}
.kscr-horizontalRule{
    border: 1px solid #F2F2F2;
}

/**** Override of accordion panel for card section ****/
.panel-default > .panel-heading {
    background-color: @cardBackgroundColor;
    border-color: @cardBorderColor;
    color: @cardTextColor;
    cursor: pointer;
    cursor: hand;
    padding: 10px 5px;
}

.panel {
    background-color: @cardBackgroundColor;

}

.panel-group .panel-heading + .panel-collapse .panel-body{
    border-top:none;
}

.panel-title {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.panel-group  .panel{
    margin-bottom: 10px;
    border-width: 1px 1px 2px 1px;
}
/**** End ****/