.kscr-cartResult-icon {
    background-repeat: no-repeat;
    background-position: @iconPosition;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}

.kscr-cartResult-content {
    border-color: @cardBorderColor;
}

.kscr-cartResult-heading {
    padding-right: 15px;
}

.kscr-cartResult-remove a {
    color: @removeIconColor;
    font-size: 1.2em;
}

