/*** Course Calendar ***/

// Main calendar container
.kscr-CourseCalendar {
    .kscr-Card-mixin();
    margin: 1rem 0.5rem 2rem;
}


// Calendar orientation helper widgets
.kscr-CourseCalendar-orientation {
    right: -99rem; // Position outside of normal view
    position: absolute;
    top: -999rem;

    &--horizontal,
    &--vertical {
        display: none;
    }

    &--horizontal {
        display: none;
    }
    &--vertical {
        display: block;
    }
}


// Header/Top row of course calendar (including the legend)
.kscr-CourseCalendar-header {

}

.kscr-CourseCalendar-legend {
    // Legend For course types (registered, waitlisted, in cart)
    .kscr-CourseCalendar-courseBlock {
        cursor: pointer;
        float: left;
        font-weight: bold;
        margin-right: 0.5rem;
        padding-left: 0.3rem;
        text-transform: uppercase;

        &-label {
            padding-left: 0;
        }

        .courseBlock(#333);

        &--deselected {
            .courseBlock(#666);
        }
    }
}


// Content area for calendar view
.kscr-CourseCalendar-calendar {
    position: relative;

    & > .util-sticky-placeholder {
        display: none;
    }
}

// Time labels
.kscr-CourseCalendar-times {
    display: block;
    margin: 1rem 0 1rem 3rem;
}

.kscr-CourseCalendar-time {
    text-align: left;

    &-label {
        font-size: 1.3rem;
    }

    &-label-period {
        font-size: 80%;
        text-transform: lowercase;
    }
}


// Day Containers
.kscr-CourseCalendar-days {
    flex-flow: column nowrap;
}

// Single day lane container
.kscr-CourseCalendar-day {
    margin-top: 1px;
    &:first-child {
        margin-top: 0;
    }

    &:nth-child(odd) &-content-bg {
        background-color: #F2F2F2;
    }
    &:nth-child(even) &-content-bg {
        background-color: #D7D7D7;
    }
}

// Background striping elements
.kscr-CourseCalendar-day-content {
    height: 100%;
    padding: 0 1px 0 0;
    position: relative;

    &-bgs {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &-bg {
        height: 100%;
        border-left: 1px solid @whiteBackground;

        &:first-child {
            border-left: none;
        }
    }
}


// Course lane container
.kscr-CourseCalendar-day-lane-wrap {
}

// Main lane element
.kscr-CourseCalendar-day-lane {
    position: relative;

    .kscr-CourseCalendar-courseBlock-wrap {
        right: -99rem; // Initialize offset to the right. This prevents them popping into place while the browser is rendering.
        position: absolute;
        top: 0;
    }
}

.kscr-CourseCalendar-day-label {
    margin-right: 1rem;
    text-align: right;
    width: 2rem;
}









/*** BEGIN Course Block Styles ***/

// Wrapping element that gets the height & width applied through the directive.
// Done this way b/c the border is outside of the defined width which artificially
// inflates the size of the element in relation to the visible schedule.
.kscr-CourseCalendar-courseBlock-wrap {
  .util-transition-fade;
}

// Styled course block element
.kscr-CourseCalendar-courseBlock {
    .Rounded(0.5rem);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1px;
    margin-left: 1px; // Offset to align w/ the bg stripe offset & to give cushion between courses
    overflow: hidden;
    padding: 0.1rem;

    // Course block label
    &-label {
        padding: 0 0.2rem;
    }
}

.generate-courseBlocks(@courseCardColorCount);
.generate-courseBlocks(@n, @i: 1) when (@i =< @n) {
    // Define the course color for this iteration
    .defineCourseColor(@i);

    .kscr-CourseCalendar-courseBlock--@{i} {
        .courseBlock(@courseColor);
    }

    .generate-courseBlocks(@n, (@i + 1));
}


// Course Block Mixin
.courseBlock(@color) {
    &.kscr-CourseCalendar-courseBlock--registered {
        background-color: @color;
        border-color: @color;
    }

    &.kscr-CourseCalendar-courseBlock--waitlisted,
    &.kscr-CourseCalendar-courseBlock--inCart {
        background-color: @whiteBackground;
        border-color: @color;
        color: @color;

        // Course block label
        .kscr-CourseCalendar-courseBlock-label {
            background: @waitlistedBgColor;
            .Rounded(0.3rem);
        }
    }

    &.kscr-CourseCalendar-courseBlock--waitlisted {
        // Horizontal Striping: default & explicitly small calendars:
        &,
        .kscr-CourseCalendar--small .kscr-CourseCalendar-calendar & {
            background-image: repeating-linear-gradient(45deg, @whiteBackground 0rem, @whiteBackground 0.5rem, transparent 0.5rem, transparent 1rem); // white 0-0.5rem, transparent 0.5rem-1rem - repeated
        }

        // Vertical Striping: all toggles (legend)
        &.kscr-CourseCalendar-toggle {
            background-image: repeating-linear-gradient(45deg, @whiteBackground 0rem, @whiteBackground 0.5rem, transparent 0.5rem, transparent 1rem); // white 0-0.5rem, transparent 0.5rem-1rem - repeated
           i {
            background: @waitlistedBgColor;
            box-shadow: 0px 0px 0px 2px @waitlistedBgColor;
          }
        }

        // Vertical Striping: large format grids only
        @media screen and (min-width: @largeFormatMin) {
            background-image: repeating-linear-gradient(45deg, @whiteBackground 0rem, @whiteBackground 0.5rem, transparent 0.5rem, transparent 1rem); // white 0-0.5rem, transparent 0.5rem-1rem - repeated
        }
    }
}


// Course Block Mixin when Lightness of color is less than 50% (dark background)
.courseBlock(@color) when (lightness(@color) < 50%) {
    &.kscr-CourseCalendar-courseBlock--registered {
        color: @whiteBackground; // Set the color to white so it sits well off of the dark background
    }
    &.kscr-CourseCalendar-courseBlock--waitlisted {
        background-color: lighten(@color, 40%);
    }
}
// Course Block Mixin when Lightness of color is between 50% and 70% (light background)
.courseBlock(@color) when (50% =< lightness(@color)) and (lightness(@color) < 70%) {
    &.kscr-CourseCalendar-courseBlock--registered {
        color: darken(@color, 30%); // Set the text color to a darker shade of the color
    }
    &.kscr-CourseCalendar-courseBlock--waitlisted {
        background-color: lighten(@color, 30%);
    }
}
// Course Block Mixin when Lightness of color is greater than 70% (very light background)
.courseBlock(@color) when (70% =< lightness(@color)) {
    &.kscr-CourseCalendar-courseBlock--registered {
        color: darken(@color, 50%); // Set the text color to a darker shade of the color
    }
    &.kscr-CourseCalendar-courseBlock--waitlisted {
        background-color: lighten(@color, 20%);
    }
}

/*** END Course Block Styles ***/


.kscr-CourseCalendar-courseDetails-wrap {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;

    &.util-sticky--stuck {
        padding: 0 0.5rem;
    }
}

// Selected Course Details Card
.kscr-CourseCalendar-courseDetails {
    .kscr-Card-mixin();

    &:not(.util-sticky--stuck .kscr-CourseCalendar-courseDetails) {
        border-left: none;
        border-right: none;
    }

    opacity: 0.85;
    padding-left: 3rem;
    position: relative;
    z-index: 210;

    // Override styling for sidebar calendars
    .kscr-Course-legendIndicator {
        bottom: 0;
        top: 0;
    }

    // Override styling for sidebar calendars
    .kscr-Card-courseTimes {
        display: inline-flex;
    }
}





/*** BEGIN Small / Mobile Styles ***/
.kscr-CourseCalendar--small {

    background: none;
    border: none;
    padding: 0;

    // Show the vertical layout helper element when in small format
    .kscr-CourseCalendar-orientation--vertical {
        display: block;
    }

    .kscr-CourseCalendar-calendar {
        .util-Grid;
        .kscr-Card-mixin();

        flex-flow: row nowrap;
        height: 400px;
        margin-top: 0.5rem;
        margin: 0.5rem 0 1rem;
    }
    .kscr-CourseCalendar-times {
        flex-flow: column nowrap;
        margin: 1.5rem 0.5rem 0 0;
    }
    .kscr-CourseCalendar-days {
        flex-flow: row nowrap;
        .util-Grid-cell;
    }
    .kscr-CourseCalendar-day {
        flex-flow: column nowrap;
        margin-top: 0;

        &-label {
            height: 2.5rem;
            margin-right: 0;
            text-align: center;
            width: auto;
        }
        &-lane-wrap {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &-lane {
            .util-Grid-cell;

            height: 100% !important;
            &:first-child {
                margin-left: 0;
            }
        }
        &-content-bgs {
            flex-flow: column nowrap;
        }
        &-content-bg {
            border-left: none;
            border-top: 1px solid @whiteBackground;
            &:first-child {
                border-top: none;
            }
        }
    }
    .kscr-CourseCalendar-courseBlock-wrap {
        // Don't override the positioning of conflicting courses
        &:not(.kscr-CourseCalendar-courseBlock-wrap--conflicting) {
            left: 0 !important;
            width: 100% !important;
        }

        // Conflicting state
        &--conflicting {
        }

        // Selected state
        &--selected {
            z-index: 200;

            .kscr-CourseCalendar-courseBlock {
                .util-Text-highlighter(0, 0, 2px);
                .util-transitions-browserHelper(0.2s);
            }
        }
    }
    .kscr-CourseCalendar-courseBlock {
        height: 100%;

        // Hide the 'normal' label in favor of the truncated version in small-format
        &-label--normal {
            display: none;
        }
    }
}

// Apply the --small styles to all calendars in mobile
@media screen and (max-width: @smallFormatMax) {
    .kscr-CourseCalendar {
        .kscr-CourseCalendar--small;
    }
}
/*** END Small / Mobile Styles ***/


/*** BEGIN Large Format Styles ***/
@media screen and (min-width: @largeFormatMin) {
    .kscr-CourseCalendar--large {
        // Show the horizontal layout helper element when in small format
        .kscr-CourseCalendar-orientation--horizontal {
            display: block;
        }

        .kscr-CourseCalendar-day {
            align-items: center; // Center all items in the layout (day label & content)
        }

        .kscr-CourseCalendar-courseBlock-wrap {
            height: auto !important; // Important to override the values getting set in the directive for large-format.

            // Don't override the positioning of conflicting courses
            &:not(.kscr-CourseCalendar-courseBlock-wrap--conflicting) {
                top: 0 !important;
            }
        }

        .kscr-CourseCalendar-courseBlock {
            .box-shadow(none);
            cursor: default;

            // Hide the 'truncated' label in favor of the normal version in small-format
            &-label--truncated {
                display: none;
            }
        }

        // Disable the selection behavior when in large-format layout
        .kscr-CourseCalendar-calendar {
            .util-Mask {
                display: none;
            }
            .kscr-CourseCalendar-courseDetails-wrap {
                display: none; // Never show the course details for the selected course in the large format
            }
        }
    }

    .kscr-CourseCalendar-courseDetails-wrap.util-sticky--stuck {
        padding: 0;
        position: absolute !important;
    }
}
/*** END Large Format Styles ***/