/******* Drop Course Section  *********/


 .kscr-DropCourse{
     padding: 10px;
 }

.kscr-DropCourse-header{
    background-color: @grayLighter;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-color:#666;
    padding: 0.1em 0.1em 0.1em 0.5em;
}

.kscr-DropCourse-buttons{
    padding-right: 1em;
}