/**** Edit section of card ****/

.kscr-Edit{
   padding: 0 0.5em 0.5em;
   font-family: @secondaryFontFamily;
   font-size: 13px;
   font-weight: normal;
   color: @primaryTextColor;
}

.kscr-Edit-details {
  display:block;
  font-family: @secondaryFontFamily;
  font-size: 13px;
  font-weight: normal;
  color: @primaryTextColor;
  padding-left: 1em;
}