/**** My Cart section ****/

/** mixin for main heading **/
.kscr-Mainheading-styles() {
    color: @primaryTextColor;
    font-family: @primaryFontFamily;
    .font-size(16);
    line-height: 1.2;
}


// Main heading container
.kscr-MainHeading {
    background-color: @sectionColor;
    border: 0;
    padding: 1rem;
    .util-transitions-browserHelper();

    * {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }
}

.kscr-MainHeading.ng-hide-remove {
    .util-transitions-browserHelper();
}

.kscr-MainHeading.ng-hide-add.ng-hide-add-active,
.kscr-MainHeading.ng-hide-remove {
    opacity: 1;
}

.kscr-MainHeading.ng-hide-add,
.kscr-MainHeading.ng-hide-remove.ng-hide-remove-active {
    opacity: 0.8;
}


// Heading icons
.kscr-MainHeading-icon-left,
.kscr-MainHeading-icon-right {
    display: none;
    width: 10%;

    & .glyphicon {
        color: @darkGray;
        .font-size(16);
    }

    // Active icon styles (Should be applied to icon corresponding to current page)
    &.kscr-MainHeading-icon--active .glyphicon {
        // Background shading on icons in small format
        background: @bodyColorDark;
        .box-shadow(0 0 0 5px @bodyColorDark);
        .Rounded(1px);
    }
}
.kscr-MainHeading-icon-left {
    float: left;
}
.kscr-MainHeading-icon-right {
    float: right;
    text-align: right;
}

// Heading text
.kscr-MainHeading-header {
    .kscr-Mainheading-styles();
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 80%;

    &--processing {
        .kscr-Mainheading-styles();
        .spinner-big-icon; // Processing icon mixin
        font-weight: normal;
        padding: 1.8rem 1.8rem 1.8rem 4.5rem;
    }
}

// Heading link icon (>>)
.kscr-MainHeading-link-icon {
    display: none;
    font-size: 80%;
}

.kscr-MainHeading-stickyHeader {
    display: block;
    float: none;
    width: auto;
    text-align: left !important;

    .util-sticky--stuck & {
        // Show only when stuck
        display: block;
    }
}

// Credit count text in headings
.kscr-MainHeading-support {
    color: @secondaryTextColor;
    font-family: @primaryFontFamily;
    .font-size(14);
    font-weight: normal;
    line-height: 1.2;
}


// Main Heading Toggles (buttons)
.kscr-MainHeading-toggles {
    border: 1px solid @bodyColorDark;

    .kscr-MainHeading-toggle {
        border-left: 1px solid @bodyColorDark;
        color: @primaryTextColor;
        cursor: pointer;
        display: block;
        float: left;
        font-family: @secondaryFontFamily;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:first-child {
            border-left: none;
        }

        & > span {
            background: @whiteBackground;
            border: 1px solid @whiteBackground;
            display: block;
            padding: 0.5rem;
        }

        &--selected > span {
            background: @bodyColorDark;
        }
    }
}



@media screen and (max-width: @smallFormatMax) {
    // Cart header credit count
    .kscr-Responsive-cart #credit_count_title_large {
        display: none; // Don't show the large-format credit count element in small-format
    }

    // Main heading icons (cart & schedule)
    .kscr-MainHeading-icon-left,
    .kscr-MainHeading-icon-right {
        // Shown only in small-format
        display: block;
    }

    // Main Cart heading in small format
    .kscr-MainHeading-CartHeading {
        padding: 0 0.5rem;

        // Styles for when stuck
        &.util-sticky--stuck {
            padding: 0;
        }

        & .kscr-MainHeading {
            background-color: @whiteBackground;
            border: 1px @cardBorderColor solid;
            border-bottom-width: 2px;
        }
    }
}


@media screen and (min-width: @largeFormatMin) {
    .kscr-Responsive-cart #credit_count_title {
        display: none; // Don't show the small-format credit count element in large-format
    }

    // Main content area styles
    .kscr-Responsive-content {
        // Main heading container
        .kscr-MainHeading {
            padding: 0 1rem; // No top or bottom padding in large-format, allows sibling elements to sit flush against bottom of heading
        }
    }

    // Sidebar styles
    .kscr-Responsive-sidebar {
        // Main headers
        .kscr-MainHeading {
            padding-bottom: 0.8rem; // Make sure the heading has enough padding in large-format

            .kscr-MainHeading-header {
                float: none;
            }
        }

        // Cart heading-specific styles in large format
        .kscr-MainHeading-CartHeading .kscr-MainHeading {
            // Styles need a bit of tweaking to maintain the alignment of the Cart heading to the Schedule/Waitlist sections
            padding-top: 1rem;

            .kscr-MainHeading-header--processing {
                padding: 1rem 0.8rem 0.8rem 3.5rem;
            }
        }

        // Show icon link text in large-format
        .kscr-MainHeading-link-icon {
            display: inline;
        }
    }
}
