/**** Main content styles ****/

.kscr-Main-container {
    height: 100%;
    min-height: 100%;
    padding-top: @headerHeight;
    position: relative;
}

.kscr-Main-contentContainer,
.kscr-Main-content {
    height: 100%;
    min-height: 100%;
}


.kscr-Main-noAccessContainer {
    margin: 10px auto;
    max-width: @largeFormatMax;
    padding: 0 10px;
}
