/**** My Cart section ****/

.kscr-MainHeading {
    background-color: @whiteBackground; //#FCFCFC;
    padding: 10px;
    border: 1px @cardBorderColor solid;
    border-top: none;
    padding-top: 0px;
}

.kscr-MainHeading-header{
    color: @primaryTextColor; //#333333
    font-family: @primaryFontFamily;
    font-size: 16px;
    font-weight: bold;
    //padding: 0.1em;
}

.kscr-MainHeading-support{
    font-family: @primaryFontFamily !important;
    font-size: 14px !important;
    color: @secondaryTextColor !important; //#666666
    font-weight: normal !important;
    margin: -4px 0 -10px;
}

.kscr-MainHeading-header--processing{
  color: @primaryTextColor; //#333333
  font-family: @primaryFontFamily;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  padding-left:40px;
  background-image: url("../images/validation/spinner_big.gif");
  background-repeat: no-repeat;
  background-position: @iconPosition;
  background-color: inherit;
}

.kscr-MainHeading-button{
    margin-top: 9px;
}

/**mixin for main heading**/
#mainHeadingStyles{
    .kscr-Mainheading-styles{
        color: @primaryTextColor; //#333333
        font-size: 16px;
        font-weight: bold;
    };
}
