/**** soon to be in Menu dropdown ****/

.kscr-Menu-button{
    background-color: black;
    //text-align: right;
    color: #f8f8f8;
    border: 1px solid #797979;
    border-radius: 5px;
    padding:3px; font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.kscr-Menu-container{
    background-color: @whiteBackground; //#FCFCFC;
    max-width: 90%;
    z-index: 160;
    float: right;
    margin: 2px -4px 0 0;
    border: @horizontalLineBorder;
    border-bottom-left-radius: 5px;
   // padding: 5px 5px 10px;

    -webkit-transition: @transition;;
    transition: @transition;
    opacity:1;
        a{
          font-size: 1em;
          color: @primaryTextColor;
        }
        a:hover, a:focus{
           outline: none;
           text-decoration:none;
        }
}

.kscr-Menu-Header{
  background-color: @lightGray;
  margin-top: -1px;
  height:1em;

}


.kscr-Menu-links{
    border-bottom: @horizontalLineBorder;
    margin: 10px;
    padding: 0.5em;
    font-family: @secondaryFontFamily;
    font-size: 13px;
    font-weight: normal;
    color: @secondaryTextColor;
    cursor: pointer;
    cursor: hand;
}

.kscr-Menu-container.ng-hide-add,
.kscr-Menu-container.ng-hide-remove {
    display:block!important;
}

.kscr-Menu-container.ng-hide {
    opacity:0.8;
}


.kscr-Menu-searchTerm {
  color: @primaryTextColor;
  border-bottom: @horizontalLineBorder;
  padding: 0.5em;
}

#searchTerm{
font-size: 12px;
 max-width: 100%;
}