/**** Registered link ****/


.kscr-Registered{
    //border: 1px solid @grayLight;
    margin: 10px;
    padding: 0.2em;
    background-color: @whiteBackground;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-color:#666;
    cursor: pointer;
    cursor: hand;
}