/**** Inputs On Reg Cart ****/


.kscr-RegInput{
    padding-left:10px;
    padding-right:10px;
}
.kscr-RegInput-label{
    font-family: @secondaryFontFamily;
    font-size: 13px;
    font-weight: normal;
    color: @secondaryTextColor;
    display:block;
}
.kscr-RegInput-input{
    font-family: @secondaryFontFamily;
    font-size: 13px;
    font-weight: normal;
    color: @secondaryTextColor;
    text-transform: uppercase;
}