/**** Inputs On Reg Cart ****/


 .kscr-addToCard-box{
     padding-left:10px;
 }
 .kscr-addToCard-label{
     font-family: @secondaryFontFamily;
     font-size: 13px;
     font-weight: normal;
     color: @secondaryTextColor;
     display:block;
 }
 .kscr-addToCard-input{
     font-family: @secondaryFontFamily;
     font-size: 13px;
     font-weight: normal;
     color: @secondaryTextColor;
     text-transform: uppercase;
 }

 .kscr-addToCard-heading{
     color: @primaryTextColor;
     padding-left: 1.5em;
 }

 .kscr-addToCard .panel-body{
    padding-top: 0px;
 }