/**** Register card section in MY Cart ****/

.kscr-register{
    padding: 0 0.5em 0 0.5em;
    a {text-decoration:none;}
}

.kscr-register-header{
    padding-left: 1.5em;
}

.kscr-register-subHeader{
   padding: 0.5em 0.7em 0 0.7em;
}

.kscr-register-courseTimes{
   display: inline-flex;
   padding-left: 1em;
}

.kscr-register-cardText{
  padding-left: 1.5em;

}

.kscr-register-buttons{
   border-top: @horizontalLineBorder;
   padding: 0.5em;
}

.kscr-register-icon{
   position: absolute;
   padding-top: 0.4em;
}

