.kscr-Responsive-maincontent {
  display: flex; /*Uset to display child elements (schedule and cart) side by side in a flexible way*/
}

.kscr-Responsive-scheduleWrapper {
  flex: 1;
}

.kscr-Responsive-schedule {
  flex: 1; /*set so that this takes up all the room left over from cart*/
  display: flex; /*child elements (registered and waitlist) are displayed in a flexible way*/
}

.kscr-Responsive-mycart {
  width: 320px; /*fixed width for cart*/
}

.kscr-Responsive-registered {
  flex: 1; /*set to take up the same percentage as waitlisted (1/2 the size of the container)*/
  display: block; /*show initially*/
}

.kscr-Responsive-waitlisted {
  flex: 1; /*set to take up the same percentage as registered (1/2 the size of the container)*/
}

.kscr-Responsive-waitlisted--inactive{
  display:none; /*when there is no waitlist information, hide the section so that registered section takes up all of the space*/
}

.kscr-Responsive-header {
  max-width: none; /* in responsive mode, the header takes up the entire space*/
}

.kscr-Responsive-navigation {
  display: none; /*Navigation (menu button) is hidden initially*/
}

.kscr-Responsive-logout {
  display: block; /* show the logout button if the menu is hidden */
}

/*Styles for screens smaller than 660px*/
@media screen and (max-width: 860px) {
  .kscr-Responsive-schedule {
    flex-direction: column; /* items appear vertically stacked*/
  }
}

@media screen and (max-width: 660px) {
  .kscr-Responsive-mycart {
    display: none; /*hide this initially*/
    width: 100%; /*set the width to take up the parent container, for when this section is displayed*/
  }

  .kscr-Responsive-mycart--active {
    display: block; /*show this when active*/
  }

  .kscr-Responsive-scheduleWrapper {
    display: none; /*hide this initially*/
  }

  .kscr-Responsive-scheduleWrapper--active {
    display: block; /*show this when active*/
  }

  .kscr-Responsive-navigation {
    display: block; /*show the navigation when the screen gets small enough so that only cart or schedule are displayed at a time*/
  }

  .kscr-Responsive-logout {
    display: none; /* hide the logout button if the menu is present */
  }
}

@media screen and (min-width: 660px) {
    .kscr-Responsive-header {
        & .kscr-Header-logo { // use the larger logo in the expanded mode
            background-image: url('../images/logo_kuali_bak.png');
            padding-left: 115px;
        }

        & .kscr-Header-title,
        & .kscr-Header-separator {
            display: block; /* show the header title & separator in large format only */
        }
    }

  .kscr-Registered {
    display: none;
  }
}
