/**** Alert messages ****/

.util-Alert {
    border: 1px solid;
    border-radius: 2px;
//    padding: 0.5rem 0;
    padding: 10px;
    margin: .5em;
    color: #3B723B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.util-Alert--success {
    background-color: #cce5cc;
    border-color: #99cc99;
    color: #3B723B;
    text-shadow: 0 .5px #fff;
}

.util-Alert--error {
    background-color: #e59999;
    border-color: #cc6666;
    color: #723B3B;
    text-shadow: 0 .5px #fff;
}