/**** Alert messages ****/

.util-Alert {
  border: 1px solid;
  border-radius: 2px;
  margin: 0.5rem;
  padding: 0.5rem 0;
}

.util-Alert--success {
  background-color: #cce5cc;
  border-color: #99cc99;
  color: #004c00;
  text-shadow: 0 .5px #fff;
}

.util-Alert--error {
    background-color: #e59999;
    border-color: #cc6666;
    color: #4c0000;
    text-shadow: 0 .5px #fff;
}