
.util-Text--center{
    text-align:center;
}

.util-Text--left{
    text-align:left;
}

.util-Text--right{
    text-align:right;
}


.util-Text-highlight {
    background-color: @highlightColor;
}

.util-Text-highlight--withPadding(@hPadding, @vPadding) {
    .util-Text-highlight;

    box-shadow: -@hPadding -@vPadding 0 0 @highlightColor,
                -@hPadding @vPadding 0 0 @highlightColor,
                @hPadding -@vPadding 0 0 @highlightColor,
                @hPadding @vPadding 0 0 @highlightColor;
}


@distance: 0;
@angle: 0;
@blur: 0;
@spread: 5px;
@shadowColor: @shadowColor--highlight;

.util-Text-highlighter--inset(@distance, @angle, @blur, @spread, @shadowColor) {

    box-shadow: inset -@distance -@angle -@blur -@spread @shadowColor,
               inset  -@distance @angle -@blur -@spread @shadowColor,
               inset  @distance -@angle @blur @spread @shadowColor,
               inset  @distance @angle @blur @spread @shadowColor;
}

.util-Text-highlighter(@distance, @angle, @blur, @spread, @shadowColor){

    box-shadow: -@distance -@angle -@blur -@spread @shadowColor,
                -@distance @angle -@blur -@spread @shadowColor,
                @distance -@angle @blur @spread @shadowColor,
                @distance @angle @blur @spread @shadowColor;
}