.ks-curriculum-home > .uif-header {
    border-bottom: solid 2px #000;
    margin-bottom: 5px; margin-top:15px;
}

.uif-actionLink-block {
    display:block;
}

.cm-collection-width {
	width: 45em;
}

.ks-cm-page-header {
    border-bottom : thick solid #000000
}


.ks-cm-find-course-button-centre  {
    margin-right: 780px;
}

.ks-cm-find-course-InstructionalMessage {
    line-height: 3;
}

.ks-cm-find-course-remove-table .table.uif-gridLayout {
    border: 0 none;
    margin-bottom: 10px;
    margin-top: 0;
    outline: 0 none;
    padding: 0;
    width: 40%;
}

.ks-cm-find-course-remove-row-col .table-bordered th, .ks-cm-find-course-remove-row-col .table-bordered td {
    border-bottom: 0 none;
    border-left: 0 none;
    border-top: 0 none;
}

.ks-cm-find-course-remove-grid .uif-gridLayout th,.ks-cm-find-course-remove-grid .uif-tableCollectionLayout th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ks-cm-find-course-input-field .uif-gridLayout td,.ks-cm-find-course-input-field .uif-inputField input:first-child {
    margin-bottom: 0;
    width: 100%;
}

.ks-cm-find-course-grid-row .uif-gridLayout th[scope="row"] {
    text-align: right;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.tree-bar-button {
    background-image: url('./images/buttonNormal.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em ;
    padding-left: 0em;
}

.tree-bar-button-selected {
    background-image: url('./images/buttonDisabled.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em ;
    padding-left: 0em;
}

/* Empty marker classes for the character counter */
.cm-charcount-max-24 {
}

.cm-charcount-max-255 {
}

.cm-charcount-max-500 {
}

.cm-lo-indent-0 {
	margin-left: 0px;
}

.cm-lo-indent-50 {
	margin-left: 50px;
}

.cm-lo-indent-100 {
	margin-left: 100px;
}

.cm-lo-indent-150 {
	margin-left: 150px;
}

.cm-lo-indent-200 {
	margin-left: 200px;
}

.cm-lo-indent-250 {
	margin-left: 250px;
}

.cm-lo-indent-300 {
	margin-left: 300px;
}

.cm-lo-indent-350 {
	margin-left: 350px;
}

.cm-lo-indent-400 {
	margin-left: 400px;
}

.cm-lo-indent-450 {
	margin-left: 450px;
}

.cm-lo-indent-500 {
	margin-left: 500px;
}

.cm-home-view-instruction {
	color: gray;
}

.cm-home-view-header {
	border-bottom: 1px dotted gray;
}

.uif-create-course-initial-page-header-contentWrapper .uif-headerText-span {
    margin-left: 20px;
}


/*
 *   Create Course tab styling
 */
.ui-tabs-vertical-left .ui-tabs-nav {
    width: 15em;
    margin-left: 2px;
    font-family: 'ralewayregular', sans-serif;
}

.ui-tabs-vertical .ui-tabs-panel {
  width: 67em;
}

#course_tabs_tabs .ui-tabs-panel {
    border: 0;  /* Remove the border/line from the top of the sections */
}

 #course_tabs_tabs .ui-tabs-nav li {
    /* Make the left corners round the the right ones square*/
	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topright: 0px;

	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

#course_tabs_tabs .ui-tabs-nav li.ui-state-active a,
#course_tabs_tabs .ui-tabs-nav li.ui-state-default a {
    width: 91%;  /* Make the action links in the tab panel extend all the way across */
	color: #000000;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 6px;
	padding-left: 15px;

    /* Make the left corners round the the right ones square*/
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topright: 0px;

	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

/* Make the bottom border of the last tab item more substantial */
#course_tabs_tabs .ui-tabs-nav li:last-child a {
    border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #bbbbbb;
}

/* The tab content sections have this class */
.create_course_tab_section {
    padding: 0 0 10px 10px;
}

#course_tabs_tabs a {
    cursor: pointer;
}

/*  Used to keep all of the tabs/sections visible in Curriculum Speicalist mode */
.never_hide {
    display: block !important;
}

/* Validations icons on the tab items need to float right. */
#course_tabs_tabs .uif-validationImage {
	float: right;
	padding-right: 5px;
}