.ks-curriculum-home > .uif-header {
    border-bottom: solid 2px #000;
    margin-bottom: 5px; margin-top:15px;
}

.uif-actionLink-block {
    display:block;
}

.cm-collection-width {
	width: 45em;
}

.ks-cm-page-header {
    border-bottom : thick solid #000000
}


.ks-cm-find-course-button-centre  {
    margin-right: 580px;
}

.ks-cm-find-course-InstructionalMessage {
    line-height: 3;
}

.ks-cm-find-course-remove-table .table.uif-gridLayout {
    border: 0 none;
    margin-bottom: 10px;
    margin-top: 0;
    outline: 0 none;
    padding: 0;
    width: 40%;
}

.ks-cm-find-course-remove-row-col .table-bordered th, .ks-cm-find-course-remove-row-col .table-bordered td {
    border-bottom: 0 none;
    border-left: 0 none;
    border-top: 0 none;
}

.ks-cm-find-course-remove-grid .uif-gridLayout th,.ks-cm-find-course-remove-grid .uif-tableCollectionLayout th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ks-cm-find-course-input-field .uif-gridLayout td,.ks-cm-find-course-input-field .uif-inputField input:first-child {
    margin-bottom: 0;
    width: 100%;
}

.ks-cm-find-course-grid-row .uif-gridLayout th[scope="row"] {
    text-align: right;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.tree-bar-button {
    background-image: url('./images/buttonNormal.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em ;
    padding-left: 0em;
}

.tree-bar-button-selected {
    background-image: url('./images/buttonDisabled.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em ;
    padding-left: 0em;
}

/* Empty marker classes for the character counter */
.cm-charcount-max-24 {
}

.cm-charcount-max-255 {
}

.cm-charcount-max-500 {
}

.cm-lo-indent-0 {
	margin-left: 0px;
}

.cm-lo-indent-50 {
	margin-left: 50px;
}

.cm-lo-indent-100 {
	margin-left: 100px;
}

.cm-lo-indent-150 {
	margin-left: 150px;
}

.cm-lo-indent-200 {
	margin-left: 200px;
}

.cm-lo-indent-250 {
	margin-left: 250px;
}

.cm-lo-indent-300 {
	margin-left: 300px;
}

.cm-lo-indent-350 {
	margin-left: 350px;
}

.cm-lo-indent-400 {
	margin-left: 400px;
}

.cm-lo-indent-450 {
	margin-left: 450px;
}

.cm-lo-indent-500 {
	margin-left: 500px;
}

.cm-home-view-instruction {
	color: gray;
}

.cm-home-view-header {
	border-bottom: 1px dotted gray;
}

.uif-create-course-initial-page-header-contentWrapper .uif-headerText-span {
    margin-left: 20px;
}
.cm-form-required-for-submit {
    color:#999999;
    font-size:0.9em;
    font-style:italic;
    font-weight:normal;
    margin-left:4px;
    text-align: left;
}

/* Create Course tab styling */
#course_tabs_tabs .ui-tabs, #course_tabs_tabs .ui-tabs-nav {
    margin: 0px;
    padding: .5em 0;
}
/*  Move the content down to align with the tab panel */
#course_tabs_tabs .ui-tabs, #course_tabs_tabs .ui-tabs-panel {
    margin-top: 7px;
}
/* Make the action links in the tab panel extend all the way across */
#course_tabs_tabs .ui-tabs-nav li.ui-state-active a, #course_tabs_tabs .ui-tabs-nav li.ui-state-default a {
    width: 85%;
}