* {
    line-height: 1.5em;
}
body {
    background: url(../images/ksap_body_background.png) repeat;
    font-family: serif;
    font-size: 13px;
}
#container {
    width: 940px;
    margin: 20px auto;
    color: #000;
}
h1 {
    color: #39275b;
    text-transform: uppercase;
    font-size: 500%;
    font-weight: normal;
    font-family: "museo-slab",serif;
}
h2 {
    color: #777;
    text-transform: uppercase;
    font-size: 150%
}
h3 {
    color: #777;
    margin-bottom: 0.75em;
}
#content {
    min-height: 300px;
    background: url('../images/HuskyDog.png') no-repeat top right;
    padding-right: 460px;
}
#links, #more {
    float: left;
    overflow: auto;
    width: 50%;
    min-height: 3em;
}
#links li {
    display: inline-block;
    margin: 0 2em 0 0;
}
#links li a {
    color: #39275b;
    text-decoration: none;
    font-size: 115%;
    font-family: "museo-slab",serif;
    padding: 5px;
}
#links li.home a {
    background: url('../images/ksap_icon_home.png') no-repeat 5px 5px;
    padding-left: 27px;
}
#more a {
    color: #165788;
    text-decoration: none;
}
#links li a:hover,
#more a:hover {
    text-decoration: underline;
}