.KS-Error-Dialog {
	border: 1px solid black;
	padding: 8px;
	background-color: #f0f0f0;
	
}

.KS-Error-Dialog-Title {
	font-weight: bold;
	font-size: large;
	background-color: #f0f0f0;
	border: 1px outset grey;
		text-align: center;
		padding: 5px;
	
	
}

.KS-Error-Dialog-Label {
	
}

.KS-Error-Dialog-Description {
	
}

.KS-Error-Dialog-TextArea {
	width: 400px;
	height: 100px;
}

.KS-Error-Dialog-Panel {
	border: 1px inset grey;
		
}

.KS-Error-Dialog-Button {
	
}