	.KS-Application {
	width: 100%;
}

.KS-Application-Content {
	width: 100%;
}

.KS-Mouse-Wait{
	cursor:wait;
}

.Center{
	text-align: center;
}

.KS-Drop-Shadow{
	\-moz-box-shadow: 2px 2px 10px #000;
	\-webkit-box-shadow: 2px 2px 10px #000;
	box-shadow: 2px 2px 10px #000;
}

@if user.agent ie7 ie8 {
	.KS-Drop-Shadow{
		/*filter: 
	        progid:DXImageTransform.Microsoft.Shadow(color=black,direction=0,strength=7)
	        progid:DXImageTransform.Microsoft.Shadow(color=black,direction=90,strength=10)
	        progid:DXImageTransform.Microsoft.Shadow(color=black,direction=180,strength=10)
	        progid:DXImageTransform.Microsoft.Shadow(color=black,direction=270,strength=7);*/
	
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Glow(color=#666666,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=6)";
		filter: progid:DXImageTransform.Microsoft.Glow(color=#666666,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=6);*/
	}
}


/* TODO move these styles to the appropriate locations */

html,body {
   height:100%;
   width:100%;
   overflow:hidden;
}


.ks-lightbox {
	overflow: visible;
	color:#333; 
	background-color:#fff; 
	border:6px solid #aaa;
	padding: 3px;
	border-radius: 15px 15px;
	\-moz-border-radius: 15px 15px;
	\-webkit-border-radius: 15px 15px;
}

.ks-lightbox .popupContent {
	display: inline;
	overflow: visible;
}

.ks-lightbox-title {
	position: relative;
	margin: 0.25em 0.25em 0.25em 0.25em;
	font-size: 2em;
	color: #940b07;
}

	
.ks-lightbox-content {
	float:left;
	margin: 0.25em 0.25em 0.25em 0.1em;
}

.ks-lightbox-close-panel {
	overflow: visible;
}


.ks-lightbox-flowpanel {
	overflow: visible;
}



.ks-lightbox-close {
	background: url('images/common/lightbox_close.png') no-repeat; 
	width:40px; 
	height:40px; 
	display:block; 
	z-index:9999; 
	position:absolute; 
	top:2px; 
	right:0px; 
	cursor:pointer;
	clear: both;
}
.ks-lightbox-close:hover {
	background: url('images/common/lightbox_close_hover.png') no-repeat; 
}

.ks-notification-container {
	position: absolute;
	right: 25px;
	bottom: 10px;
	overflow: visible;
}

.ks-notification-message {
	width: 300px;
	min-height: 20px;
	background-color: black;
	background-image: url(images/common/tick-circle.png);
	background-position: 8px 8px;
	background-repeat: no-repeat;
	line-height: 1.35em;
	margin-top: 10px;
	overflow: visible;
	padding: 9px 15px 10px 28px;
	position: relative;
	white-space: pre-wrap;
	white-space: \-moz-pre-wrap;
	white-space: \-pre-wrap;
	white-space: \-o-pre-wrap;
	word-wrap: break-word;
	color: white;
	border-radius: 6px 6px;
	\-moz-border-radius: 6px 6px;
	\-webkit-border-radius: 6px 6px;
}


.ks-notification-message p * {
	white-space: pre-wrap;
	white-space: \-moz-pre-wrap;
	white-space: \-pre-wrap;
	white-space: \-o-pre-wrap;
	word-wrap: break-word;
	color: white;
	vertical-align: baseline;
}

.ks-notification-message a {
	color: #2C61E6;
}

a.ks-notification-close {
	background-image:url("images/common/lightbox_close_20px.png");
	background-repeat:no-repeat;
	cursor:pointer;
	display:inline;
	height:25px;
	position:absolute;
	right:0px;
	top:6px;
	width:25px;
	z-index:9999;
}
a.ks-notification-close:hover {
	background-image:url("images/common/lightbox_close_hover_20px.png");
}

	


