
	
.KS-Application {
	width: 100%;
}

.KS-Application-Content {
	width: 100%;
}

.KS-Mouse-Wait{
	cursor:wait;
}

.Center{
	text-align: center;
}

.KS-Drop-Shadow{
	\-moz-box-shadow: 2px 2px 10px #000;
	\-webkit-box-shadow: 2px 2px 10px #000;
	box-shadow: 2px 2px 10px #000;
}

@if user.agent ie7 ie8 {
	.KS-Drop-Shadow{
		/*filter: 
	        progid:DXImageTransform.Microsoft.Shadow(color=black,direction=0,strength=7)
	        progid:DXImageTransform.Microsoft.Shadow(color=black,direction=90,strength=10)
	        progid:DXImageTransform.Microsoft.Shadow(color=black,direction=180,strength=10)
	        progid:DXImageTransform.Microsoft.Shadow(color=black,direction=270,strength=7);*/
	
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Glow(color=#666666,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=6)";
		filter: progid:DXImageTransform.Microsoft.Glow(color=#666666,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=6);*/
	}
}
