.KS-LandingPage-Description{
	font-size: 30px;
	margin-bottom: .5em;
}

.KS-LandingPage-Title{
	font-weight: bold;
	font-size: 30px;

	color: #7b1918;
}

.KS-LandingPage-TitleWidgetsPanel{
	float: right;
}

.KS-LandingPage-Panel{
	width: 850px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}

.KS-LandingPage{
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
}

.KS-LandingPage-ContentPanel{
	width: 100%;
	background-color: white;
	border: 2px solid #c2c2c2;
	\-moz-border-radius: 1em; 
	\-webkit-border-radius: 1em;
	border-radius: 1em;
	padding: 2px;
	padding-top: 30px;
}

.KS-LandingPage-ContentTable{
	width: 100%;
}
		
.KS-LandingPage-TitlePanel{
	width: 100%;
	padding-bottom: 10px;
}


