<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:SpringBeans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>UserLoginFilter</filter-name>
		<filter-class>org.kuali.rice.kew.web.UserLoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>DummyLoginFilter</filter-name>
		<filter-class>org.kuali.rice.kew.web.DummyLoginFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>UserLoginFilter</filter-name>
		<servlet-name>krad</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
	  <filter-name>DummyLoginFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>krad</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	
	<listener>
       <listener-class>org.apache.tiles.web.startup.simple.SimpleTilesListener</listener-class>
    </listener>	

	<servlet-mapping>
		<servlet-name>krad</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>

