<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 
 <display-name>Kuali Student Service Monitor</display-name>
 <description> A service that allows monitoring of other services </description>
 <context-param>
  <param-name>VersionProps</param-name>
  <param-value>/WEB-INF/ks-monitor-version.properties</param-value>
 </context-param>
 <context-param>
  <param-name>TestMode</param-name>
  <param-value>true</param-value>
 </context-param>
 <!-- filters -->
 <filter>
  <filter-name>request timer</filter-name>
  <description>reecords execution time of each request</description>
  <filter-class>
   org.kuali.student.deployment.http_monitor.filter.RequestTimer
  </filter-class>
 </filter>
 
 <filter-mapping>
  <filter-name>request timer</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 
 <!-- context listeners -->
 <listener>
  <listener-class>
   org.kuali.student.deployment.http_monitor.listener.MemorySessionMonitorFactory
  </listener-class>
 </listener>
 <listener>
  <listener-class> 
   org.kuali.student.deployment.http_monitor.listener.VersionPropertiesFactory
  </listener-class>
 </listener>
  <listener>
   <listener-class>
    org.kuali.student.deployment.http_monitor.listener.RequestMonitorFactory
   </listener-class>
  </listener>
 
 <!-- session listeners -->
 <listener>
  <listener-class>
   org.kuali.student.deployment.http_monitor.listener.MemorySessionMonitorDeploymentProxy
  </listener-class>
 </listener>
 
 <servlet>
  <servlet-name>memory-snapshot</servlet-name>
  <description> Utility for accessing memory monitor image. </description>
  
  <servlet-class>org.kuali.student.deployment.http_monitor.servlet.MemorySnapshot</servlet-class>
 </servlet>
 
 <servlet>
  <servlet-name>service-status</servlet-name>
  <description> Utility for accessing service statistics. </description>
  
  <servlet-class>org.kuali.student.deployment.service_monitor.server.WebMonitorServiceImpl</servlet-class>
 </servlet>
 
 <servlet-mapping>
  <servlet-name> memory-snapshot </servlet-name>
  <url-pattern>/org.kuali.student.deployment.service_monitor.Application/sys/monitor/memory-snapshot </url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name> service-status </servlet-name>
  <url-pattern>/org.kuali.student.deployment.service_monitor.Application/sys/monitor/service-status </url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name> service-status </servlet-name>
  <url-pattern>/monitor/service-status-test </url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>5</session-timeout>
 </session-config>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
