.Course-Home-Menu-Item{
	background-color: #dbdbdd;
	background: url("images/Home-unselected-button.jpg") repeat-x;
	font-weight: bold;
	font-size: 10pt;
	border: 1px solid #a2a3a5;
	height: 40px;
	width: 100%;
	margin:0px;
}

.Course-Home-Menu-Label{
	font-weight: bold;
	font-size: 10pt;
	color: #6b6d6a;
	margin-left:10px;
	margin-left:5px;
}

.Course-Home-Menu-Item-Selected{
	background-color: #233259;
	background: url("images/Home-selected-button.jpg") repeat-x;
	border-color: 1px solid #20335b;
}

.Course-Home-Menu-Label-Selected{
	color: #96a6b6;
}

.Course-Home-Menu-Item-Hover{
	cursor: pointer;
}

.Course-Home-Menu-Panel{
	width: 165px;
	height: 100%;
}

.Course-Home-Content-Panel{
	width: 410px;
	height: 100%;
}

.Course-Home-Main-Panel{
	width: 555px;
	height: 320px;
	border: 1px solid #808080;
}

.Home-Description-Label{
	font-size: 8pt;
	width: 200px;
}

.Home-Standard-Button{
	color: black;
	font-size:10pt;
	width:175px;
}

.Home-Button-Row{
	height: 50px;
	width: 100%;
}

.Content-Left-Margin{
	margin-left: 25px;
}

.Home-Horizontal-Break{
	width: 100%;
	margin-left: 10px;
}

.Home-Small-Hyperlink{
	font-size: 8pt;
}

.Home-Category-Label{
	font-weight: bold;
}

.Home-Search-Textbox{
	width: 250px;
}

.Home-Blue-Button{
	color: white;
	background: url("images/Home-selected-button.jpg") repeat-x;
	font-weight: bold;
}