@import url(reset.css);
@import url(fonts.css);

/*** Begin CSS for Kuali Student ***/

html, body { 
	height: 100%;
}

body { 
	background: #ccc; 
	color: #222; 
}


/*** Header/Footer ***/

.ks-header-container, .ks-footer-container { 
	background: maroon; 
	color: #fff;
	width: 100%;
}

.ks-header, .ks-footer {
	margin: 0 3%;
}

.ks-header {
	padding: 15px 0;
}

.ks-footer { 
	position: relative; 
	padding: 6px 0;
}

.clear-footer { 
	height: 10px; 
	clear: both; 
}


/*** Headings ***/

.ks-header h3 { margin: 0; }

h1.ks-heading-course-title { color: #666; display:block; font-weight: normal; margin-bottom: 0; padding: 15px 0 10px 0;}

h2.ks-heading-page-title { color: #940b07; }
h3.ks-heading-page-section { color: #000; font-weight: normal; padding-bottom: 4px; border-bottom: solid 2px #ccc; margin-bottom: .5em;}
h3.ks-heading-page-section span { color: #aaa; }


/*** Page ***/
.ks-page-container {
	background-color: #fff;
	min-height: 100%;  
	position: relative;
	margin: 20px 3%;
	
	-moz-box-shadow: 0px 0px 10px #666;
	-webkit-box-shadow: 0px 0px 10px #666;
}

/*** Page: Banner ***/
.ks-page-banner { 
	background-color: #eaeaea; 
	padding-right: 20px;
}

.ks-page-banner-title {
	border-left: solid 6px #999;
	padding-left: 14px;
	margin-bottom: 20px;
}

.ks-page-banner-actions {
	float:left;
	width: 50%;
}

.ks-page-banner-workflow, .ks-page-banner-project {
	width: 48%; 
	float: left;
	margin-right: 2%;
}

.ks-page-banner-workflow-menu, .ks-page-banner-project-menu {
	min-height: 36px;
	color: #424242;
	border: solid 1px #b2b2b2;
	padding: 6px;
	background-color: #f3f3f3; 
}

.ks-page-banner-workflow-menu p, .ks-page-banner-project-menu p {
	font-size: 0.916em; /* 11px */
	font-style: italic;
	margin-left: 3px;
	margin-bottom: 0;
}

.ks-page-banner-workflow-status {
	width: 50%;
	float: right;
	padding: 0;
	background: #e0e0e0 url('../images/icons/node.png') no-repeat 5px 5px;
}

.ks-page-banner-workflow-status p {
	margin: 0 0 0 23px;
	padding: 6px;
	color: #424242;
	min-height: 38px;
}

.ks-page-banner-workflow-status p span {
	font-weight: bold;
}


.ks-page-banner-message {
	padding: 0 20px; 
	background-color: #eaeaea;
}

/*** Page ***/

.ks-page-content { 
	padding: 20px; 
}


/*** Messages ***/

.ks-message-static {
	background-color: #f4e271; padding: 6px 6px 6px 15px; position:relative; color: #000; margin-bottom: 10px;
}

.ks-message-static img {
	left:-6px;
	position:absolute;
	top:4px;
	z-index:900;
}

.ks-message-static a { margin-left: 10px;}



/*** Comments ***/

.ks-comments { 
	margin-bottom: 1em; 
	line-height: 1.25em; 
	width: 97%;
	color: #424242;
}


.ks-comments-logged { width: 25%; float:left; }
.ks-comments-logged strong { color: #000; }
.ks-comments-form { width: 70%; float: right; text-align: right; }

.ks-comments-meta { width: 25%; float:left; }
.ks-comments-meta strong { color: #000; }

.ks-comments-text { width: 55%; float:left; }
.ks-comments-actions { width: 15%; float:right; text-align: right; }



/*** Lightbox ***/
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {
	width:850px; 
	color:#333; 
	background-color:#fff; 
	border:6px solid #aaa; 
	}


#simplemodal-container a.modalCloseImg {
	background: url('../images/x.png') no-repeat; 
	width:25px; 
	height:29px; 
	display:inline; 
	z-index:9999; 
	position:absolute; 
	top:-12px; 
	right:-12px; 
	cursor:pointer;
	}
	
.ks-lightbox-status { background-color: #aaa; padding: 12px 6px; color: #fff; font-weight: bold;}
.ks-lightbox-content { padding: 20px; overflow: auto; height: 500px; margin-top: 20px; }


/*** Helper Classes ***/

.visible { display: block; }
.hidden { display: none; }
p.noted { margin: 0 0 10px 0; color: #39b54a; font-family: Georgia;}


/*** Clear/Clear Fix ***/

.clearfix:after {
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  overflow:hidden; 
}
.clearfix {display: block;}

.clear { clear:both; height: 0;  }
