/* KSAP Section (right side container) ########################################################################### */
.ksap-widget {
  border: solid 1px #dddddd;
  border-radius: 5px;
  line-height: 16px;
}

.ksap-section .uif-boxLayoutVerticalItem,
.ksap-section .uif-boxLayoutHorizontalItem {
  margin: 0;
  padding: 0;
}
/*The Your Stuff Section Headers*/
.ksap-section .uif-header {
  font-weight: normal;
  margin: 0;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 3px 10px;
}
.ksap-section .uif-tooltip span.uif-headerText-span{
  border-bottom: dotted 1px #777;
}
/*The Your Stuff Header*/
.ksap-section .uif-header.primary {
  border: none;
  padding: 7px 10px;
  border-radius: 5px 5px 0 0;
  text-shadow: 1px 1px 1px #ffffff;
}

.ksap-section.no-primary .uif-header {
  border-top: none;
  border-radius: 5px 5px 0 0;
}

.ksap-section .uif-header .uif-header-rightGroup {
  position: relative;
  right: auto;
  top: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
}

.ksap-section .uif-headerText {
  display: inline-block;
  vertical-align: middle;
}

.ksap-section h5.uif-headerText {
  font-size: 15px;
  text-transform: uppercase;
}

.ksap-section h6.uif-headerText {
  font-size: 13px;
  text-transform: none;
}

.ksap-section div.blockElement {
  left: auto !important;
  top: 1px !important;
  right: 0px !important;
  border: none;
  width: 16px;
}

.ksap-section .uif-listCollectionGroup ul li {
  border-bottom: dotted 1px #cfcfcf;
  display: block;
  clear: both;
  padding: 0;
}

.ksap-section .uif-listCollectionGroup ul li .ksap-click {
  padding: 7px 10px;
  cursor: pointer;
}

.ksap-section .uif-listCollectionGroup.ksap-recent-audit ul li {
  border-bottom: none;
  border-top: dotted 1px #ccc;
}

.ksap-section .uif-listCollectionGroup ul li:hover {
  background-color: #e3f0fe;
}

.ksap-section .ksap-recent-audit .pending {
  padding: 7px 10px;
}

.ksap-section .ksap-recent-audit .pending:hover {
  background-color: transparent;
  cursor: default;
}

.ksap-section .ksap-recent-audit .pending .icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.ksap-section .ksap-recent-audit .pending .title {
  vertical-align: middle;
  color: #777;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 187px;
}

.ksap-section .ksap-recent-audit .pending .program {
  color: #333;
}

.ksap-section .ksap-recent-audit label {
  color: #777777 !important;
  font-weight: normal;
  float: left;
  padding-right: 5px;
}

/* Saved Courses Summary Styles ########################################################################### */

/* Recent Audit List Styles ########################################################################### */
.ksap-section .ksap-recent-audit ul li:first-child {
  border: none;
}

.ksap-section .ksap-recent-audit a {
  white-space: normal;
}

/* Saved Courses Detail Styles ########################################################################### */
.ksap-saved-courses-detail {
  line-height: 1.8em;
}

.ksap-saved-courses-detail ul,
.ksap-saved-courses-detail ul li,
.ksap-saved-courses-detail ul li dl,
.ksap-saved-courses-detail ul li dl dd {
  margin: 0;
  padding: 0;
}

.ksap-saved-courses-detail .uif-sectionHeader .uif-headerText {
  font-size: 1.25em;
  font-weight: normal;
  margin: 1em 0;
  border: none;
}

.ksap-saved-courses-detail .uif-sectionHeader .uif-headerText strong {
  font-weight: bold;
}

.ksap-saved-courses-detail ul li {
  border-top: dotted 1px #aaaaaa;
  padding: 10px;
  display: block;
}

.ksap-saved-courses-detail .ksap-saved-courses-detail-heading .uif-verticalBoxLayout {
  float: none !important;
}

/* Course Details Popup ########################################################################### */
.ksap-popup-close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

.myplan-popup-item {
  width: 300px;
  height: 275px;
  float: left;
}

.jquerybubblepopup-ksap .jquerybubblepopup-innerHtml {
  padding: 5px;
  overflow: hidden;
}

.jquerybubblepopup-ksap .jquerybubblepopup-innerHtml .uif-headerText {
  text-transform: none;
  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bebebe;
  margin-bottom: 0.75em;
  font-size: 110%;
}

.jquerybubblepopup-innerHtml div.blockElement {
  top: 0px !important;
}

/* Messaging and Comments ################################################################################### */
.ksap-messages-detail .dataTables_wrapper {
  width: 710px;
  float: none;
}

.ksap-messages-detail .dataTables_wrapper .dataTables_info {
  margin: 0 0 10px 0;
}

.ksap-messages-detail .dataTables_wrapper table {
  border: solid 1px #ddd;
  border-bottom: none;
  margin: 0;
  clear: both;
  border-radius: 5px 5px 0 0;
  width: 710px;
  table-layout: fixed;
}

.ksap-messages-detail .dataTables_wrapper table thead tr {
  background: #F6F6F6;
  border: none;
  border-bottom: solid 1px #ddd;
  background-image: linear-gradient(to bottom, #F6F6F6 0%, #EBEBEB 100%);
  border-radius: 5px 5px 0 0;
}

.ksap-messages-detail .dataTables_wrapper table thead tr th {
  border: none;
  background: transparent;
  background-image: none;
  padding: 0;
}

.ksap-messages-detail .dataTables_wrapper table thead tr th .DataTables_sort_wrapper {
  display: inline-block;
  font-size: 10px;
  height: 26px;
  line-height: 26px;
  padding: 3px 10px;
  font-weight: normal;
}

.ksap-messages-detail .dataTables_wrapper table thead tr th[aria-sort='ascending'] .DataTables_sort_wrapper,
.ksap-messages-detail .dataTables_wrapper table thead tr th[aria-sort='descending'] .DataTables_sort_wrapper {
  color: #06c;
}

.ksap-messages-detail .dataTables_wrapper table thead tr th .DataTables_sort_wrapper .ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
  width: 16px;
  height: 16px;
  /*
      @TODO ksap-961 use icon font instead of images
  */
  background: url('../images/ksap_icon_sprites.png') no-repeat 0px -48px transparent;
}

.ksap-messages-detail .dataTables_wrapper table thead tr th .DataTables_sort_wrapper .ui-icon.ui-icon-carat-2-n-s {
  background-position: 0px -48px;
}

.ksap-messages-detail .dataTables_wrapper table thead tr th .DataTables_sort_wrapper .ui-icon.ui-icon-triangle-1-n {
  background-position: -16px -48px;
}

.ksap-messages-detail .dataTables_wrapper table thead tr th .DataTables_sort_wrapper .ui-icon.ui-icon-triangle-1-s {
  background-position: -32px -48px;
}

.ksap-messages-detail .dataTables_wrapper table tbody tr {
  border: none;
  border-top: dotted 1px #cfcfcf;
  cursor: pointer;
}

.ksap-messages-detail .dataTables_wrapper table tbody tr:first-child,
.ksap-messages-detail .dataTables_wrapper table tbody tr td {
  border: none;
}

.ksap-messages-detail .dataTables_wrapper table tbody tr:hover td {
  background-color: #e3f0fe;
}

.ksap-messages-detail .dataTables_wrapper .dataTables_paginate.paging_full_numbers {
  line-height: normal;
  height: auto;
  width: 688px;
}

.ksap-messages-lightbox h6 {
  font-weight: bold;
  text-transform: none;
  font-size: 1.25em;
  line-height: 1.75em;
}

.ksap-messages-lightbox .ksap-messages-original {
  background: #eaeaea;
  border-top: solid 1px #a9a9a9;
  padding: 20px;
  margin: 0 0 20px 0;
}

.ksap-messages-lightbox .ksap-comments-list ul {
  max-height: 125px;
  overflow: auto;
}

.ksap-messages-lightbox .ksap-comments-list ul li {
  overflow: hidden;
}

.ksap-messages-comments {
  margin: 0 0 20px 0;
}

.ksap-messages-comments .ksap-messages-comments-body {
  border: solid 1px #ececec;
  background: #f3f3f3;
  margin: 0;
  padding: 10px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
}

.ksap-comment-bubble {
  /*
      @TODO KSAP-961 convert to icon font instead of image
  */
  background: url('../images/bkgrdCommentBubble.png') no-repeat;
  width: 25px;
  height: 22px;
  line-height: 19px;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
}

.myplan-audit-widget select {
  width: 180px;
  margin: 10px 0px 0px;
}