.KS-Basic-Menu-Parent-Container{
	width: 200px;
	margin: 2px;
	background-color: white;
	border-top: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}
.KS-Basic-Menu-Title-Panel{
	background-color: #f4f4f4;
	border-bottom: 2px solid #dedede;
	border-top: 2px solid #dedede;
	border-right: 2px solid #dedede;
	width: 100%;
	height: 40px;
}
.KS-Basic-Menu-Panel{
	width: 100%;
}
.KS-Basic-Menu-Global-Indent{
	margin-left: 5px;
}
.KS-Basic-Menu-Title-Label{
	font-weight: bold;
	font-size: 12pt;
	color: #990000;
	margin-top: 5px;
}
.KS-Basic-Menu-Desc-Label{
	margin-bottom: 5px;
	font-size: 8pt;
	color: black;
}
.KS-Basic-Menu-Item-Label{
	font-size: 10pt;
	color: black;
	margin-top: 3px;
}
.KS-Basic-Menu-Toplevel-Item-Label{
	font-weight: bold;
	color: #990000;
}
.KS-Basic-Menu-Toplevel-Item-Panel{
	margin-top: 10px;
	 
}
.KS-Basic-Menu-Clickable-Item-Label{
	color: black;
}
.KS-Basic-Menu-Item-Panel{
	width: 99%;
	/*height: 20px; bad*/
	margin-bottom: 3px;
	border-left: 2px solid white;
}
.KS-Basic-Menu-Item-Panel-Selected{
	background-color: #dddddd;
	border-left: 2px solid #666666;
}
.KS-Basic-Menu-Item-Label-Selected{
	color: #ab0000;
}
.KS-Basic-Menu-Item-Panel-Hover{
	background-color: #f4f4f4;
	border-left: 2px solid #990000;
	cursor: pointer;
}
.KS-Basic-Menu-Item-Label-Hover{
	
}