<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
      		<param-name>contextConfigLocation</param-name>
      		<param-value>classpath:spring-beans.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>workflowUtilityRpcServiceGwt</servlet-name>
		<servlet-class>edu.umd.ks.poc.lum.web.kew.server.gwt.WorkflowUtilityRpcServiceGwt</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>luRpcServiceGwt</servlet-name>
		<servlet-class>edu.umd.ks.poc.lum.web.lu.server.gwt.LuRpcServiceGwt</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>scatRpcServiceGwt</servlet-name>
		<servlet-class>edu.umd.ks.poc.lum.web.scat.server.gwt.ScatRpcServiceGwt</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/edu.umd.ks.poc.lum.web.entrypoints.kew.KEW/WorkflowUtilityRpcService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/edu.umd.ks.poc.lum.web.entrypoints.kew.KEW/ScatRpcService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/edu.umd.ks.poc.lum.web.entrypoints.kew.KEW/LuRpcService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/edu.umd.ks.poc.lum.web.lum.LUM/WorkflowUtilityRpcService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/edu.umd.ks.poc.lum.web.lum.LUM/ScatRpcService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/edu.umd.ks.poc.lum.web.lum.LUM/LuRpcService</url-pattern>
	</servlet-mapping>

</web-app>