.KS-ResizablePanel-RightBottomResizableHandler{
width: 10px;
height:10px;
cursor: SE-resize;
background: gray;

}
.KS-ResizablePanel-Mask{
z-index: 99;
}
.KS-Accordion{
	
}
.KS-Accordion-Titlebar{

	width: 200;
	height: 20;
		
	border-left: 1px solid #99bbe8;
	border-right: 2px solid #4583D5;
	border-bottom: 2px solid #4583D5;
	border-top: 1px solid #99bbe8;
	margin: 2px;

	background-color: #99bbe8;	
}

.KS-Accordion-Titlebar-Hover{
	background-color: #99bbe8;
	border-left: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 1px solid black;

	cursor:pointer;
}

.KS-Accordion-Titlebar-Focus{
	background-color: #99bbe8;
}
.KS-Accordion-Titlebar-Open{

	background-color: #E8C698;
	border: 2px solid black;
}

.KS-Accordion-Titlebar-Label{
	font-weight: bold;
	font-size: 80%;
}

.KS-Indent-1{
	margin-left: 20px;
}

.KS-Indent-2{
	margin-left: 40px;
}

.KS-Indent-3{
	margin-left: 60px;
}

.KS-Indent-4{
	margin-left: 80px;
}

.KS-Indent-5{
	margin-left: 100px;
}

.KS-Indent-6{
	margin-left: 120px;
}

.KS-Indent-7{
	margin-left: 140px;
}

.KS-Header {
	background-image: url('images/headerback.gif');
	background-repeat: repeat-x;
	width: 100%;
}

.KS-Application {
	width: 100%;
}

.KS-Application-Content {
}

.KS-Table-ColumnHeader {
	background-color: lightblue;
}

.KS-Table-RowHeader {
	background-color: lightblue;
}

.KS-Table-Row {
	background-color: white;
}

.KS-Table-RowAlt {
	background-color: lightgray;
}

.KS-Blocking-Task-Window{
	width: 400px;
}

.KS-Blocking-Task-Main{
	width: 100%;
}

.KS-Blocking-Task-Item{
	background-color:#F3F3F3;
	border-style: solid;
	border-width: thin;
	border-color: black;
	margin: 2px;
	width: 99%;
}

.KS-Blocking-Task-List{
	width: 100%;
}

.KS-Image{
	margin: 2px;
}

.Center{
	text-align: center;
}

.KS-Help-Text{
	color:gray;
	font-size:x-small;
	cursor:pointer;
}

.KS-Help-Frame{
	width: 400px;
	height: 500px;
}

.KS-Button{
	margin: 2px;
	color:#050;   
	font-weight: bold;
	font-size: 84%;
	border-right: 1px solid #4583D5;
	border-bottom: 1px solid #4583D5;
}
.KS-Button-Hover{
	color: #9B251C;
}
.KS-Button-Focus{
	color: #9B251C;
}

.KS-Button-Click{
	color: #9B251C;
}

.KS-Label{
	margin: 2px;
}
.KS-Checkbox{
	margin: 2px;
	font-weight: bold;
	font-size: 80%;
}
.KS-Checkbox-Checked{
	color: #9B251C;
}
.KS-Checkbox-Hover{
}
.KS-Checkbox-Focus{
	color: #9B251C;
}
.KS-Radio{
	margin: 2px;
	font-weight: bold;
	font-size: 80%;
}
.KS-Radio-Focus{
	color: #9B251C;
}
.KS-Radio-Hover{
}

.KS-Radio-Selected{
	color: #9B251C;
}
.KS-Dropdown{
}
.KS-Dropdown-Focus{
	background-color: #ECF2FA;
}
.KS-Dropdown-Hover{
	background-color: #ECF2FA;
}
.KS-Dropdown-Selected{

}
.KS-Textbox-Hover{
	background-color: #ECF2FA;
}
.KS-Textbox-Focus{
	background-color: #ECF2FA;
}
.KS-Textbox{
	margin: 2px;
	border: 1px solid #4583D5;
}
.KS-Textarea-Hover{

}
.KS-Textarea-Focus{
	background-color: #ECF2FA;
}
.KS-Textarea{
	margin: 2px;
	border: 1px solid #4583D5;
	height: 200;
	width: 500;
}
.KS-Datefield-Focus{
	
}
.KS-Help-Popup{
}
.KS-Popup-Header{

	background-color:#99bbe8;
	font-weight: bold;
	border-style: solid;
	border-width: thin;
	border-color: black;
	margin: 2px;
	width: 99%;
}
.KS-Help-Text{
}
.KS-Help-Text-Panel{
}
.KS-Help-Frame{
}
.KS-Popup{
}
.KS-Info-Popup{
}
.KS-Modal-Popup{
	border-style: solid;
	border-color: black;
}
.KS-Modal-Dialog-Glass{
	width:100%;
	height:100%;
	border: none;
 	filter:alpha(Opacity=60);
	opacity:0.6;
 	background:black;
}
.KS-Disclosure-Content{
	border:none;
}
.KS-Disclosure-Header{
	font: bold;
	width: 100%;
	background-color: #F3F3F3; 
	
}
.KS-Disclosure-Header-Open{
	font: bold #D54F44;
	border-bottom: 1px solid #c0c0c0;
}
.KS-Disclosure-Content-Open{
	margin: 5px;
}

.KS-Disclosure-Section{
	  width: 75%;
	  margin: 6px;
      border: 1px solid #c0c0c0; 

}

KS-Disclosure-Section-Open{
	width: 100%; 

}

.KS-Mouse-Wait{
	cursor:wait;
}


.KS-FloatPanel {
	background-color: aqua;
	border: solid;
	border-color: black;
}

.KS-CollapsableFloatPanel-ButtonPanel {
	height: 100%;
	vertical-align: middle;
}

.KS-FormLayout-Description {
	vertical-align: top; 
	color:gray;
	font-size:x-small;
}

.KS-FormLayout-Label {
	vertical-align: top; 
	font-weight: bold;
	text-align: right;
}

.KS-RichText-Large{
	width: 600px;
	height: 500px;
}

.KS-RichText-Normal{
	width: 500px;
	height: 250px;
}

.KS-RichText-Popout-Image-Panel{
	border: none;
}

.KS-RichText-Popout-Glass{
	width:100%;
	height:100%;
	border: none;
 	filter:alpha(Opacity=20);
	opacity:0.2;
 	background:black;
}

.KS-RichText-Popout-Image{
	
}

.KS-RichText-Popout-Image-Hover{
	cursor:pointer;
}

.KS-RichText-Popout-Window{
	border: 1px solid black;
}
