.KS-Header {
	border: 2px solid #888888;
}

.KS-Header-Link {
	width: 100%;
	height: 8px;
	padding-top: 5px;
	background-color: #780000;
	color: #ffffff;
	text-decoration: none;
	font-size: 70%;
}

.KS-Header-Breadcrumb {
	width: 100%;
}

.KS-Header-Logo {
	 width: 100%;
}

.KS-Header-Separator {
	 height: 1px;
	 width: 100%;
}

.KS-Header-Link-Focus {
	cursor: pointer;
	text-decoration: underline;
}

.KS-Header-Link-Panel {
	float: right;
	margin-right: 5px;
	padding: 2px;
}