.KS-Basic-Menu-Parent-Container{
	width: 190px;
	margin: 2px;
	background-color: #b7ffd9;
	border: 1px solid black;
}
.KS-Basic-Menu-Title-Panel{
	background-color: #6db587;
	width: 100%;
	height: 40px;
}
.KS-Basic-Menu-Panel{
	width: 100%;
}
.KS-Basic-Menu-Global-Indent{
	margin-left: 10px;
}
.KS-Basic-Menu-Title-Label{
	font-weight: bold;
	font-size: 12pt;
	color: white;
	margin-top: 5px;
}
.KS-Basic-Menu-Desc-Label{
	margin-bottom: 5px;
	font-size: 8pt;
	color: white;
}
.KS-Basic-Menu-Item-Label{
	font-size: 10pt;
	color: black;
	margin-top: 3px;
}
.KS-Basic-Menu-Toplevel-Item-Label{
	font-weight: bold;
}
.KS-Basic-Menu-Toplevel-Item-Panel{
	margin-top: 10px;
	 
}
.KS-Basic-Menu-Clickable-Item-Label{
	color: #336484;
}
.KS-Basic-Menu-Item-Panel{
	width: 99%;
	height: 20px;
	margin-bottom: 3px;
}
.KS-Basic-Menu-Item-Panel-Selected{
	background-color: white;
	border: 1px solid #b8d7c8;
	margin-bottom: 2px;
}
.KS-Basic-Menu-Item-Label-Selected{
	color: black;
}
.KS-Basic-Menu-Item-Panel-Hover{
	cursor: pointer;
}
.KS-Basic-Menu-Item-Label-Hover{
	
}