.KS-Blocking-Task-Window{	
	width: 400px;
}

.KS-Blocking-Task-Main{
	width: 400px;
}

.KS-Blocking-Task-Item{
	background-color:#F3F3F3;
	border-style: solid;
	border-width: thin;
	border-color: black;
	margin: 2px;
	width: 99%;
}

.KS-Blocking-Task-List{
	width: 100%;
}