.KS-Button{
	margin: 2px;
	color:#050;   
	font-weight: bold;
	font-size: 84%;
	border-right: 1px solid #4583D5;
	border-bottom: 1px solid #4583D5;
}
.KS-Button-Hover{
	color: #9B251C;
}
.KS-Button-Focus{
	color: #9B251C;	
}

.KS-Button-Click{
	color: #9B251C;
}