.KS-Header {
	background-image: url('images/headerback.gif');
	background-repeat: repeat-x;
	width: 100%;
}

.KS-Application {
	width: 100%;
}

.KS-Application-Content {
}

.KS-Mouse-Wait{
	cursor:wait;
}

.Center{
	text-align: center;
}