<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:cxf-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CxfServlet</servlet-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CxfServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet.xml</param-value>
		</init-param>
	</servlet>

	<!--inserted by gwt-maven-->
	<servlet>
		<servlet-name>
			org.kuali.student.commons.ui.logging.server.LogServiceImpl/org.kuali.student.poc.POC/LogService
		</servlet-name>
		<servlet-class>
			org.kuali.student.commons.ui.logging.server.LogServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.common.ui.messages.server.gwt.MessagesServiceImplGWT/org.kuali.student.poc.POC/MessagesService
		</servlet-name>
		<servlet-class>
			org.kuali.student.common.ui.messages.server.gwt.MessagesServiceImplGWT
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.commons.ui.validators.server.gwt.ValidatorServiceGWT/org.kuali.student.poc.POC/ValidatorService
		</servlet-name>
		<servlet-class>
			org.kuali.student.commons.ui.validators.server.gwt.ValidatorServiceGWT
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.commons.ui.validators.server.impl.ValidatorTestServlet/org.kuali.student.poc.POC/ValidatorTestServlet
		</servlet-name>
		<servlet-class>
			org.kuali.student.commons.ui.validators.server.impl.ValidatorTestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.commons.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl/org.kuali.student.poc.POC/ViewMetaDataService
		</servlet-name>
		<servlet-class>
			org.kuali.student.commons.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl/org.kuali.student.poc.POC/logging
		</servlet-name>
		<servlet-class>
			com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt/org.kuali.student.poc.POC/RegistrationService
		</servlet-name>
		<servlet-class>
			org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT/org.kuali.student.poc.POC/PersonIdentityService
		</servlet-name>
		<servlet-class>
			org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt/org.kuali.student.poc.POC/LearningUnitAppService
		</servlet-name>
		<servlet-class>
			org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.poc.server.admin.gwt.MessagesAdminServiceGWT/org.kuali.student.poc.POC/MessagesAdminService
		</servlet-name>
		<servlet-class>
			org.kuali.student.poc.server.admin.gwt.MessagesAdminServiceGWT
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.poc.server.login.gwt.LoginServiceImpl/org.kuali.student.poc.POC/LoginService
		</servlet-name>
		<servlet-class>
			org.kuali.student.poc.server.login.gwt.LoginServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.apache.jasper.servlet.JspServlet/org.kuali.student.poc.POC/POC.jsp
		</servlet-name>
		<servlet-class>
			org.apache.jasper.servlet.JspServlet
		</servlet-class>
	</servlet>
	<!--inserted by gwt-maven-->
	<!--inserted by gwt-maven-->
	<servlet>
		<servlet-name>
			com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl/org.kuali.student.ui.personidentity.PersonIdentity/logging
		</servlet-name>
		<servlet-class>
			com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt/org.kuali.student.ui.personidentity.PersonIdentity/RegistrationService
		</servlet-name>
		<servlet-class>
			org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.commons.ui.logging.server.LogServiceImpl/org.kuali.student.ui.personidentity.PersonIdentity/LogService
		</servlet-name>
		<servlet-class>
			org.kuali.student.commons.ui.logging.server.LogServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.common.ui.messages.server.gwt.MessagesServiceImplGWT/org.kuali.student.ui.personidentity.PersonIdentity/MessagesService
		</servlet-name>
		<servlet-class>
			org.kuali.student.common.ui.messages.server.gwt.MessagesServiceImplGWT
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.commons.ui.validators.server.gwt.ValidatorServiceGWT/org.kuali.student.ui.personidentity.PersonIdentity/ValidatorService
		</servlet-name>
		<servlet-class>
			org.kuali.student.commons.ui.validators.server.gwt.ValidatorServiceGWT
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.commons.ui.validators.server.impl.ValidatorTestServlet/org.kuali.student.ui.personidentity.PersonIdentity/ValidatorTestServlet
		</servlet-name>
		<servlet-class>
			org.kuali.student.commons.ui.validators.server.impl.ValidatorTestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.commons.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl/org.kuali.student.ui.personidentity.PersonIdentity/ViewMetaDataService
		</servlet-name>
		<servlet-class>
			org.kuali.student.commons.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT/org.kuali.student.ui.personidentity.PersonIdentity/PersonIdentityService
		</servlet-name>
		<servlet-class>
			org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt/org.kuali.student.ui.personidentity.PersonIdentity/LearningUnitAppService
		</servlet-name>
		<servlet-class>
			org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.commons.ui.logging.server.LogServiceImpl/org.kuali.student.poc.POC/LogService
		</servlet-name>
		<url-pattern>/org.kuali.student.poc.POC/LogService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.common.ui.messages.server.gwt.MessagesServiceImplGWT/org.kuali.student.poc.POC/MessagesService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/MessagesService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.commons.ui.validators.server.gwt.ValidatorServiceGWT/org.kuali.student.poc.POC/ValidatorService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/ValidatorService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.commons.ui.validators.server.impl.ValidatorTestServlet/org.kuali.student.poc.POC/ValidatorTestServlet
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/ValidatorTestServlet
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.commons.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl/org.kuali.student.poc.POC/ViewMetaDataService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/ViewMetaDataService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl/org.kuali.student.poc.POC/logging
		</servlet-name>
		<url-pattern>/org.kuali.student.poc.POC/logging</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt/org.kuali.student.poc.POC/RegistrationService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/RegistrationService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT/org.kuali.student.poc.POC/PersonIdentityService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/PersonIdentityService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt/org.kuali.student.poc.POC/LearningUnitAppService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/LearningUnitAppService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.poc.server.admin.gwt.MessagesAdminServiceGWT/org.kuali.student.poc.POC/MessagesAdminService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/MessagesAdminService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.poc.server.login.gwt.LoginServiceImpl/org.kuali.student.poc.POC/LoginService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.poc.POC/LoginService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.apache.jasper.servlet.JspServlet/org.kuali.student.poc.POC/POC.jsp
		</servlet-name>
		<url-pattern>/org.kuali.student.poc.POC/POC.jsp</url-pattern>
	</servlet-mapping>
	<!--inserted by gwt-maven-->
	<servlet-mapping>
		<servlet-name>
			com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl/org.kuali.student.ui.personidentity.PersonIdentity/logging
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/logging
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt/org.kuali.student.ui.personidentity.PersonIdentity/RegistrationService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/RegistrationService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.commons.ui.logging.server.LogServiceImpl/org.kuali.student.ui.personidentity.PersonIdentity/LogService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/LogService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.common.ui.messages.server.gwt.MessagesServiceImplGWT/org.kuali.student.ui.personidentity.PersonIdentity/MessagesService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/MessagesService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.commons.ui.validators.server.gwt.ValidatorServiceGWT/org.kuali.student.ui.personidentity.PersonIdentity/ValidatorService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/ValidatorService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.commons.ui.validators.server.impl.ValidatorTestServlet/org.kuali.student.ui.personidentity.PersonIdentity/ValidatorTestServlet
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/ValidatorTestServlet
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.commons.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl/org.kuali.student.ui.personidentity.PersonIdentity/ViewMetaDataService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/ViewMetaDataService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT/org.kuali.student.ui.personidentity.PersonIdentity/PersonIdentityService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/PersonIdentityService
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt/org.kuali.student.ui.personidentity.PersonIdentity/LearningUnitAppService
		</servlet-name>
		<url-pattern>
			/org.kuali.student.ui.personidentity.PersonIdentity/LearningUnitAppService
		</url-pattern>
	</servlet-mapping>


	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
