<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:cxf-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CxfServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
  <!--inserted by gwt-maven-->
  <servlet>
    <servlet-name>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl/org.kuali.student.ui.personidentity.PersonIdentity/logging</servlet-name>
    <servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>org.kuali.student.core.messages.server.gwt.MessagesServiceImplGWT/org.kuali.student.ui.personidentity.PersonIdentity/MessagesService</servlet-name>
    <servlet-class>org.kuali.student.core.messages.server.gwt.MessagesServiceImplGWT</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>org.kuali.student.core.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl/org.kuali.student.ui.personidentity.PersonIdentity/ViewMetaDataService</servlet-name>
    <servlet-class>org.kuali.student.core.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt/org.kuali.student.ui.personidentity.PersonIdentity/RegistrationService</servlet-name>
    <servlet-class>org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT/org.kuali.student.ui.personidentity.PersonIdentity/PersonIdentityService</servlet-name>
    <servlet-class>org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt/org.kuali.student.ui.personidentity.PersonIdentity/LearningUnitAppService</servlet-name>
    <servlet-class>org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt</servlet-class>
  </servlet>
  
  	<servlet-mapping>
		<servlet-name>CxfServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
  <!--inserted by gwt-maven-->
  <servlet-mapping>
    <servlet-name>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl/org.kuali.student.ui.personidentity.PersonIdentity/logging</servlet-name>
    <url-pattern>/org.kuali.student.ui.personidentity.PersonIdentity/logging</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>org.kuali.student.core.messages.server.gwt.MessagesServiceImplGWT/org.kuali.student.ui.personidentity.PersonIdentity/MessagesService</servlet-name>
    <url-pattern>/org.kuali.student.ui.personidentity.PersonIdentity/MessagesService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>org.kuali.student.core.ui.viewmetadata.server.gwt.ViewMetaDataServiceGWTImpl/org.kuali.student.ui.personidentity.PersonIdentity/ViewMetaDataService</servlet-name>
    <url-pattern>/org.kuali.student.ui.personidentity.PersonIdentity/ViewMetaDataService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>org.kuali.student.registration.server.gwt.RegistrationServiceImplGwt/org.kuali.student.ui.personidentity.PersonIdentity/RegistrationService</servlet-name>
    <url-pattern>/org.kuali.student.ui.personidentity.PersonIdentity/RegistrationService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>org.kuali.student.ui.personidentity.server.gwt.PersonIdentityServiceImplGWT/org.kuali.student.ui.personidentity.PersonIdentity/PersonIdentityService</servlet-name>
    <url-pattern>/org.kuali.student.ui.personidentity.PersonIdentity/PersonIdentityService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>org.kuali.student.ui.personidentity.server.gwt.LearningUnitAppServiceImplGwt/org.kuali.student.ui.personidentity.PersonIdentity/LearningUnitAppService</servlet-name>
    <url-pattern>/org.kuali.student.ui.personidentity.PersonIdentity/LearningUnitAppService</url-pattern>
  </servlet-mapping>


	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
