.label-normal label { font-weight:normal; }

.uif-header h3 { border-bottom:2px solid black; }

div.ks-meeting-collection { margin-bottom:10px; }
.ks-meeting-collection-days .uif-horizontalCheckboxesFieldset label { margin-right:3px; }
.ks-meeting-collection-time .uif-inputField { margin:2px 8px 2px 0; }
.ks-meeting-collection-time .uif-message { color:#333; font-size:90%; }

input:not([disabled="disabled"]).ui-autocomplete-input { background-color:white; }