/* Enrollment Title
   Enrollment header found on the enrollment home page
*/
.ks-enrollment-home > .uif-header {
    border-bottom: solid 2px #000;
    margin-bottom: 5px; margin-top:15px;
}

/* Setup Section
   Setup section found on the enrollment home page
*/
.ks-enrollment-home-group {
    margin-bottom: 5px;
    margin-top: 15px;
}

/* Manage Registration Windows
   Windows table section
*/
.ks-appointmentWindow-table tr{
    border-top:  1px solid #d3d3d3;
    border-bottom:  1px solid #d3d3d3;
}

/* Commenting this out as this does not appear to be used anymore
.ks-termDates-table{}

.ks-termDates-table tr{
    border-top:  1px solid #d3d3d3;
    border-bottom:  1px solid #d3d3d3;
}

.ks-termDates-table th{
    border-right:  1px solid #d3d3d3;
}

.ks-termDates-table .uif-constraintMessage{
    margin-bottom: 0px;
}
*/

/* Brian S says we ought not to do this
.uif-dropdownControl {
    margin: 0.3em 0;
    padding: 3px 3px 4px 3px;
}*/

/* Tabs */
.ui-widget-content a {
    color: #3F7826;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px; width: 19px; margin-left: 40px; float: left;
}

/*  Alignment for CO/AO delete confirmation Cancel links */
.ks-enrollment-cancel-link {
    padding: 7px 16px 5px 16px;
    margin: 3px;
}

/* Applying the CSS Grid Columns */
.col_1
{
    min-width: 40px;
    max-width: 55px;
    width: 6.25%;
}

.col_2
{
    min-width: 100px;
    max-width: 130px;
    width: 12.5%;
}

.col_3
{
    min-width: 160px;
    max-width: 205px;
    width: 18.75%;
}

.col_4
{
    min-width: 220px;
    max-width: 280px;
    width: 25%;
}

.col_5
{
    min-width: 280px;
    max-width: 355px;
    width: 31.25%;
}

.col_6
{
    min-width: 340px;
    max-width: 430px;
    width: 37.5%;
}

.col_7
{
    min-width: 400px;
    max-width: 505px;
    width: 43.75%;
}

.col_8
{
    min-width: 460px;
    max-width: 580px;
    width: 50%;
}

.col_9
{
    min-width: 520px;
    max-width: 655px;
    width: 56.25%;
}

.col_10
{
    min-width: 580px;
    max-width: 730px;
    width: 62.5%;
}

.col_11
{
    min-width: 640px;
    max-width: 805px;
    width: 68.75%;
}

.col_13
{
    min-width: 760px;
    max-width: 955px;
    width: 81.25%;
}

.col_14
{
    min-width: 820px;
    max-width: 1030px;
    width: 87.5%;
}

.col_15
{
    min-width: 880px;
    max-width: 1105px;
    width: 93.75%;
}
/* End of Applying the CSS Grid Columns */

/* View Registration Groups State Column
   These control the colour of the items in the State column
*/
.uif-scheduled-dl {
    color: grey;
}

.uif-actual-dl {
}

.uif-invalid-state {
    color: red;
}
/* End of View Registration Group State Column */

/* View Registration Groups Alerts
   These control the colour of the alerts that appear above the
   View Registration Group (count) link
*/
.uif-rg-message-partial {
    background-color: #FFFFCC;
    padding: 5px 10px;
    border-right: 5px solid #FFFFFF;
}

.uif-rg-message-all {
    background-color: #C6F785;
    padding: 5px 10px;
    border-right: 5px solid #FFFFFF;
}

.uif-rg-message-none {
    background-color: #B1ECFF;
    padding: 5px 10px;
    border-right: 5px solid #FFFFFF;
}
/* End of View Registration Groups Alerts */

/* Manage Registration Group */
/* Commenting this out as this does not appear to be used anymore
.aoc_links {
    float: right;
    padding: 8px;
}
*/

/* Prevents links from jumping to the next line */
a {
    white-space: normal;
}

/* This causes the cluster table to extend full width of the screen */
.aoc_disclosure .uif-horizontalFieldGroup {
    float: none;
}
/* End Manage Registration Groups */

/* Manage Registration Group (seperate form) */
.aoc_stateandlinks {
    background: #EDEDED;
    float: none;
}

.aoc_stateandlinks .uif-boxLayoutHorizontalItem {
    margin-bottom: 0px;
}

.aoc_dialog .uif-dialogHeader {
    background:none;
    margin-bottom: 0px;
}
/* End of Manage Registration Group (seperate form) */

/* Academic Calendar */
/* Create Academic Calendar > Information tab
   This causes the Organization, Start Date & End Date sections to start on a new line

   Create Academic Calendar > Terms tab
   This causes the Start Date & End Date sections to start on a new line
 */
.ac_disclosure .uif-boxLayoutHorizontalItem {
    float: none;
}
/* End of Academic Calendar */

/* Error 403 */
.error_403 {
    margin: 100px auto;
    width: 600px;
    overflow: auto;
}

.error_403 img {
    float: left;
    margin: 10px 25px 15px 25px;
}

.error_403 p {
    overflow: auto;
    margin: 0px 10px 20px 0px;
}
/* End of Error 403 */

/* Manage CO Action Links
   Links that appear in the Actions column on the Manage CO page
*/
.ks-table-uif-navigationActionLink {
    padding-left: 8px;
    margin-left: 8px;
}

/* Toolbar
   The toolbar can be found on the Manage CO & AO pages and are buttons such as
   Add Course, Approve and Delete.
*/

/* The background area which extends the full width of the table where the toolbar buttons sit on top of */
.ks-toolbar {
    padding-left: 6px;
    padding-top: 1px;
    background-color: #f1f1f1;
    height: 60px;
}

/* Individual Buttons */
.ks-toolbar button {
    font-size: 13px;
    color: black;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    width: 98px;
}

/* Individual Buttons when focused */
.ks-toolbar button:hover {
    background: #EBEBEB;
    background: -moz-linear-gradient(top, #e6e6e6 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(top, #e6e6e6 0%,#e6e6e6 100%);
    background: -o-linear-gradient(top, #e6e6e6 0%, #e6e6e6 100%);
    background: -ms-linear-gradient(top, #e6e6e6 0%, #e6e6e6 100%);
    background: linear-gradient(top, #e6e6e6 0%, #e6e6e6 100%);
    color: black;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
}

/* Disabled Buttons and the focus state */
.ks-toolbar button[disabled], .ks-toolbar button[disabled]:hover {
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-left: 0px;
    color: #B0B0B0;
}

/* When a disabled button becomes active, this class is called to remove the border from the left side */
.ks-toolbar-no-left-border {
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-left: 0px !important;
}

/* When a disabled button becomes active, this class is called to remove the border from the left side */
.ks-toolbar-no-left-border[disabled] {
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-left: 0px;
}

/* When a disabled button becomes active and is in focus, this class is called to remove the border from the left side */
.ks-toolbar-no-left-border[disabled]:hover {
    border: 1px solid #cccccc;
    border-left: 0px;
}

.ks-toolbar-group-padded {
    padding-right: 20px;
}
/*  End Toolbar  */

/* Watermark
   After a usability test it was determined that the Watermark styling was too similar to the standard text.
   To fix this we have the text lightened (to a level that's still valid for "accessibility") and made
   all watermark text appear in italics
*/
::-webkit-input-placeholder {
    color: #a9a9ab;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #a9a9ab;
    font-style: italic;
}
:-moz-placeholder {
    color: #a9a9ab;
    font-style: italic;
}
/*  End Watermark  */