/************************************** BOOTSTRAP DEFAULT BUTTON **************************************
    Used for Logout in the header
*/
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/************************************** END BOOTSTRAP DEFAULT BUTTON **************************************/



/* Enrollment Title
   Enrollment header found on the enrollment home page
*/
.ks-enrollment-home > .uif-header {
    border-bottom: solid 2px #000;
    margin-bottom: 5px; margin-top:15px;
}

/* Setup Section
   Setup section found on the enrollment home page
*/
.ks-enrollment-home-group {
    margin-bottom: 5px;
    margin-top: 15px;
}

/* Manage Registration Windows
   Windows table section
*/
.ks-appointmentWindow-table tr{
    border-top:  1px solid #d3d3d3;
    border-bottom:  1px solid #d3d3d3;
}

/* Commenting this out as this does not appear to be used anymore
.ks-termDates-table{}

.ks-termDates-table tr{
    border-top:  1px solid #d3d3d3;
    border-bottom:  1px solid #d3d3d3;
}

.ks-termDates-table th{
    border-right:  1px solid #d3d3d3;
}

.ks-termDates-table .uif-constraintMessage{
    margin-bottom: 0px;
}
*/

/* Brian S says we ought not to do this
.uif-dropdownControl {
    margin: 0.3em 0;
    padding: 3px 3px 4px 3px;
}*/

/* Tabs */
.ui-widget-content a {
    color: #3F7826;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px; width: 19px; margin-left: 40px; float: left;
}

/*  Alignment for CO/AO delete confirmation Cancel links */
.ks-enrollment-cancel-link {
    padding: 7px 16px 5px 16px;
    margin: 3px;
}




/************************************** CSS COLUMN GRID **************************************/
.col_1
{
    min-width: 40px;
    max-width: 55px;
    width: 6.25%;
}

.col_2
{
    min-width: 100px;
    max-width: 130px;
    width: 12.5%;
}

.col_3
{
    min-width: 160px;
    max-width: 205px;
    width: 18.75%;
}

.col_4
{
    min-width: 220px;
    max-width: 280px;
    width: 25%;
}

.col_5
{
    min-width: 280px;
    max-width: 355px;
    width: 31.25%;
}

.col_6
{
    min-width: 340px;
    max-width: 430px;
    width: 37.5%;
}

.col_7
{
    min-width: 400px;
    max-width: 505px;
    width: 43.75%;
}

.col_8
{
    min-width: 460px;
    max-width: 580px;
    width: 50%;
}

.col_9
{
    min-width: 520px;
    max-width: 655px;
    width: 56.25%;
}

.col_10
{
    min-width: 580px;
    max-width: 730px;
    width: 62.5%;
}

.col_11
{
    min-width: 640px;
    max-width: 805px;
    width: 68.75%;
}

.col_13
{
    min-width: 760px;
    max-width: 955px;
    width: 81.25%;
}

.col_14
{
    min-width: 820px;
    max-width: 1030px;
    width: 87.5%;
}

.col_15
{
    min-width: 880px;
    max-width: 1105px;
    width: 93.75%;
}
/************************************** END CSS COLUMN GRID **************************************/




/************************************** VIEW REGISTRATION GROUP STATE COLUMN **************************************
   These control the colour of the items in the State column
*/
.uif-scheduled-dl {
    color: grey;
}

.uif-actual-dl {
}

.uif-invalid-state {
    color: red;
}
/************************************** END VIEW REGISTRATION GROUP STATE COLUMN **************************************/




/************************************** VIEW REGISTRATION GROUP ALERTS **************************************
    These control the colour of the alerts that appear above the
    View Registration Group (count) link. Not sure if these are still being used
*/
.uif-rg-message-partial {
    background-color: #FFFFCC;
    padding: 5px 10px;
    border-right: 5px solid #FFFFFF;
}

.uif-rg-message-all {
    background-color: #C6F785;
    padding: 5px 10px;
    border-right: 5px solid #FFFFFF;
}

.uif-rg-message-none {
    background-color: #B1ECFF;
    padding: 5px 10px;
    border-right: 5px solid #FFFFFF;
}
/************************************** END VIEW REGISTRATION GROUP ALERTS **************************************/




/************************************** MANAGE REGISTRATION GROUP ***************************************
   Commenting this out as this does not appear to be used anymore
.aoc_links {
    float: right;
    padding: 8px;
}
*/

/* Prevents links from jumping to the next line */
a {
    white-space: normal;
}

/* This causes the cluster table to extend full width of the screen */
.aoc_disclosure .uif-horizontalFieldGroup {
    float: none;
}
/************************************** END MANAGE REGISTRATION GROUP ***************************************/




/************************************** MANAGE REGISTRATION GROUP (SEPARATE FORM) ***************************************/
.aoc_stateandlinks {
    background: #EDEDED;
    float: none;
}

.aoc_stateandlinks .uif-boxLayoutHorizontalItem {
    margin-bottom: 0px;
}

.aoc_dialog .uif-dialogHeader {
    background:none;
    margin-bottom: 0px;
}
/************************************** END MANAGE REGISTRATION GROUP (SEPARATE FORM) ***************************************/




/************************************** ACAL **************************************
   Create Academic Calendar > Information tab
   This causes the Organization, Start Date & End Date sections to start on a new line

   Create Academic Calendar > Terms tab
   This causes the Start Date & End Date sections to start on a new line
 */
.ac_disclosure .uif-boxLayoutHorizontalItem {
    float: none;
}
/************************************** END ACAL **************************************/




/************************************** ERROR 403 **************************************/
.error_403 {
    margin: 100px auto;
    width: 600px;
    overflow: auto;
}

.error_403 img {
    float: left;
    margin: 10px 25px 15px 25px;
}

.error_403 p {
    overflow: auto;
    margin: 0px 10px 20px 0px;
}
/************************************** END ERROR 403 **************************************/




/************************************** MANAGE CO ACTION LINKS **************************************
   Links that appear in the Actions column on the Manage CO page
*/
.ks-table-uif-navigationActionLink {
    padding-left: 8px;
    margin-left: 8px;
}
/************************************** END MANAGE CO ACTION LINKS **************************************/




/************************************** TOOLBAR **************************************
   The toolbar can be found on the Manage CO & AO pages and are buttons such as Add Course, Approve and Delete.
*/

/* The background area which extends the full width of the table where the toolbar buttons sit on top of */
.ks-toolbar {
    padding-left: 6px;
    padding-top: 6px;
    background-color: #f1f1f1;
    height: 54px;
}

/* Individual Buttons */
.ks-toolbar button {
    font-size: 13px;
    color: black;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    min-width: 98px;
    height: 48px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    white-space: normal;
}

/* Individual Buttons when focused */
.ks-toolbar button:hover {
    background: #EBEBEB;
    background: -moz-linear-gradient(top, #e6e6e6 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(top, #e6e6e6 0%,#e6e6e6 100%);
    background: -o-linear-gradient(top, #e6e6e6 0%, #e6e6e6 100%);
    background: -ms-linear-gradient(top, #e6e6e6 0%, #e6e6e6 100%);
    background: linear-gradient(top, #e6e6e6 0%, #e6e6e6 100%);
    color: black;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
}

/* Disabled Buttons and the focus state */
.ks-toolbar button[disabled], .ks-toolbar button[disabled]:hover {
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-left: 0px;
    color: #B0B0B0;
}

/* When a disabled button becomes active, this class is called to remove the border from the left side */
.ks-toolbar-no-left-border {
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-left: 0px !important;
}

/* When a disabled button becomes active, this class is called to remove the border from the left side */
.ks-toolbar-no-left-border[disabled] {
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-left: 0px;
}

/* When a disabled button becomes active and is in focus, this class is called to remove the border from the left side */
.ks-toolbar-no-left-border[disabled]:hover {
    border: 1px solid #cccccc;
    border-left: 0px;
}

.ks-toolbar-group-padded {
    padding-right: 20px;
}
/************************************** END TOOLBAR **************************************/




/************************************** WATERMARK **************************************
   After a usability test it was determined that the Watermark styling was too similar to the standard text.
   To fix this we have the text lightened (to a level that's still valid for "accessibility") and made
   all watermark text appear in italics
*/
::-webkit-input-placeholder {
    color: #a9a9ab;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #a9a9ab;
    font-style: italic;
}
:-moz-placeholder {
    color: #a9a9ab;
    font-style: italic;
}
/************************************** END WATERMARK **************************************/




.ks-line-action-seperator{
    cursor: default;
    text-decoration: none !important;
}

/*div.ks-line-action-seperator a:not(:last-child):after {*/
    /*display:inline-block;*/
    /*pointer-events: none;*/
    /*cursor: default;*/
    /*color:black;*/
    /*text-decoration: none;*/
    /*margin-left:.5em;*/
    /*margin-right:.5em;*/
    /*content:attr(data-actionseperator) " ";*/
/*}*/

.ks-seatpools :not(:last-child){
    margin-bottom: 0px;
    padding-bottom: 0px;
}




/************************************** APPLICATION HEADER **************************************/
.ks-uif-viewHeader-container {
    background-image:url('../images/header/bg_header.png');
    height: 49px;
}

/* Kuali Logo  */
.ks-logo-image {
    padding: 13px 0 0 13px;
}

/* Student Text  */
.ks-header-student {
    color: white;
    font-size: 17px;
    vertical-align: bottom;
    padding-left: 2px;
}

/* Alignment of the Right Content Area  */
.header-right-group{
    float: right;
}

.ks-header-list{
    list-style: none;
    float: right;
}

.ks-header-list li{
    float: left;
    padding-right: 13px;
    padding-top: 18px;
}

/* Altering the Default Link Colour */
.header-right-group a {
    color: white;
}

/* Altering the Default Hover Treatment */
.header-right-group a:hover {
    color: #999999;
    text-decoration: none;
}

/* Adjusting the Opacity of User Icon */
.ks-header-user {
    opacity: .5;
}

/* User Text */
.ks-header-admin {
    color: #999999;
}

/* Vertically Centering Action List & Username */
.ks-header-action-list, .ks-header-admin {
    padding-top: 18px;
}

/* Logout Button */
.ks-header-logout {
    padding-top: 10px;
}
/************************************** END APPLICATION HEADER **************************************/




/************************************** CONTEXT BAR ***********************/
.ks-topGroup {
    background-image:url('../images/context-bar/bg_context_bar.png');
    height: 38px;
    width: 100%;
    border-left: 8px solid lightgreen;
}

.ks-topGroup label{
    padding-right: 20px;
}

#contextBarTermCode, #contextBarSocState {
    padding-top: 8px;
    padding-left: 15px;
}
/*

.ks-topGroup-fall {
    background-color: #FF7800;
    width: 7px;
    height: 37px;
}


.ks-topGroup-winter {
    background-color: #88D4FF;
    width: 7px;
    height: 37px;
}


.ks-topGroup-spring {
    background-color: #95E28E;
    width: 7px;
    height: 37px;
}


.ks-topGroup-sumnmer {
    background-color: #FCFF00;
    width: 7px;
    height: 37px;
}
*/
/************************************** END CONTEXT BAR ***********************/




/************************************** BREADCRUMBS **************************************
   The background where breadcrumbs reside on */
#Uif-BreadcrumbWrapper {
    background-image: url('../images/breadcrumb/bg_breadcrumb.png');
}

/* Breadcrumb Dividers */
.uif-breadcrumbs > li {
    background-image: url(../images/breadcrumb/divider-breadcrumb.png);
}
/************************************** END BREADCRUMBS **************************************/




/************************************** ROLLOVER **************************************
   GridSubsection with Status/Refresh link on Rollover Details
   Go to Rollover > 201208 > 201308
*/
.ks-rolloverResultsInfoSection-gridSubsection table {
    margin-bottom: -3px;
    margin-left: 113px;
}
/************************************** END ROLLOVER **************************************/




/************************************** LOZENGES **********************
   This is designed to work with the Uif-DataField. We will need to make it more default later */
.text-lozenge-orange > span:first-child {
    color: white;
    background-color: darkorange;
    font-size: .85em;
    padding: 0.2em 0.6em;
    border-radius: 6px;
    margin-left: 1em;
    text-transform: uppercase;
    white-space: nowrap
}

.text-lozenge-grey > span:first-child {
    color: white;
    background-color: #a9a9a9;
    font-size: .85em;
    padding: 0.2em 0.6em;
    border-radius: 6px;
    margin-left: 1em;
    text-transform: uppercase;
    white-space: nowrap
}

    /* Uif-Message */
.text-lozenge-grey-msg {
    color: white;
    background-color: #a9a9a9;
    font-size: .85em;
    padding: 0.2em 0.6em;
    border-radius: 6px;
    text-transform: uppercase;
    white-space: nowrap
}

.text-lozenge-green-msg {
    color: white;
    background-color: #029a02;
    font-size: .85em;
    padding: 0.2em 0.6em;
    border-radius: 6px;
    text-transform: uppercase;
    white-space: nowrap
}
/************************************** END LOZENGES **********************/




/************************************** EDIT ACADEMIC CALENDAR STICKY FOOTER **********************
   Alignment of action buttons.
 */
.ac_stickyfooter {
    float: right;
}
/************************************** END EDIT ACADEMIC CALENDAR STICKY FOOTER **********************/




/************************************** BOOTSTRAP OVERRIDES **********************/
/* Overriding the 14px font size */
body {
    font-size: 13px;
}

/* Overriding from bottom as this was affecting headers items - Student text & user image */
img {
    vertical-align: baseline;
}

/* Overriding from block as required fields were dropping to another line */
label:not(.uif-labelBlock) {
    display: inline-block;
}

/* Overriding from margin-left 20px as this was indenting titles */
[class*="span"] {
    margin-left: 0px;
    float: none;
}

button {
    line-height: normal;
}

/* Overriding the fixed widths applied to drop down menus & input text fields as this was causing tables to extend beyond the width of the screen */
input,
textarea,
.uneditable-input, select {
    width: auto;
}
/************************************** END BOOTSTRAP OVERRIDES **********************/

/********************** Seasons Gradient *********************************************/
.seasons-gradient {
    background-image: linear-gradient(bottom, rgb(17,230,245) 12%, rgb(191,119,11) 50%, rgb(255,242,0) 75%, rgb(127,235,18) 100%);
    background-image: -o-linear-gradient(bottom, rgb(17,230,245) 12%, rgb(191,119,11) 50%, rgb(255,242,0) 75%, rgb(127,235,18) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(17,230,245) 12%, rgb(191,119,11) 50%, rgb(255,242,0) 75%, rgb(127,235,18) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(17,230,245) 12%, rgb(191,119,11) 50%, rgb(255,242,0) 75%, rgb(127,235,18) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(17,230,245) 12%, rgb(191,119,11) 50%, rgb(255,242,0) 75%, rgb(127,235,18) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(17,230,245)),
        color-stop(0.5, rgb(191,119,11)),
        color-stop(0.75, rgb(255,242,0)),
        color-stop(1, rgb(127,235,18))
    );
}
/********************** Seasons Gradient END *********************************************/
/*
   Edit Academic Calendar > Terms tab
   Masks the term code input control as a simple data field.
*/
input[disabled].acal_term_code{
    background-color: inherit;
    color: #000;
    border: none;
    cursor: pointer;
    display: inline-block;
    box-shadow: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 20px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    vertical-align: middle;
    width: 80px;
    word-spacing: 0px;
    zoom: 1;
}

.ks-uif-hasError{
    border: 2px solid #ff2300 !important;
}