.tree-bar-button {
    background-image: url('./images/buttonNormal.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em ;
    padding-left: 0em;
}

.tree-bar-button-selected {
    background-image: url('./images/buttonDisabled.png');
    background-repeat: no-repeat;
    background-size: 110px;
    border: 1px solid #808080;
    width: 86px;
    height: 48px;
    background-position: -10px -10px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    padding-right: 0em ;
    padding-left: 0em;
}

.kr-button-primary-disabled {
    background-image: url('./images/buttonDisabled.png');
    background-repeat: no-repeat;
    border: 1px solid #808080;
    font-weight: normal;
    text-transform: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: 0px;
    background: linear-gradient(none);
    color: #bfbfbf;
    padding-top: 0em;

}

.uif-boxLayoutHorizontalItem {
     margin-right: 0px;
 }

#Preview-Tree-Section .jstree-icon {
    display: none;
}

#Preview-Tree-Section .uif-message {
    margin-left: 15px;
}

#Preview-Tree-Section .jstree-leaf {
    background-image: none;
}
#Preview-Tree-Section .jstree-open {
    background-image: none;
}

#Preview-Tree-Section .ruleBlockSelected {
    background-color: transparent !important;
    border: none;
}

#Preview-Tree-Section .jstree-hovered {
    background-color: transparent;
}

.rootNode {
    border-bottom: #000000 solid 2px;
}

.rule-header {
      max-width: 36em;
  }


