
/* Setting a drop shadow on the entire header */
.uif-viewHeader-contentWrapper {
    padding-bottom: 1px;
    -webkit-box-shadow: 0px 6px 6px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 6px -5px rgba(0, 0, 0, 0.5);
}

/* Overriding from margin-left 20px as this was indenting titles */
[class*="span"] {
    margin-left: 0px;
    float: none;
}