.KS-Footer{
    background-color:#EEEEEE;
    width:100%;
    clear: both;
    height: 70px;
    margin-top: 3px;
    position: relative; 
}
.KS-Footer-Line1{
 text-align:center;
 padding-top: 20px;
 color:gray;
}

.KS-Footer-Line{
 text-align:center;
 color:gray;
}

.app-wrap{
	min-height: 100%;
}

.app-content{
	padding-bottom: 190px;
	clear: both;
}

@if user.agent ie && !user.agent ie7{
		.app-wrap{
			display: table;
			height: 100%;
		}
}