BODY
{
	FONT-FAMILY: Arial;
	BACKGROUND: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.ks-main {	
	width: 800px;
	padding-left: 5px;
	margin:0 auto;
}

.gwt-TextBox {
	width: 250px;
}

.gwt-ListBox {
	width: 250px;
}

.gwt-TextArea {
	width: 250px;
}

.info {
	border-style: solid;
	border-color: #ae1c27;
	border-width: 1;
	z-index: 99999999;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 250px;
	background-color: #fbf4f7;
	margin-right: 20px; 
}

.page-title {
	font: bold 18px tahoma, arial, verdana, sans-serif;
	border-style: solid;
	border-color: #ae1c27;
	border-width: 1;
	z-index: 99999999;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 20px;
	width: 100%;
	background-color: #fbf4f7;	
}


.action,.action a:link, .action a:visited, .action a:hover {
	font: 12px tahoma, arial, verdana, sans-serif;
	text-decoration: none;
	margin-left: 5px;
}

.ks-section {
	border-style: solid;
	border-color: #ae1c27;
	border-width: 1;
	width: 100%;
	margin-bottom: 20px;
	padding: 5px;
	background-color: #e8e8e8; 
}

.ks-orgChart{
	width: 1024px; 
	border-style: solid;
	border-color: #ae1c27;
	border-width: 1;
	background: #FFFFFF;
	padding: 5px;	
}

.ks-position {		

}
