.ks-header-boldWithLine {
    border-bottom: 2px solid #666666;
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    font-size:1.2em;
    font-weight:bold;
}

.ks-borderBottom {
    border-bottom: 2px solid #666666;
    padding-top:10px;
    padding-bottom:10px;
    text-align: left;
}
