.ks-termDates-table{

}

.ks-termDates-table tr{
    border-top:  1px solid #d3d3d3;
    border-bottom:  1px solid #d3d3d3;

}

.ks-termDates-table th{
    border-right:  1px solid #d3d3d3;
}

.ks-termDates-table .constraint{
    margin-bottom: 0px;
}

.uif-dropdownControl {
    margin: 0.3em 0;
    padding: 3px 3px 4px 3px;
}

.ui-widget-content a {
    color: #3F7826;
}