/* override theme-krad.css style; padding-right matches base.css */
td.col2, td.col4, th.col1, th.col3 { padding-bottom:0; padding-left:0; padding-right:1em; }

.ks-cell-align-center { text-align:center; }


/**** REMAINDER NEEDS TO BE REFACTORED TO USE ELEMENT STYLE CLASSES AND NOT ID'S ****/

/*-- Holiday Calendar View ----------------------------------------------------------------------*/
#holidayCalendarViewPage_div h2.uif-header { border-bottom:solid 2px #000; margin-bottom:5px; }
#KS-HolidayCalendar-View-Meta_div,
#KS-HolidayCalendar-View-Holidays_div table.uif-tableCollectionLayout { width:650px; }

#KS-HolidayCalendar-View-Meta_div h3 { border-bottom:solid 2px #000; margin-bottom:0; }
#KS-HolidayCalendar-View-Meta-GridGroup_div span.boxLayoutVerticalItem { margin-bottom:0; }
#KS-HolidayCalendar-View-Meta-GridGroup_group table { margin-bottom:0; }
#KS-HolidayCalendar-View-Meta-GridGroup_group table.uif-gridLayout tr { border-bottom:dotted 1px #333; }
#KS-HolidayCalendar-View-Meta-GridGroup_group table.uif-gridLayout th { white-space:nowrap; padding:5px; text-align:left; }
#KS-HolidayCalendar-View-Meta-GridGroup_group table.uif-gridLayout td { padding:5px 0 5px 0; }

#KS-HolidayCalendar-View-Holidays_div h3 { border-bottom:none; margin-bottom:0; margin-top:25px; }
#KS-HolidayCalendar-View-Holidays_group { margin:0; padding:0; }
#KS-HolidayCalendar-View-Holidays_group table.uif-tableCollectionLayout { margin-bottom:0; }
#KS-HolidayCalendar-View-Holidays_group table.uif-tableCollectionLayout thead th {
    border-top:none; border-bottom:solid 2px #000; padding-bottom:0; }
#KS-HolidayCalendar-View-Holidays_group table.uif-tableCollectionLayout tbody tr {
    background-color:transparent; border-bottom:dotted 1px #333; }
#KS-HolidayCalendar-View-Holidays_group table.uif-tableCollectionLayout tbody td {
    background-color:transparent; padding:0.3em; vertical-align:middle; }
/*-- End of Holiday Calendar View ---------------------------------------------------------------*/

/*-- Create New Holiday Calendar ----------------------------------------------------------------*/
#holidayCalendarCopyPage_div #viewheader_div { margin-bottom:10px; }
#KS-HolidayCalendar-CopyPage-header_div .uif-header { border-bottom:solid 2px #000; margin-bottom:5px; }
#KS-HolidayCalendar-CopyPage-Section_div table[role="presentation"] th {
    text-align:left; vertical-align:bottom; white-space:nowrap; }
#KS-HolidayCalendar-CopyPage-From_group { background-color:#eee; border:solid 1px #aaa; padding:5px 10px 5px 10px; }
#KS-HolidayCalendar-CopyPage-To_div { margin-top:15px; }
#KS-HolidayCalendar-CopyPage-To_group { border:solid 1px #aaa; padding:5px; }
#KS-HolidayCalendar-CopyPage-footer_div { margin-top:5px; }*/
/*-- End of Create New Holiday Calendar ---------------------------------------------------------*/