<h1>Editing enumeration_context</h1>

<% form_for(@enumeration_context) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @enumeration_context %> |
<%= link_to 'Back', enumeration_contexts_path %>