<h1>Listing enumeration_contexts</h1>

<table>
  <tr>
  </tr>

<% @enumeration_contexts.each do |enumeration_context| %>
  <tr>
    <td><%= link_to 'Show', enumeration_context %></td>
    <td><%= link_to 'Edit', edit_enumeration_context_path(enumeration_context) %></td>
    <td><%= link_to 'Destroy', enumeration_context, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New enumeration_context', new_enumeration_context_path %>