<?xml version="1.0" encoding="UTF-8"?>
  <!--
    Copyright 2008-2009 The Kuali Foundation Licensed under the Educational
    Community License, Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a copy of the License
    at http://www.opensource.org/licenses/ecl2.php Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific language
    governing permissions and limitations under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                           http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <bean id="postgresConfig" class="org.kuali.db.DatabasePojo" p:type="POSTGRESQL" p:urlFragment=":postgresql:"
    p:driver="org.postgresql.Driver"/>

  <bean id="mysqlConfig" class="org.kuali.db.DatabasePojo" p:type="MYSQL" p:urlFragment=":mysql:" p:driver="com.mysql.jdbc.Driver"/>

  <bean id="hsqlConfig" class="org.kuali.db.DatabasePojo" p:type="HSQL" p:urlFragment=":hsqldb:" p:driver="org.hsqldb.jdbcDriver"/>

  <bean id="h2Config" class="org.kuali.db.DatabasePojo" p:type="H2" p:urlFragment=":h2:" p:driver="org.h2.Driver"/>

  <bean id="jtdsSqlServerConfig" class="org.kuali.db.DatabasePojo" p:type="SQL_SERVER" p:urlFragment=":jtds:sqlserver:"
    p:driver="net.sourceforge.jtds.jdbc.Driver"/>

  <bean id="ms2000SqlServerConfig" class="org.kuali.db.DatabasePojo" p:type="SQL_SERVER" p:urlFragment=":microsoft:sqlserver:"
    p:driver="com.microsoft.jdbc.sqlserver.SQLServerDriver"/>

  <bean id="ms2005SqlServerConfig" class="org.kuali.db.DatabasePojo" p:type="SQL_SERVER" p:urlFragment=":sqlserver:"
    p:driver="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>

  <bean id="db2Config" class="org.kuali.db.DatabasePojo" p:type="DB2" p:urlFragment=":db2:" p:driver="com.ibm.db2.jcc.DB2Driver"/>

  <bean id="oracleConfig" class="org.kuali.db.DatabasePojo" p:type="ORACLE" p:urlFragment=":oracle:"
    p:driver="oracle.jdbc.driver.OracleDriver"/>

  <bean id="derbyConfig" class="org.kuali.db.DatabasePojo" p:type="DERBY" p:urlFragment=":derby:"
    p:driver="org.apache.derby.jdbc.EmbeddedDriver"/>

  <util:list id="databaseConfigs">
    <ref bean="postgresConfig"/>
    <ref bean="mysqlConfig"/>
    <ref bean="hsqlConfig"/>
    <ref bean="h2Config"/>
    <ref bean="jtdsSqlServerConfig"/>
    <ref bean="ms2000SqlServerConfig"/>
    <ref bean="ms2005SqlServerConfig"/>
    <ref bean="db2Config"/>
    <ref bean="oracleConfig"/>
    <ref bean="derbyConfig"/>
  </util:list>

</beans>